@import '../../../Common/Common';

.flex_0 {
  flex: 0;
}

.fit_content {
  width: fit-content;
}

.text_link {
  color: #337ab7;
}

.text_link:hover,
.text_link:focus {
  color: #23527c;
}

.rolesTable {
  width: fit-content;

  th,
  td {
    vertical-align: middle !important;
  }

  th {
    min-width: 150px;
  }

  td {
    min-width: 200px;
  }

  td pre {
    max-height: 150px;
  }
}

.selected,
.selected th {
  background-color: #fff3d5 !important;
}

// TODO: make common with Permissions page
.actionIcon {
  font-size: 12px;
  color: #337ab7;
  cursor: pointer;
}

.clickableCell {
  cursor: pointer;

  .actionIcon {
    visibility: hidden;
  }
}

.clickableCell:hover {
  background-color: #ebf7de;

  .actionIcon {
    visibility: visible;
  }
}

.clickableCell,
.actionCell {
  div:first-child {
    width: calc(100% - 20px);
  }
}
