# make @hge-changelog-owners team a mandatory reviewer for all
# pull requests to make sure a proper changelog is part of the pr
*         @hge-changelog-owners

# server code owners
/server/  @hge-server-owners

# docs code owners
/docs/    @hge-docs-owners

# cli code owners
/cli/     @hge-cli-owners

# console code owners
/console/ @hge-console-owners

