# Needed for the time being, since we can't upgrade graphiql right now since it requires to update the whole graphql stack
# See more here https://docs.npmjs.com/cli/v7/using-npm/config#legacy-peer-deps
legacy-peer-deps=true
