.hasura-dev-python-venv
server/tests-py/.devsh_version
npm-debug.log
*.temp
*.DS_Store
.tern-project
test-server-output
test-server-flags-output
.vscode
.idea
.now

# Standardize on 'venv' as the name for python venv directories
venv

# Test artifacts
*.tix
