@import '../Common/Common.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.formContainer {
  margin-top: -200px;
}

.loginAlternative {
  line-height: 34px;
}

.loginWrapper {
  width: 400px;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.mainWrapper {
  background-color: #f8fafb;
}
.input_addon_group {
  margin-bottom: 10px;
  padding: 0 15px;

  .input_group {
    width: 100%;

    .input_group_addon {
      background-color: #e2e2e2;
      height: 50px;
      width: 50px;
      border: 0;
    }

    input:focus {
      border: 1px solid #999;
    }

    .form_input {
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 50px;
      -webkit-box-shadow: none;
    }
  }
}

.login_btn {
  padding: 0 15px;
  padding-bottom: 15px;
  padding-top: 10px;

  button {
    background-color: #27ae60;
    height: 60px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
  }
}

.loginHeading {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: 'Gudea';
  color: #4d4d4d;
  font-weight: bold;

  .text {
    border-bottom: 1px solid #dcdcdc;
    width: 100px;
    margin: 10px auto;
  }
}

.hasuraLogo {
  width: 100px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.loginCenter {
  margin-top: -100px;
}
