.remove-text-decoration:hover {
  text-decoration: none;
}
.graphql-with-hasura-wrapper {
  background-image: url("@site/static/img/hasura-free.png");
  background-color: rgb(234, 240, 246);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px 0px;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 40px 0;
}
.graphql-with-hasura-wrapper:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
}
.graphql-with-hasura-wrapper:hover .try-hasura-div .arrow {
  transform: translateX(5px);
}
.graphql-with-hasura-wrapper .p40 {
  padding: 38px 50px;
  align-self: center;
}
.show-mobile {
  display: none;
}
.graphql-with-hasura-wrapper h3 {
  color: rgb(27, 38, 55);
}
.graphql-with-hasura-wrapper .desc, .graphql-with-hasura-wrapper ul {
  padding-inline-start: 0px;
}
.graphql-with-hasura-wrapper .desc {
  padding-bottom: 24px;
  margin-bottom: 0;
}
.graphql-with-hasura-wrapper .desc li {
  color: rgb(27, 38, 55);
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
}
.graphql-with-hasura-wrapper .desc svg {
  margin-top: 6px;
  width: 12px;
  margin-right: 8px;
}
.try-hasura-div {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: rgb(27, 38, 55);
  font-weight: 600;
  text-transform: uppercase;
}
.try-hasura-div .arrow {
  transition: all .3s ease-in-out;
  display: grid;
  margin-left: 6px;
}
@media (max-width: 767px) {
  .graphql-with-hasura-wrapper {
    background-image: none;
  }
  .graphql-with-hasura-wrapper .p40 {
    padding: 20px 20px 0px;
  }
  .show-mobile {
    display: contents;
    text-align: right;
    padding-top: 24px;
  }
  .show-mobile img {
    display: inline-block;
  }
}
