{ "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "parser": "babel-eslint",
  "rules": {
    "allowForLoopAfterthoughts": true,
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/first": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "comma-dangle": 0,
    "id-length": [1, {"min": 1, "properties": "never"}],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "arrow-parens": 0,
    "no-alert": 0,
    "no-plusplus": 0,
    "no-unsafe-negation": 0,
    "no-loop-func": 0,
    "no-lonely-if": 0,
    "no-bitwise": 0,
    "global-require": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-useless-return": 0,
    "no-restricted-syntax": 0,
    "no-prototype-builtins": 0,
    "array-callback-return": 0,
    "no-useless-concat": 0,
    "consistent-return": 0,
    "class-methods-use-this": 0,
    "arrow-body-style": 0,
    "prefer-template": 0,
    "prefer-spread": 0,
    "object-shorthand": 0,
    "object-curly-newline": 0,
    "spaced-comment": 0,
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "prefer-rest-params": 0,
    "function-paren-newline": 0,
    "no-case-declarations": 0,
    "no-restricted-globals": 0,
    "no-unneeded-ternary": 0,
    "no-mixed-operators": 0,
    "no-return-assign": 0,
    "operator-assignment": 0,
    "strict": 0,
    "react/jsx-no-duplicate-props": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-unused-state": 0,
    "react/no-array-index-key": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/no-unescaped-entities": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/lang": 0,
    "jsx-a11y/alt-text": 0,
    "max-len": 0
  },
  "plugins": [
    "react", "import", "cypress"
  ],

  "settings": {
    "import/parser": "babel-eslint",
    "parser": "babel-esling",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
