@import "../../Common/Common.scss";

.addPaddCommom
{
  padding: 10px 0;
}
.addPaddTop
{
  padding-top: 20px;
}
.resolverWrapper
{
  padding: 10px 0;
  .resolverContent
  {
    padding-bottom: 10px;
  }
  .resolverImg
  {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
  }
  .commonBtn
  {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 10px
  }
  .readMore
  {
    padding-bottom: 10px;
    text-align: center;
  }
}
.CommonWrapper
{
  .subheading_text
  {
    i
    {
      cursor: pointer;
    }
  }
  .radioLabel
  {
    padding-right: 20px;
    text-align: left;
    padding-top: 5px;
    .radioInput
    {
      cursor: pointer;
    }
  }
  .inputLabel
  {
    margin-left: 0;
    input
    {
      width: 300px;
    }
  }
}
.addWrapper
{
  .commonBtn
  {
    padding: 20px 0;
    padding-top: 40px;
    .yellow_button
    {
      margin-right: 20px;
    }
    a
    {
      margin-left: 20px;
    }
    span
    {
      i
      {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}
