// Use with two or more badges
.badge-container {
  display: flex;
  column-gap: 1rem;
}

.badge-gray {
  background-color: gray;
  border: var(--ifm-badge-border-width) solid gray;
  border-radius: var(--ifm-badge-border-radius);
  color: var(--ifm-badge-color);
  display: grid;
  align-items: center;
  font-size: 75%;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1;
  padding: var(--ifm-badge-padding-vertical) var(--ifm-badge-padding-horizontal);
}

.heading-badge,
.badge-container {
  font-size: 0.9rem;
  a {
    color: var(--ifm-secondary);
  }
  + p {
    margin-top: 1rem;
  }
}

// Collapsible menu category badge `alpha-cat`
.theme-doc-sidebar-menu {
  .theme-doc-sidebar-item-category.alpha-cat {
    .menu__list-item-collapsible {
      .menu__link {
        position: relative;
        &:after {
          content: 'Alpha';
          font-size: 0.7rem;
          font-weight: normal;
          margin-left: 5px;
          color: white;
          padding: 2px 5px;
          border-radius: 5px;
          min-height: unset;
          width: unset;
          height: unset;
          background: none;
          background-color: var(--ifm-color-gray-600);
          transform: none;
        }
      }
    }
  }
  .theme-doc-sidebar-item-category.beta-cat {
    .menu__list-item-collapsible {
      .menu__link {
        position: relative;
        &:after {
          content: "Beta";
          font-size: 0.7rem;
          font-weight: normal;
          margin-left: 5px;
          color: white;
          padding: 2px 5px;
          border-radius: 5px;
          min-height: unset;
          width: unset;
          height: unset;
          background: none;
          background-color: var(--ifm-color-gray-600);
          transform: none;
        }
      }
    }
  }
}

// Menu badge style for beta docs
.theme-doc-sidebar-menu {
  .alpha-tag {
    .menu__link {
      &:after {
        content: 'Alpha';
        font-size: 0.7rem;
        font-weight: normal;
        margin-left: 5px;
        color: white;
        background-color: var(--ifm-color-gray-600);
        padding: 2px 5px;
        border-radius: 5px;
      }
    }
  }

  .beta-tag {
    .menu__link {
      &:after {
        content: 'Beta';
        font-size: 0.7rem;
        font-weight: normal;
        margin-left: 5px;
        color: white;
        background-color: var(--ifm-color-gray-600);
        padding: 2px 5px;
        border-radius: 5px;
      }
    }
  }
}
