/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use "custom-dark";

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBM-Plex-Sans-300.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBM-Plex-Sans-400.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBM-Plex-Sans-500.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBM-Plex-Sans-600.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM-Plex-Mono-300.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM-Plex-Mono-600.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBM-Plex-Mono-normal.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono Regular";
  src: url("/fonts/IBM-Plex-Mono-Regular.woff2") format("woff2");

  /* Super Modern Browsers */
  font-weight: normal;
  font-display: swap;
}

/* You can override the default Infima variables here. */

:root {
  /* Custom Variables */
  --color-gray-0: #ffffff;
  --color-gray-4: #f3f5f7;
  --color-gray-4-alpha-04: rgba(243, 245, 247, 0.4);
  --color-gray-8: #e7ebef;
  --color-gray-12: #dce2e8;
  --color-gray-16: #cfd8df;
  --color-gray-74: #344658;
  --color-gray-78: #2c3b4b;
  --color-gray-82: #23303d;
  --color-gray-86: #1c262f;
  --color-gray-86-alpha-04: rgba(28, 38, 47, 0.4);
  --color-gray-90: #141c22;

  /* Docusaurus Specific variables */
  --ifm-color-primary: #0b89d0;
  --ifm-color-primary-dark: #0079bd;
  --ifm-color-primary-darker: #005c8f;
  --ifm-color-primary-darkest: #00324e;
  --ifm-color-primary-light: #1699e2;
  --ifm-color-primary-lighter: #35b6ff;
  --ifm-color-primary-lightest: #77ceff;
  --ifm-color-primary-contrast-background: #e1f4ff;
  --ifm-color-primary-contrast-foreground: #00324e;
  --ifm-color-secondary: #e0e7ee;
  --ifm-color-secondary-dark: #d5dee5;
  --ifm-color-secondary-darker: #c3cdd6;
  --ifm-color-secondary-darkest: #b1bcc7;
  --ifm-color-secondary-light: #ebf1f6;
  --ifm-color-secondary-lighter: #f2f7fb;
  --ifm-color-secondary-lightest: #f8fcff;
  --ifm-color-secondary-contrast-background: #ebf1f6;
  --ifm-color-secondary-contrast-foreground: #1b2738;
  --ifm-color-success: #46b486;
  --ifm-color-success-dark: #37a476;
  --ifm-color-success-darker: #02864f;
  --ifm-color-success-darkest: #026d40;
  --ifm-color-success-light: #54c596;
  --ifm-color-success-lighter: #66d0a3;
  --ifm-color-success-lightest: #77dbb1;
  --ifm-color-success-contrast-background: #ddfaed;
  --ifm-color-success-contrast-foreground: #003921;
  --ifm-color-info: #5898d2;
  --ifm-color-info-dark: #478bca;
  --ifm-color-info-darker: #2771b6;
  --ifm-color-info-darkest: #0b5599;
  --ifm-color-info-light: #6aa4db;
  --ifm-color-info-lighter: #7bb4e8;
  --ifm-color-info-lightest: #8cc3f5;
  --ifm-color-info-contrast-background: #e3f2ff;
  --ifm-color-info-contrast-foreground: #00315f;
  --ifm-color-warning: #dd9833;
  --ifm-color-warning-dark: #c78017;
  --ifm-color-warning-darker: #a66401;
  --ifm-color-warning-darkest: #794900;
  --ifm-color-warning-light: #f2b14f;
  --ifm-color-warning-lighter: #f6ba61;
  --ifm-color-warning-lightest: #f9c374;
  --ifm-color-warning-contrast-background: #ffefd8;
  --ifm-color-warning-contrast-foreground: #3e2500;
  --ifm-color-danger: #e66d6d;
  --ifm-color-danger-dark: #d95c5c;
  --ifm-color-danger-darker: #c64242;
  --ifm-color-danger-darkest: #a02929;
  --ifm-color-danger-light: #f47e7e;
  --ifm-color-danger-lighter: #f88e8e;
  --ifm-color-danger-lightest: #fc9f9f;
  --ifm-color-danger-contrast-background: #ffe8e8;
  --ifm-color-danger-contrast-foreground: #6a0808;

  --ifm-color-gray-100: var(--color-gray-12);
  /*--ifm-color-gray-200: #EBF1F6;
  --ifm-color-gray-300: #D5DEE5;
  --ifm-color-gray-400: #B1BCC7;
  --ifm-color-gray-500: #909DA6;
  --ifm-color-gray-600: #74818A;
  --ifm-color-gray-700: #616D75;
  --ifm-color-gray-800: #404955; */
  --ifm-color-gray-900: var(--color-gray-90);

  /* --ifm-navbar-background-color; */
  /* --ifm-background-color */
  --ifm-heading-color: var(--color-gray-74);
  --ifm-footer-background-color: var(--color-gray-8);
  --ifm-color-content-secondary: #616d75;
  --ifm-link-color: #0676c8;
  --ifm-menu-color: var(--ifm-color-content);
  --ifm-menu-color-active: var(--ifm-color-content);
  --ifm-toc-link-color: var(--ifm-color-content);

  --ifm-table-stripe-background: var(--color-gray-4-alpha-04);
  --ifm-pre-background: var(--color-gray-4);
  --ifm-code-background: var(--color-gray-4);
  --ifm-code-font-size: 0.875rem; /* 14px */

  /* --ifm-pre-color: inherit; */
  --ifm-global-shadow-lw: 0px 2px 6px rgba(0, 0, 0, 0.2);
  --ifm-global-shadow-md: 0px 4px 14px rgba(0, 0, 0, 0.16);
  --ifm-global-shadow-tl: 0px 10px 30px rgba(0, 0, 0, 0.16);

  --ifm-global-radius: 0.25rem;

  --doc-sidebar-width: 320px !important;
  --ifm-navbar-height: 72px !important;

  --ifm-font-family-base: "IBM Plex Sans", system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-monospace: "IBM Plex Mono Regular", "IBM Plex Mono",
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.5; /* 150% */
  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 600;

  --ifm-heading-line-height: 1.25;
  --ifm-h1-font-size: 2.5rem; /* 40px */
  --ifm-h2-font-size: 2rem; /* 32px */
  --ifm-h3-font-size: 1.5rem; /* 24px */
  --ifm-h4-font-size: 1.25rem; /* 20px */
  --ifm-h5-font-size: 1rem; /* 16px */
  --ifm-h6-font-size: 0.875rem; /* 14px */
  --ifm-small-font-size: 0.75rem; /* 12px */

  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);

  --ifm-footer-padding-vertical: 3rem;
}

/* Docusaurus Specific Styles */
.header-github-link {
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
  &:hover {
    opacity: 0.8;
  }
}

.DocSearch-Button {
  border-radius: var(--ifm-global-radius) !important;
}
@media (min-width: 768px) {
  .DocSearch-Button {
    width: 14rem;
  }
}

.theme-doc-sidebar-container {
  background-color: var(--color-gray-4);
  button[class*="collapseSidebarButton_"],
  div[class*="collapsedDocSidebar_"] {
    svg {
      display: none;
    }
    &::before {
      content: "";
      display: inline-block;
      background: url("/icons/collapse-arrow-left.svg") no-repeat;
      width: 1.25rem;
      height: 1.25rem;
      margin-top: 0.25rem;
    }
  }
  div[class*="collapsedDocSidebar_"] {
    &::before {
      transform: rotate(180deg);
    }
  }
}
.theme-doc-sidebar-menu {
  font-size: 14px;
  font-weight: var(--ifm-font-weight-normal);
  .menu__link {
    .menu__link--active,
    &.menu__link--active {
      font-weight: var(--ifm-font-weight-bold);
    }
  }
}

.menu__list-item--collapsed {
  .menu__list-item-collapsible {
    &::before {
      transform: rotate(0deg) !important;
      transition: all var(--ifm-transition-fast) ease-in-out;
    }
  }
}

.theme-doc-sidebar-menu {
  .theme-doc-sidebar-item-category {
    .theme-doc-sidebar-item-link {
      margin-top: 0;
      .menu__link {
        border-left: 0.1rem solid var(--color-gray-16);
        border-radius: 0 0.25rem 0.25rem 0;
      }
      .menu__link--active {
        border-left: 0.1rem solid var(--color-gray-82);
      }
    }
  }
  .theme-doc-sidebar-item-link-level-1.menu__list-item,
  .theme-doc-sidebar-item-link-level-2.menu__list-item {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      background: url("/icons/dot-light.svg") no-repeat;
      width: 1rem;
      height: 1rem;
      transform: scale(0.7);
    }
    .menu__link {
      border-left: none;
      justify-content: flex-start;
    }
  }

  .menu__list-item {
    // margin-top: 0;
    .menu__caret {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0 0;
    }
    .menu__caret::before,
    .menu__link--sublist::after {
      min-width: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background: url("/icons/chevron-top.svg") no-repeat;
      background-position: center center;
      min-height: 29.5px;
    }
    .menu__link--sublist::after {
      position: absolute;
      left: 0;
      top: 0;
    }
    // .menu__link--active {
    //   background: var(--ifm-menu-color-background-active) !important;
    // }
    .menu__list-item-collapsible {
      &::before {
        content: "";

        width: 1.5rem;
        height: 1.5rem;
        height: auto;
        background-position: center center;
        transform: rotate(90deg);
        transition: all 0.3s ease-in-out;
      }
      .menu__link--active {
        background: var(--ifm-menu-color-background-active) !important;
      }
    }

    // &:not(.theme-doc-sidebar-item-category) {
    //   .menu__link {
    //     border-left: 1px solid var(--color-gray-74);
    //     border-radius: 0;
    //     &--active {
    //       border-left-color: var(--color-gray-86);
    //     }
    //   }
    // }
  }
}

.table-of-contents {
  margin-left: 0;
  padding-left: var(--ifm-toc-padding-horizontal);
  &.table-of-contents__left-border {
    border-left: 1px solid var(--color-gray-16);
  }
  .table-of-contents__link {
    display: block;
    font-size: 0.75rem;
  }
  .table-of-contents__link--active {
    font-weight: var(--ifm-font-weight-bold);
    border-left: 0.125rem solid var(--color-gray-82);
    color: var(--ifm-font-color-base);
    margin-left: -1rem;
    padding-left: 0.75rem;
  }
}

.theme-doc-breadcrumbs {
  .breadcrumbs {
    .breadcrumbs__item {
      --ifm-breadcrumb-padding-horizontal: 0;
      &:first-child {
        display: none;
      }
      .breadcrumbs__link {
        background-color: transparent;
      }
    }
  }
}

.markdown {
  --ifm-h1-vertical-rhythm-top: 2.5;
  h1:first-child {
    --ifm-h1-font-size: 2.5rem; /* 40px */
  }
}

.admonition {
  .admonition-heading h5 {
    text-transform: capitalize;
  }

  a {
    color: var(--ifm-alert-border-color);
  }
}

.theme-code-block {
  box-shadow: none !important;
}

code {
  background-color: var(--color-gray-4);
}

pre {
  code {
    background-color: var(--ifm-code-background);
  }
}

div[class*="codeBlockTitle_"] {
  background-color: var(--ifm-code-background) !important;
}

.alert {
  pre {
    code {
      --ifm-code-background: var(--color-gray-4);
    }
  }
}

.docusaurus-highlight-code-line {
  background-color: var(--color-gray-12);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.theme-edit-this-page {
  display: flex;
  align-items: center;
  height: 30px;
  color: var(--ifm-color-gray-900);
  svg {
    display: none;
  }
  &::before,
  &::after {
    content: "";
    display: inline-block;
    transform: translateX(0);
    transition: transform var(--ifm-transition-fast) linear;
  }
  &::before {
    margin-right: 0.5rem;
    background: url("/icons/github-dark.svg") no-repeat;
    width: 24px;
    height: 24px;
  }
  &::after {
    margin-left: 0.25rem;
    background: url("/icons/arrow_right.svg") no-repeat;
    width: 1rem;
    height: 1rem;
    margin-bottom: -0.25rem;
  }
  &:hover {
    text-decoration: none;
    color: var(--ifm-color-gray-1000);
    &::after {
      transform: translateX(0.25rem);
    }
  }
}

.pagination-nav {
  .pagination-nav__item {
    &:not(:empty) {
      background-color: var(--color-gray-4);
      &:hover {
        background-color: var(--color-gray-8);
      }

      .pagination-nav__link {
        border-color: transparent;
        box-shadow: var(--ifm-global-shadow-lw);
        color: var(--color-gray-74);
      }
      .pagination-nav__label {
        font-size: 1rem;
      }

      .pagination-nav__sublabel {
        display: none;
      }
    }
    &:first-child .pagination-nav__label::before,
    &--next .pagination-nav__label::after {
      content: "";
      display: inline-block;
      background: url("/icons/arrow_right.svg") no-repeat;
      width: 1rem;
      height: 1rem;
      margin-bottom: -0.2rem;
      transition: transform var(--ifm-transition-fast) linear;
    }
    &:first-child {
      .pagination-nav__label::before {
        margin-right: 0.25rem;
        transform: rotate(180deg);
      }
      &:hover {
        .pagination-nav__label::before {
          transform: rotate(180deg) translateX(0.25rem);
        }
      }
    }
    &--next {
      .pagination-nav__label::after {
        margin-left: 0.25rem;
      }
      &:hover {
        .pagination-nav__label::after {
          transform: translateX(0.25rem);
        }
      }
    }
  }
}

.footer__links {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;

  .footer__title {
    font-size: 0.75rem;
  }

  .footer__item {
    padding: 0.625rem 0;
  }
}

/* .footer__links .footer__link-item svg {
  display: none;
} */

/* Custom Styles */

.no-shadow {
  box-shadow: none !important;
}

/* navbar */

.navbar__item.navbar__link {
  font-size: 14px;
  line-height: 20px;
}

.nav-link_login {
  color: var(--ifm-color-primary);
}

.nav-link_getting-started {
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  background-color: var(--ifm-color-primary-light);
  color: var(--color-gray-0);
  border-radius: var(--ifm-global-radius);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;

  &:hover {
    background-color: var(--ifm-color-primary-dark);
    color: var(--color-gray-0);
  }
}

.close {
  color: #fff;
  opacity: 0.75;
}
