/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use 'default-fonts-and-colors';
@use 'header';
@use 'sidebar';
@use 'table-of-contents';
@use 'doc';
@use 'footer';
@use 'introduction-page';
@use 'overview-page';
@use 'cloud-db-icon-gallery';
@use 'admonitions';
@use 'badges';
@use 'tables';

/* Custom Styles */
.no-shadow {
  box-shadow: none !important;
}

.close {
  color: #fff;
  opacity: 0.75;
}

.sub-heading {
  grid-column: 1 / -1;

  h3 {
    margin-bottom: 10px;
  }
}

.front-matter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-column: 1 / -1;

  iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}
.theme-back-to-top-button {
  display: none;
}

.arrow {
  transition: all 0.3s ease-in-out;
  display: grid;
  margin-left: 6px;

  path {
    stroke: var(--ifm-link-color);
  }
}

.heading-badge {
  font-size: 0.9rem;
  + p {
    margin-top: 1rem;
  }
}

.theme-doc-sidebar-item-link {
  font-size: 0.8rem;
}

/* Dark Mode Styles */

html[data-theme='dark'] {
  .no-shadow {
    background-color: var(--color-gray-0);
  }
}
