/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use 'default-fonts-and-colors';
@use 'cloud-and-enterprise-menu-icons';
@use 'header';
@use 'sidebar';
@use 'table-of-contents';
@use 'doc';
@use 'footer';
@use 'introduction-page';
@use 'cloud-db-icon-gallery';
@use 'admonitions';
@use 'badges';

/* Custom Styles */
.no-shadow {
  box-shadow: none !important;
}

.close {
  color: #fff;
  opacity: 0.75;
}

.sub-heading {
  grid-column: 1 / -1;

  h3 {
    margin-bottom: 10px;
  }
}

.arrow {
  transition: all 0.3s ease-in-out;
  display: grid;
  margin-left: 6px;

  path {
    stroke: var(--ifm-link-color);
  }
}

.heading-badge {
  font-size: 0.9rem;
  + p {
    margin-top: 1rem;
  }
}

.db-tables {
  table {
    td:first-child {
      width: 40%;
    }
  }
}

.server-reference-tables {
  h3 {
    margin-top: 4rem;
  }
  table {
    td:nth-child(2) {
      width: 84%;
    }
  }
}

.pricing-table {
  td:first-child {
    width: 20%;
  }
  td:last-child {
    width: 30%;
  }
  td {
    vertical-align: top;
  }
}

/* Dark Mode Styles */

html[data-theme='dark'] {
  .no-shadow {
    background-color: var(--color-gray-0);
  }
}
