.newVersionModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.displayNone {
    display: none;
}

.modalMain {
    position: relative;
    background: white;
    padding: 50px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .modalMain {
        max-width: 90%;
    }
}

.closeIcon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.monstaImage {

}

.aboveHeadline {
    margin-top: 1.3rem;
    font-weight: bold;
    color: var(--ifm-link-color);;
}

[data-theme='dark'] .bodyText {
    color: #141c22;
}


.headline {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.3rem;
}


[data-theme='dark'] .headline {
    color: #141c22;
}

.subhead {

}

[data-theme='dark'] .subhead {
    color: #141c22;
}

.bodyText {
    font-size: .95rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


[data-theme='dark'] .bodyText {
    color: #141c22;
}

.ctaThing {
    display: block;
    background-color: #21c45c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.ctaThing a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}