.new-version-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it appears above other elements */
}

.display-block {
    display: flex; /* Change to flex to use flex properties */
}

.display-none {
    display: none;
}

.new-version-modal .modal-main {
    background: white;
    padding: 50px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

@media (max-width: 600px) {
    .new-version-modal .modal-main {
        max-width: 90%;
    }
}

.close-icon {
    cursor: pointer;
    position: relative;
    top: -25px;
    left: -20px;
}

.monsta-image {

}

.above-headline {
    margin-top: 1.3rem;
    font-weight: bold;
    color: var(--ifm-link-color);;
}

.headline {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.3rem;
}


.body-text {
font-size: .95rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cta-thing {
    display: block;
 background-color: #21c45c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
}

.cta-thing a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

html[data-theme='dark'] {
    .headline {
        color: #141c22;
    }
    .subhead {
        color: #141c22;
    }
    .body-text {
        color: #141c22;
    }
}
