apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: default
data:
  Caddyfile: |
    learn.hasura.io {
      redir 301 {
        /graphql/react/boilerplate.zip https://storage.googleapis.com/graphql-engine-cdn.hasura.io/learn-hasura/react-boilerplate/boilerplate.zip
      }
      redir 301 {
        /graphql/react /graphql/react/introduction
      }
      proxy / homepage
      proxy /graphql/console hasura/console {
        without /graphql/console
      }
      proxy /graphql/v1alpha1/graphql hasura/v1alpha1/graphql {
        without /graphql/v1alpha1/graphql
        websocket
      }
      proxy /graphql/v1/query hasura/v1/query {
        without /graphql/v1/query
      }
      proxy /graphql/graphiql graphiql {
        without /graphql/graphiql
      }
      proxy /graphql/react react-apollo
      proxy /graphql hasura/v1alpha1/graphql {
        without /graphql
        websocket
      }
    }
