apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-config
  namespace: default
data:
  Caddyfile: |
    learn.hasura.io {
      redir 301 {
        /graphql/react/boilerplate.zip https://storage.googleapis.com/graphql-engine-cdn.hasura.io/learn-hasura/react-boilerplate/boilerplate.zip
      }

      redir 301 {
        /graphql/vue/boilerplate.zip https://storage.googleapis.com/graphql-engine-cdn.hasura.io/learn-hasura/vue-boilerplate/boilerplate.zip
      }

      redir 301 {
        /graphql/react/ /graphql/react/introduction
      }

      redir 301 {
        /graphql/vue/ /graphql/vue/introduction
      }

      redir 302 {
        if {path} is /
        / /graphql/react/introduction
      }

      # proxy / homepage

      proxy /graphql/console hasura/console {
        without /graphql/console
      }

      proxy /graphql/v1/graphql hasura/v1/graphql {
        without /graphql/v1/graphql
        websocket
      }

      proxy /graphql/v1/query hasura/v1/query {
        without /graphql/v1/query
      }

      proxy /graphql/v1/version hasura/v1/version {
        without /graphql/v1/version
      }

      proxy /graphql/graphiql graphiql {
        without /graphql/graphiql
      }

      proxy /graphql/react react-apollo

      proxy /graphql/vue vue-apollo

      proxy /graphql hasura/v1/graphql {
        without /graphql
        websocket
      }
    }
