[package]
name = "graphql-schema"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
bench = false

[[bin]]
name = "build-schema-from-metadata"
path = "bin/build-schema-from-metadata/main.rs"
bench = false

[dependencies]
hasura-authn-core = { path = "../../auth/hasura-authn-core" }
jsonpath = { path = "../../utils/jsonpath" }
lang-graphql = { path = "../lang-graphql" }
open-dds = { path = "../../open-dds" }
metadata-resolve = {path = "../../metadata-resolve" }

indexmap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
insta = { workspace = true }

[lints]
workspace = true
