/* Testimonial section start here */
.Testimonials {
  background-color: #f7f7f7;
}
.TestimonialsSection {
  padding: 75px 0;
}
.pageSubHeader
{
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  color: #102261;
  padding-bottom: 20px;
  line-height: normal;
}
.TestimonialsWrapper
{
  clear: both;
  .pageSubHeader
  {
    text-align: center;
    color: #2b0785;
    padding-bottom: 40px;
  }
  .testimonialsCarouselWrapper
  {
    // padding-top: 20px;
    .testimonialsCarousel
    {
      .quoteImg
      {
        position: absolute;
        top: -66px;
      }
      .quoteLeft
      {
        left: -30px;
      }
      .quoteright
      {
        right: -30px;
      }
      .carouselIndicators
      {
        bottom: -65px;
        li
        {
          margin: 0 16px;
          border: 1px solid #2b0785;
          width: 8px;
          height: 8px;
        }
      }
      .carouselInner
      {
        width: 90%;
        margin: 0 auto;
        min-height: 188px;
        .carouselInnerItems
        {
          margin-bottom: 5px;
          padding: 0 20px;
          width: 100%;
          float: left;
          // min-height: 618px;
          .indivRectBox
          {
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            padding: 15px;
            position: relative;
            // margin-top: 30px;
            min-height: 180px;
            .pageDescription
            {
              font-weight: 600;
              padding-bottom: 10px;
              line-height: 1.5;
              width: 97%;
              font-size: 14px;
              a
              {
                color: #1f88e5;
              }
              a:hover
              {
                text-decoration: none;
                color: #1f88e5 !important;
                border-bottom: 1px solid #1f88e5 !important;
              }
            }
            .pageDescriptionSmall
            {
              padding-bottom: 0px;
              line-height: normal;
              font-weight: 300;
              color: #505050;
              text-align: left;
              a
              {
                color: #1f88e5;
                text-decoration: none;
              }
              a:hover
              {
                text-decoration: none;
                border-bottom: 1px solid #1f88e5;
              }
            }
            .pageDescription, .pageDescription1
            {
              text-align: left;
              color: #fff;
            }
            .quotes
            {
              position: absolute;
              top: 20px;
              right: 20px;
              img
              {
                width: 23px;
              }
              .imgSmall
              {
                width: 20px;
              }
            }
          }
        }
      }
      .carouselControl
      {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: inherit !important;
        img
        {
          height: 25px;
          display: inline-block;
        }
      }
      .prodImgSmall
      {
        max-height: 62px;
      }
    }
    .graphql_discription
    {
      padding-top: 20px;
      color: #fff;
      text-align: center;
    }
  }
}
/* Testimonial section ends here */
@media (max-width: 767px)
{
  /* Testimonial section start here */
  .TestimonialsWrapper
  {
    // padding-top: 30px;
    .pageSubHeader
    {
      padding: 0 15px;
      padding-bottom: 0;
    }
    .testimonialsCarouselWrapper
    {
      padding-top: 0;
      .testimonialsCarousel
      {
        .quoteImg
        {
          width: 30px;
          top: 5px;
        }
        .quoteLeft
        {
          left: -15px;
        }
        .quoteright
        {
          right: -15px;
        }
        .carouselInner
        {
          width: 100%;
          padding-bottom: 3px;
          .carouselInnerItems
          {
            padding: 0 0px;
            .indivRectBox
            {
              min-height: auto;
              margin-top: 30px;
              .pageDescription
              {
                font-size: 14px;
                width: 93%;
              }
              .pageDescriptionSmall
              {
                word-break: break-word;
                font-size: 15px;
              }
              .pageDescription1
              {
                font-size: 13px;
              }
              .quotes
              {
                img
                {
                  width: 15px;
                }
                .imgSmall
                {
                  width: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  /* Testimonial section ends here */
}
@media (min-width: 768px) and (max-width: 991px)
{
  /* Testimonial section start here */
  .TestimonialsWrapper
  {
    .testimonialsCarouselWrapper
    {
      .testimonialsCarousel
      {
        .quoteImg
        {
          width: 60px;
          top: -49px;
        }
        .quoteLeft
        {
          left: -20px;
        }
        .quoteright
        {
          right: -20px;
        }
        .carouselInner
        {
          width: 90%;
          min-height: 230px;
          .carouselInnerItems
          {
            padding: 0 0px;
            // min-height: 768px;
            .indivRectBox
            {
              min-height: 222px;
              .pageDescription
              {
                font-size: 15px;
              }
              .pageDescriptionSmall
              {
                word-break: break-word;
                font-size: 15px;
              }
              .quotes
              {
                img
                {
                  width: 18px;
                }
                .imgSmall
                {
                  width: 18px;
                }
              }
              .pageDescription1
              {
                line-height: 1.4;
              }
            }
          }
        }
      }
    }
  }
  /* Testimonial section ends here */
}
@media(width: 1024px)
{
  .TestimonialsWrapper
  {
    .testimonialsCarouselWrapper
    {
      .testimonialsCarousel
      {
        .carouselInner
        {
          width: 90%;
          .carouselInnerItems
          {
            padding: 0 0px;
            .indivRectBox
            {
              min-height: 213px;
            }
          }
        }
      }
    }
  }
}
