.fix_column_width {
  width: 30%;
}

.margin_right {
  margin-right: 5px;
}

.create_button_styles {
  margin-left: 5px;
  margin-bottom: 4px;
}

.tab_background {
  background-color: #f2f2f2;
}

.margin_top {
  margin-top: 20px;
}

.input_box_styles {
  width: 200px;
  display: inline;
}
