[package]
name = "hasura-authn-webhook"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
bench = false

[dependencies]
all-or-list = { path = "../../utils/all-or-list"}
engine-types = { path = "../../engine-types" }
hasura-authn-core = { path = "../hasura-authn-core" }
open-dds = { path = "../../open-dds" }
serde-ext = { path = "../../utils/serde-ext" }
tracing-util = { path = "../../utils/tracing-util" }

axum = { workspace = true }
reqwest = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
mockito = { workspace = true }
rand = { workspace = true }
tokio = { workspace = true }

[lints]
workspace = true
