aniso8601==7.0.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
dash==1.6.0
dash-core-components==1.5.0
dash-html-components==1.0.1
dash-renderer==1.2.0
dash-table==4.5.0
docker==4.1.0
Flask==1.1.1
Flask-Compress==1.4.0
future==0.18.2
graphene==3.0.dev20190817210753
graphql-core==3.0.0b1
graphql-relay==3.0.0a1
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
plotly==4.2.1
psycopg2==2.8.4
py-cpuinfo==5.0.0
requests==2.22.0
requests-cache==0.5.2
retrying==1.3.3
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
six==1.12.0
urllib3==1.25.6
websocket-client==0.56.0
Werkzeug==0.16.0
