.paperform-embed-wrapper {
  background-color: var(--color-gray-4);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}

.loadingText {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 16px;
}
