.collapsibleWrapper {
  margin-bottom: 5px;

  .collapsibleToggle {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;

    &::-webkit-details-marker {
      display:none;
    }
    &::marker {
      display: none;
    }
    .collapsibleIndicatorWrapper {
      padding-right: 10px;
      font-size: 12px;

      .collapsibleIndicator {
        transition: transform 0.3s ease;
      }

      .collapsibleIndicatorOpen {
        transform: rotate(90deg);
      }
    }

    .titleWrapper {
      display: inline-block;
    }

    .defaultCollapsibleTitle {
      color: #788095;
      font-weight: bold;
      font-size: 14px;
    }
  }

  .collapsibleContent {
    margin-top: 10px;
    display: block;
  }
}
