.collapsibleWrapper {
  margin-bottom: 5px;

  .collapsibleToggle {
    cursor: pointer;
    display: inline-block;

    .collapsibleIndicator {
      transition: transform 0.3s ease;
    }

    .collapsibleIndicatorOpen {
      transform: rotate(90deg);
    }
  }

  .defaultCollapsibleTitle {
    color: #788095;
    font-weight: bold;
    font-size: 14px;
  }
}

.collapsibleContent {
  margin-top: 10px;
  display: block;
}
