.collapsibleWrapper {
  .collapsibleToggle {
    cursor: pointer;
    display: inline-block;
    .caretWrapper {
      padding-right: 10px;
      font-size: 12px;
      .rightArrow {
        transition: transform 0.3s ease;
      }
      .downArrow {
        transform: rotate(90deg);
        transition: transform 0.3s ease;
      }
    }
    .titleWrapper {
      display: inline-block;
    }
  }
  .collapsibleContent {
    margin-top: 10px;
    display: block;
  }
}
