#!/usr/bin/env bash

# This is a direnv configuration that will load your locally-provided direnv
# .envrc.local file.
#
# Install direnv, then add anything you'd like to load when entering this
# directory.
#
# See .envrc.local.example for examples.

source_env_if_exists .envrc.local
