.container {
  padding: 0 2rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  margin: 10px;
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.card .content {
  padding: 20px 30px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.card.loading .image,
.card.loading h2,
.card.loading p {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.card.loading .image {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card.loading h2 {
  height: 30px;
}
.card.loading p {
  height: 70px;
}
