.container {
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
}

.mat-icon {
  vertical-align: middle;
}

.example-full-width {
  width: 100%;
}

.example-button-row button {
  margin-right: 8px;
}

.button {
  width: 100px;
}
