__pycache__/
dist
cabal-dev
Pipfile
Pipfile.lock
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
*.tix
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.prof*
*.aux
*.hp
TAGS
.stack-work*
*.log

# ws related
ws/
build/rootfs

random*.sql

# example related
sample/data
