<div>
  <Header (logoutHandler)="logoutHandler()"></Header>
  <div class="container-fluid p-left-right-0">
    <div class="col-xs-12 col-md-9 p-left-right-0">
      <div class="col-xs-12 col-md-6 sliderMenu p-30">
        <TodoPrivateWrapper></TodoPrivateWrapper>
      </div>
      <div class="col-xs-12 col-md-6 sliderMenu p-30 bg-gray border-right">
        <TodoPublicWrapper ></TodoPublicWrapper>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 p-left-right-0">
      <div class="col-xs-12 col-md-12 sliderMenu p-30 bg-gray">
        <OnlineUsersWrapper ></OnlineUsersWrapper>
      </div>
    </div>
  </div>
</div>