{
  "extends": "oclif",
  "rules": {
    "max-params": "off",
    "no-console": "off",
    "max-depth": "off",
    "one-var": "off",
    "complexity": "off",
    "unicorn/no-process-exit": "off",
    "unicorn/filename-case": "off",
    "no-process-exit": "off",
    "no-throw-literal": "off",
    "node/no-unsupported-features": "off",
    "no-warning-comments": "off",
    "semi": [1, "always"],
    "camelcase": "off",
    "guard-for-in": "off"
  }
}
