@import "../../Common/Common.scss";

.addPaddCommom {
  padding: 10px 0;
}

.wd_300 {
  width: 300px;
}

.wd60 {
  width: 60%;
}

.addPaddTop {
  padding-top: 20px;
}

.dropdown_button {
  width: 300px;
}

.detailsSection {
  width: 80%;
  margin-top: 20px;
}

.detailsRefreshButton {
  padding-top: 10px !important;
}

.actionsWrapper {
  // padding: 10px 0;

  .actionsContent {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .actionsImg {
    width: 100%;
    padding: 20px;
    text-align: center;
    // height: 200px;
    // border: 1px solid #000;

    img {
    }
  }

  .commonBtn {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 10px
  }

  .readMore {
    padding-bottom: 10px;
    text-align: center;
  }
}

.iconWrapper{
  padding: 20px 0;

  .icon {
    padding-right: 20px;

    img {
      width: 80%;
    }
  }
}

.CommonWrapper {
  .check_box {
    margin-bottom: 20px;

    label {
      cursor: pointer;
      margin-right: 10px;
    }

    input {
      margin: 0;
      cursor: pointer;
    }

    i {
      cursor: pointer;
    }
  }

  .font_normal {
    font-weight: normal;
  }

  .subheading_text {
    i {
      cursor: pointer;
    }
  }

  .defaultWidth {
    width: 300px;
  }

  .radioLabel {
    padding-right: 20px;
    text-align: left;
    padding-top: 5px;

    .radioInput {
      cursor: pointer;
    }
  }

  .inputLabel {
    margin-left: 0;

    input, select {
      width: 300px;
    }
  }
}

.addWrapper {
  .commonBtn {
    padding: 20px 0;
    padding-top: 40px;

    .delete_confirmation_error {
      margin-left: 15px;
      color: #d9534f;
    }

    .yellow_button {
      margin-right: 20px;
    }

    .red_button {
      color: #FFF;
    }

    a {
      margin-left: 20px;
    }

    .refresh_schema_btn {
      margin-left: 20px;
    }

    span {
      i {
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }

  .remove_padding_bottom {
    padding-bottom: 0px;
  }

  .set_line_height {
    line-height: 26px;
  }

}

.actionsImg {
  padding: 12px 0;
  padding-bottom: 30px;

  img {
    width: 700px;
    max-width: 700px;
  }
}

.externalLinkImg {
  margin-left: 7px;
  width: 12px;
  display: inline-block;
}

.instructions {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #909090;
  display: flex;
  align-items: center;

  a{
    color: #909090;
  }

  a:hover {
    color: #505050;
    text-decoration: none;
  }

  .rightArrow {
    margin-top: 3px;
  }
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightArrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #909090;
  margin-left: 12px;
  display: inline-block;
}

.instructions:hover {
  color: #505050;

  .rightArrow {
    border-left: 8px solid #505050;
  }
}

.tryOutWrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;

  .boxLarge {
    width: 225px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-right: 20px;
    text-align: center;
    display: inline-block;

    .logoIcon {
      text-align: center;
      padding: 20px 0;

      img {
        width: 76px;
        display: inline-block;
      }
    }

    .default_button {
      display: inline-block;
    }

    .instructionsWrapper, .instructionsWrapperPos {
      margin-top: 20px;
      border-top: 1px solid #DEDEDE;
      .instructions {
        padding: 12px 0;
      }
    }
    .instructionsWrapper
    {
      position: relative;
    }
    .instructionsWrapperPos
    {
      position: static;
    }
    .instructionsWrapper:hover, .instructionsWrapperPos:hover {
      .instructions {
        color: #505050
      }

      .rightArrow {
        border-left: 8px solid #505050;
      }
    }
  }

  .boxSmallWrapper {
    display: flex;
    align-items: center;

    .boxSmall {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      margin-right: 20px;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;

      .imgAws {
        width: 59px;
      }
    }

    a:hover {
      .boxSmall {
        transition: all 0.3s ease-out;
        border: 1px solid #909090;
      }
    }

    .instructions {
      margin-top: 0;
    }
  }
}

.listItems {
  display: flex;
  align-items: center;
}

.comment_container_styles {
  width: 26%;
}
