@import "../../Common/Common.scss";

.metadata_wrapper {
  margin-bottom: 20px;

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .margin_bottom_header {
    margin-bottom: 10px;
  }

  .intro_note {
    .intro_note_heading {
      margin-bottom: 10px;
    }
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .content_width {
    margin-top: 10px;
    width: 60%;
  }
}

.metadata_h4 {
  font-size: 16px;
  font-weight: 600;
}

.margin_right {
  margin-right: 30px;
}

.export_metadata_wrapper {
}
.metadataStatusTable
{
  margin-top: 20px;
  thead, tbody
  {
    tr
    {
      th
      {
        padding: 8px;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      th:last-child
      {
        border-right: 1px solid #ccc;
      }
      td
      {
        padding: 8px;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      td:last-child
      {
        border-right: 1px solid #ccc;
      }
    }
  }
}

.RolesEditor {
  padding: 15px;
  background-color: white;
  border: 1px solid #ccc;
  max-width: inherit;
}

.filterContainer {
  display: grid;
  row-gap: 5px;
}

.roleOption {
  padding: 2px;
}

.inheritedRoleNameContainer {
  padding: 10px;
}

[type="checkbox"] {
    vertical-align:top;
}

.header {
  background: none;
  display: flex;
  align-items: center;
}

.headerBadge {
  padding-left: 10px;
}

.editorHeader {
  display: flex;
}

.roleNameContainer{
  padding-left: 15px;
}

.metaDataMargin {
  margin-left: 15px;
}