@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../Common.scss';

.sidebarCreateTable {
  a {
    color: #767e93;
    background-color: transparent !important;
  }

  a:hover {
    color: #767e93;
  }
}

.flexRow {
  display: flex;
  margin-bottom: 20px;
}

.sidebar {
  height: calc(100vh - 26px);
  overflow: auto;
  color: #333;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;

  hr {
    margin: 0;
    border-color: $navbar-inverse-color;
  }

  ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 7px;

    li {
      padding: 7px 0;
      transition: color 0.5s;

      a {
        color: #767e93;
        word-wrap: break-word;
      }
    }

    li:hover {
      padding: 7px 0;
      transition: color 0.5s;
      cursor: pointer;
    }
  }
}

.main {
  padding: 0;
  height: $mainContainerHeight;
  overflow: auto;
}

.sidebarSearch {
  margin-right: 20px;
  padding: 10px 0px;
  padding-bottom: 0px;
  position: relative;

  // Search icon
  svg {
    position: absolute;
    top: 20px;
    left: 8px;
  }

  input {
    padding-left: 25px;
  }
}

.sidebarHeadingWrapper {
  width: 100%;
  float: left;
  padding-bottom: 10px;

  .sidebarHeading {
    font-weight: bold;
    display: inline-block;
    color: #767e93;
    font-size: 15px;
  }
}

.subSidebarList {
  overflow: auto;
  padding-left: 20px;
  max-height: calc(100vh - 275px);
  border-bottom: 1px solid #e6e6e6;
}

.subSidebarListUL {
  padding-left: 5px;
  padding-bottom: 10px;

  li {
    border-bottom: 0px !important;
    padding: 4px 0 !important;

    .tableFunctionDivider {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 95%;
    }

    a {
      background: transparent !important;
      padding: 5px 0px !important;
      font-weight: 400 !important;
      padding-left: 5px !important;
      display: initial !important;

      .functionIcon {
        margin-right: 5px;
        font-size: 12px;
        width: 12px;
      }
    }
  }

  .noChildren {
    font-weight: 400 !important;
    padding-bottom: 10px !important;
    color: #767e93 !important;
  }

  li:first-child {
    padding-top: 15px !important;
  }
}

.activeLink {
  a {
    color: #fd9540 !important;
  }
}

.floatRight {
  float: right;
  margin-right: 20px;
}
