@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../Common.scss';

.displayFlexContainer {
  display: flex;
}

.flexRow {
  display: flex;
  margin-bottom: 20px;
}

.add_btn {
  margin: 10px 0;
}

.account {
  padding: 20px 0;
  line-height: 26px;
}

.sidebar {
  height: calc(100vh - 26px);
  overflow: auto;
  // background: #444;
  // color: $navbar-inverse-color;
  color: #333;
  border: 1px solid #e5e5e5;
  background-color: #f8f8f8;

  /*
  a,a:visited {
    color: $navbar-inverse-link-color;
  }

  a:hover {
    color: $navbar-inverse-link-hover-color;
  }
  */

  hr {
    margin: 0;
    border-color: $navbar-inverse-color;
  }

  ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 7px;

    li {
      padding: 7px 0;
      transition: color 0.5s;

      /*
      a,a:visited {
        color: $navbar-inverse-link-color;
      }

      a:hover {
        color: $navbar-inverse-link-hover-color;
      }
      */

      a {
        color: #767e93;
        word-wrap: break-word;
      }
    }

    li:hover {
      padding: 7px 0;
      // color: $navbar-inverse-link-hover-color;
      transition: color 0.5s;
      cursor: pointer;
    }
  }
}

.main {
  padding: 0;
  height: $mainContainerHeight;
  overflow: auto;
}

.sidebarSearch {
  margin-right: 20px;
  padding: 10px 0px;
  padding-bottom: 0px;
  position: relative;

  i {
    position: absolute;
    padding: 10px;
    font-size: 14px;
    padding-left: 8px;
    color: #979797;
  }

  input {
    padding-left: 25px;
  }
}

.sidebarHeadingWrapper {
  width: 100%;
  float: left;
  padding-bottom: 10px;

  .sidebarHeading {
    font-weight: bold;
    display: inline-block;
    color: #767e93;
    font-size: 15px;
  }
}

.subSidebarList {
  // max-height: 300px;
  // overflow-y: auto;
  overflow: auto;
  padding-left: 20px;
  max-height: calc(100vh - 275px);
  border-bottom: 1px solid #e6e6e6;
}

.subSidebarListUL {
  padding-left: 5px;
  padding-bottom: 10px;

  li {
    border-bottom: 0px !important;
    padding: 4px 0 !important;

    .tableFunctionDivider {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 95%;
    }

    a {
      background: transparent !important;
      padding: 5px 0px !important;
      font-weight: 400 !important;
      padding-left: 5px !important;
      display: initial !important;

      .tableIcon,
      .functionIcon {
        margin-right: 5px;
        font-size: 12px;
        width: 12px;
      }

      .icon_mar_left {
        margin-left: 5px;
      }
    }
  }

  .noChildren {
    font-weight: 400 !important;
    padding-bottom: 10px !important;
    color: #767e93 !important;
  }

  li:first-child {
    padding-top: 15px !important;
  }
}

.reducedChildPadding {
  li:first-child {
    padding-top: 5px !important;
  }
}

.sidebarTablePadding {
  padding-left: 10px !important;
}

.activeLink {
  a {
    color: #fd9540 !important;
  }
}

.padLeft4 {
  margin-left: 8px;
  top: 12px;
  font-size: 14px;
}

.floatRight {
  float: right;
  margin-right: 20px;
}

.treeNav {
  color: #767e93;
  font-size: 15px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  i {
    margin-right: 4px;
    font-size: 14px;
  }

  li {
    font-size: 14px !important;
    padding-left: 10px !important;
  }
}
.title::before {
  font-family: FontAwesome;
  font-size: 10px;
  content: '\f078';
  display: inline-block;
  margin-right: 6px;
}

.titleClosed::before {
  transform: rotate(-90deg);
}

.inline_display {
  display: inline-block;
}

.loaderBar {
  position: relative;
  padding: 0px 54px;
  background-color: #f0f0f0;
  color: #e5e5e5;
  border-radius: 4px;
}
.loaderBar::after {
  display: block;
  content: '';
  position: absolute;
  width: 108px;
  height: 18px;
  margin-top: -18px;
  z-index: 2;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  animation: loading 2s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.color_green {
  color: green;
}

.padd_left_sm {
  padding-left: 5px;
}

.display_flex {
  display: flex;
}

.align_items_center {
  align-items: center;
}

.spinner {
  margin: 0;
  height: 17px;
  width: 17px;
  margin-left: 5px;
}