@import '../../../Common/Common.scss';

.container {
  padding: 0;
}

.fixed {
  position: fixed;
  top: 150px;
  right: 50px;
  bottom: 0;
  background: none;
  overflow-wrap: break-word;
  min-width: 200px;
  text-align: center;
}

.colEditor {
  :global(.form-control):focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 0 rgba(102, 175, 233, 0.6);
  }

  .yellow_button,
  .yellow_button1 {
    text-align: center !important;
    margin-right: 15px;
  }
}

.input {
  margin-right: 10px;
}

.select {
  margin-right: 10px;
}

.modifyMinWidth {
  min-width: 735px;
}

hr {
  clear: both;
}

.nullable {
  margin: 0 0 0 !important;
  margin-right: 5px !important;
  box-shadow: none;
  outline: none;
}

.nullable:focus {
  box-shadow: none;
  outline: none;
}

.nullLabel {
  padding: 5px;
}

.defaultInput {
  margin-left: 5px;
}

.activeEdit {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  // overflow: auto;
}
