@import "../../../Common/Common";
@import "../../../Common/TextAreaWithCopy/TextAreaWithCopy";

.wd100 {
  width: 100%;
  float: left;
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid #fff;
  position: absolute;
  left: 0;
  bottom: 20px;
  left: -7px;
  bottom: 13px;
}

.yellowCircle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f8c533;
  margin-right: 10px;
}

.addPaddBottom {
  padding-bottom: 20px !important;
}

.commonBorBottom {
  border-bottom: 1px solid #DEDEDE;
}

.addPaddLeft {
  padding-left: 20px;
}

.addPaddTop {
  padding-top: 20px !important;
}

.close {
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 2;
  cursor: pointer;

  img {
    display: inline-block;
    width: 10px;
  }
}
.popupWrapperPos {
  top: 60px;
  left: 524px;
}
.popupWrapper
{
  bottom: 0px;
  left: 244px;
}
.popupWrapper, .popupWrapperPos {
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
  width: 540px;
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
  cursor: default;
  .descriptionText {
    text-align: left;
    padding-bottom: 15px;
    color: #505050;
  }

  .listItems {
    display: flex;
    align-items: center;
    padding-top: 15px;

    .descriptionText {
      padding-bottom: 0;
    }
  }

  .copyGenerated {

  }

  .copyTooltip .tooltiptext::after {
    top: 26px !important;
  }
}
