@import '../Common.scss';

.editable_heading_text {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.editable_heading_textbox {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  input {
    width: 30%;
    font-weight: normal;
  }
}

.editable_heading_action {
  margin-left: 10px;
  display: flex;
  align-items: center;

  i {
    margin-top: 2px;
  }
}

.editable_heading_action_item {
  margin-right: 10px;
  font-size: 14px;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}
