@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * This is where we have **TEMPORARY** fixes while we migrate the codebase to tailwind
 */

/* Redefine bootstrap form control to take precedence over tailwind */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0 0 0, 0.08);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* reset some more bootstrap styles */
.radio-inline input[type="checkbox"],
.radio-inline input[type="radio"],
.form-group input[type="checkbox"],
.checkbox input[type="checkbox"],
.form-group input[type="radio"],
.radio input[type="radio"],
/* escape hatch if we need to add a reset on a input */
.legacy-input-fix,
/* .form-group select, */
/* Nullable + checkbox select in create table */
input[data-test^="nullable-"],
input[data-test^="unique-"],
/* Browse row checkbox */
input[type="checkbox"][data-test^="row-checkbox"],
input[type="checkbox"][data-test="select-all-rows"] {
  appearance: revert;
  height: unset;
  width: unset;
}

select[data-test='qb-select'],
select.form-control {
  font-size: unset;
  line-height: unset;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

/* By default, tailwind reset everything to block, but this breaks most of our SVGs and images, so this fix it */
svg,
img {
  display: inline;
}

/* Add a blue color by default to all a without classes or with an empty class */
a:not([class]),
a[class=''] {
  color: #337ab7;
}

.dropdown button {
  background-color: rgb(239, 239, 239);
}


/* To remove botstrap html font size from 10px */
html {
    font-size: 14px;
}
