@import url('https://fonts.googleapis.com/css?family=Gudea:400,700');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  background-color: #f8fafb;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  a small {
    color: inherit;
  }
}

input::-moz-focus-inner {
  outline: 0;
  -moz-outline: none;
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select::-moz-focus-inner {
  outline: 0;
  -moz-outline: none;
  border: 0;
}

option::-moz-focus-inner {
  border: 0;
  outline: 0;
}

table {
  font-size: 14px;
}

table thead tr th,
table tbody tr th {
  background-color: #f2f2f2 !important;
  color: #4d4d4d;
  font-weight: 600 !important;
}

.commentText {
  display: inline-block;
  padding: 5px !important;
  margin-bottom: 0px;
}

.fontAwosomeClose {
  margin-left: 10px;
  width: 15px;
  min-width: 15px;
  cursor: pointer;
}

.wd100 {
  width: 100%;
  float: left;
}

.wd100Percent {
  width: 100% !important;
}

button {
  outline: none;
}

button > i {
  padding-top: 3px;
  padding-bottom: 3px;
}

input {
  border-radius: 4px;
}

// ****************************** //

.padd_left_remove {
  padding-left: 0 !important;
}

.padd_right_remove {
  padding-right: 0 !important;
}

.padding_top_20 {
  padding-top: 20px;
}
.margin_bottom_20 {
  margin-bottom: 20px;
}

.remove_margin_bottom {
  margin-bottom: 0 !important;
}

.remove_padding_left {
  padding-left: 0 !important;
}
.remove_margin {
  margin: 0 !important;
}

.remove_margin_top {
  margin-top: 0 !important;
}

.display_inline {
  display: inline-block;
}

.padd_left {
  padding-left: 15px;
}

.padd_small_left {
  padding-left: 5px;
}

.padd_small_right {
  padding-right: 5px;
}

.padd_remove {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padd_remove_full {
  padding: 0 0 !important;
}

.mar_bottom {
  margin-bottom: 20px;
}

.remove_pad_bottom {
  padding-bottom: 0 !important;
}

.remove_pad_right {
  padding-right: 0 !important;
}

.add_pad_right {
  padding-right: 15px;
}

.width_auto {
  width: auto;
}

.add_pad_left {
  padding-left: 15px;
}

.add_mar_top_small {
  margin-top: 10px;
}

.add_mar_top {
  margin-top: 20px;
}

.add_mar_bottom {
  margin-bottom: 20px;
}

.add_mar_bottom_mid {
  margin-bottom: 10px;
}

.add_mar_bottom_small {
  margin-bottom: 5px;
}

.add_mar_right {
  margin-right: 20px !important;
}

.add_mar_right_mid {
  margin-right: 10px !important;
}

.add_mar_right_small {
  margin-right: 5px !important;
}

.add_mar_left {
  margin-left: 20px;
}

.add_mar_left_small {
  margin-left: 5px;
}

.add_mar_left_mid {
  margin-left: 10px;
}

.add_mar_small {
  margin-right: 10px !important;
}

.box_shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.code_space {
  padding: 3px 10px;
  border: 1px solid #f9eaef;
}

code {
  padding: 2px 12px !important;

  input {
    border: 0;
    background: transparent;
    box-shadow: none;

    &:focus {
      outline: none;
    }
    min-width: 200px;
  }

  div {
    display: inline-block;
  }
}

.padd_bottom_small {
  padding-bottom: 5px;
}

.padd_top_small {
  padding-top: 5px;
}

.add_pad_top {
  padding-top: 20px;
}

.padd_bottom {
  padding-bottom: 10px !important;
}

.add_pad_bottom {
  padding-bottom: 20px;
}

.add_padd_bottom {
  padding-bottom: 25px;
}

.padd_right {
  padding-right: 15px;
}

.padd_top {
  padding-top: 20px !important;
}

.clear_fix {
  clear: both;
}

// **************************** //

.align_right {
  float: right;
}

.align_left {
  float: left;
}

.text_center {
  text-align: center;
}

.yellow_button {
  background-color: #fec53d;
  border-radius: 3px;
  color: #606060;
  border: 1px solid #fec53d;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;

  &:hover {
    background-color: #f2b130;
  }
}

.yellow_button:focus {
  outline: none;
  background-color: #f2b130;
}

.default_button {
  background-color: #fff;
  border-radius: 5px;
  color: #292929;
  border: 1px solid #292929;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #efefef;
  }
}

.default_button:focus {
  outline: none;
  background-color: #efefef;
}

.gray_button {
  background: #f2f2f2 !important;
}

.text_gray {
  color: #767e96;
}

.inline_block {
  display: inline-block;
  padding-right: 20px;
}

.descriptionText {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}

.fontWeightBold {
  font-weight: 600;
}

.subHeader {
  background: transparent;
  font-family: 'Gudea';

  h2 {
    margin: 0;
    line-height: 26px;
  }

  .nav {
    border-bottom: 1px solid #e6e6e6;
    margin-left: -15px !important;
    padding-left: 15px !important;

    ul {
      margin-bottom: -2px;

      li {
        border: 1px solid transparent;
        border-top: 3px solid transparent;
        margin-right: 10px;
        background-color: #e6e6e6;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 1px;
        font-weight: bold;

        a {
          color: #666666;
          padding: 12px 16px;
        }

        a:hover {
          background-color: transparent;
        }

        a:focus {
          background-color: transparent;
        }
      }

      .active {
        border-radius: 4px;
        background-color: #f8fafb;
        /* color: #333; */
        border: 1px solid #e6e6e6;
        border-bottom: 0;
        border-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top: 3px solid #ffc627;

        a {
          color: #333;
          margin-bottom: 1px;
        }
      }
    }
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-bottom: 4px solid #000;
}

.copyBtn {
  background-color: #fff;
  border-color: #ccc;
  margin-right: -1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

// keep graphiql in viewport
.graphQLHeight {
  height: calc(100vh - 370px);
}

.cursorPointer {
  cursor: pointer;
}

.wd50percent {
  width: 50%;
}

.alertDanger {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  top: 0;
  z-index: 1000;
}

.columnListElement {
  float: left;
  margin-right: 50px !important;
}

/* container height subtracting top header and bottom scroll bar */
$mainContainerHeight: calc(100vh - 50px - 25px);

/* Min container width below which horizontal scroll will appear */
$minContainerWidth: 1200px;
