[package]
name = "recursion_limit_macro"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true
bench = false

[dependencies]
syn = { version = "1.0", features = ["full"] }
quote = "1.0"

[lints]
workspace = true
