apiVersion: gitkube.sh/v1alpha1
kind: Remote
metadata:
  creationTimestamp: null
  name: hasura
  namespace: default
spec:
  authorizedKeys:
  - |
    <add ssh keys here; one per line>
  deployments:
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/backend-services/homepage/Dockerfile
      name: homepage
      path: ./community/learn/graphql-tutorials/backend-services/homepage
    name: homepage
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/backend-services/graphiql/Dockerfile
      name: graphiql
      path: ./community/learn/graphql-tutorials/backend-services/graphiql
    name: graphiql
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/backend-services/auth-server/Dockerfile
      name: auth-jwt-server
      path: ./community/learn/graphql-tutorials/backend-services/auth-server
    name: auth-jwt-server
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/backend-services/auth-webhook/Dockerfile
      name: auth-webhook
      path: ./community/learn/graphql-tutorials/backend-services/auth-webhook
    name: auth-webhook
  - containers:
    - dockerfile: ./community/learn/hasura/graphql-tutorial-backend/tutorial-site/Dockerfile
      name: hasura-backend
      path: ./community/learn/hasura/graphql-tutorial-backend/tutorial-site
    name: hasura-backend
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site/Dockerfile
      name: react-apollo
      path: ./community/learn/graphql-tutorials/tutorials/react-apollo/tutorial-site
    name: react-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site/Dockerfile
      name: react-native-apollo
      path: ./community/learn/graphql-tutorials/tutorials/react-native-apollo/tutorial-site
    name: react-native-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site/Dockerfile
      name: vue-apollo
      path: ./community/learn/graphql-tutorials/tutorials/vue-apollo/tutorial-site
    name: vue-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site/Dockerfile
      name: ios-apollo
      path: ./community/learn/graphql-tutorials/tutorials/ios-apollo/tutorial-site
    name: ios-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site/Dockerfile
      name: android-apollo
      path: ./community/learn/graphql-tutorials/tutorials/android-apollo/tutorial-site
    name: android-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site/Dockerfile
      name: elm-graphql
      path: ./community/learn/graphql-tutorials/tutorials/elm-graphql/tutorial-site
    name: elm-graphql
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site/Dockerfile
      name: reason-react-apollo
      path: ./community/learn/graphql-tutorials/tutorials/reason-react-apollo/tutorial-site
    name: reason-react-apollo
  - containers:
    - dockerfile: ./community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site/Dockerfile
      name: flutter-graphql
      path: ./community/learn/graphql-tutorials/tutorials/flutter-graphql/tutorial-site
    name: flutter-graphql
  manifests:
    helm: {}
    path: ./community/learn/graphql-tutorials/manifests
  registry:
    credentials:
      secretKeyRef:
        key: ""
status:
  remoteUrl: ""
  remoteUrlDesc: ""
