.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.half_screen {
  width: 50%;
  display: inline-block;
  position: relative;
}

.chartWrapper {
  display: flex;
}

.loadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(max-width: 767px) {
  .half_screen {
    width: 100%;
    display: block;
  }
  .chartWrapper {
    display: block;
  }
}

.fiftypercent {
  width: 100px;
  display: inline-block;
}