@import '../Common.scss';

.wd750 {
  width: 750px;
}

.pkEditorWrapper {
  width: 325px;
  text-align: left;
}

.pageSidebar {
  height: calc(100vh - 50px);
  overflow: auto;
  // background: #444;
  // color: $navbar-inverse-color;
  color: #333;
  border: 1px solid #e5e5e5;
  border-bottom: 0px;
  // background-color: #F8F8F8;
  background-color: #fff;

  /*
  a,a:visited {
    color: $navbar-inverse-link-color;
  }

  a:hover {
    color: $navbar-inverse-link-hover-color;
  }
  */

  hr {
    margin: 0;
  }

  ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;

    li {
      transition: color 0.5s;
      font-size: 16px;
      border-bottom: 1px solid #e6e6e6;
      padding: 0px 0px;
      // border-left: 5px solid transparent;

      a {
        color: #767e93;
        background-color: #f0f0f0;
        width: 100%;
        word-wrap: break-word;
        padding: 15px 0 15px 20px;
        display: block;
      }
    }

    .linkBorder {
      border-bottom: 1px solid #e6e6e6;
    }

    li:last-child {
      border-bottom: 0px;
    }

    .active {
      // border-left: 5px solid #FFC627;
      font-weight: bold;
      color: #333;
      text-decoration: none;

      a {
        text-decoration: none;
        background-color: #fff3d5;
        display: inline-block;
      }
    }
  }
}

.container {
  padding: 0;
}

.tableContainer {
  overflow: auto;
  width: 95%;
  padding-right: 5px; // removes scrollbar if width is enough
}

.schemaWrapper {
  width: 100%;

  .schemaSidebarSection {
    display: inline-block;
    width: 100%;

    a {
      display: inline-block !important;
      font-weight: bold;
    }

    .changeSchema {
      width: 50%;
      margin-left: 10px;
      display: inline-block;
      font-weight: bold;
    }
  }
}

.viewRowsContainer {
  border-left: 1px solid #ddd;
}

.tableHeaderCell svg {
  position: absolute;
  top: calc(50% - 5px);
  right: 8px;
}

.insertContainer {
  button {
    margin: 0 10px;
  }

  label.radioLabel {
    padding-top: 0;

    input[type='radio'] {
      margin-top: 10px;
    }
  }

  span.radioSpan {
    line-height: 34px;
  }
}

.table {
  width: auto;

  tr:nth-child(even) {
    background: #f4f4f4;
  }

  th {
    //min-width: 100px;
    font-weight: 300;
  }

  tbody > tr > td {
    padding: 4px 8px;
    max-width: 600px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a.expanded {
  color: red;
}

.tableNameInput {
  width: 300px;
}

.select {
  width: 300px;
  display: inline-block;
  height: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.addCol {
  .input {
    width: 300px;
    display: inline-block;
  }

  .inputCheckbox {
    width: auto;
    display: inline-block;
    padding-left: 20px;
    margin: 0px 20px;
    box-shadow: none;
  }

  .inputDefault {
    width: 150px;
    margin: 0px 20px;
    display: inline-block;
  }

  .select {
    display: inline-block;
    width: 300px;
    height: 34px;
  }

  .defaultWidth {
    width: 200px;
    margin-right: 0px;
  }
}

.insertBox {
  min-width: 270px;
}

.insertBoxLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sqlBody {
}

.tablesBody {
  padding-top: 20px;
}

.count {
  margin-top: 15px;
}

.addTablesBody {
  padding-top: 20px;
  padding-bottom: 30px;
}

.dataBreadCrumb {
  padding-bottom: 10px;
}

.tableCellCenterAligned {
  text-align: center;
  overflow: unset !important;
}

.tableCellCenterAlignedOverflow {
  text-align: center;
  overflow: hidden !important;
}

.tableCellExpanded {
  white-space: pre-wrap;
}

.tableCenterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bulkDeleteButton {
  margin: 10px;
  font-size: 16px;
  padding: 0 6px;
}

.headerInputCheckbox {
  height: 16px;
  margin-bottom: 2px;
}
