@import "../../Common/Common.scss";

.display_inl {
  display: inline-block;
}

.analyzerBearerModal {
  width: 768px;
}
.analyzerLabel {
  text-transform: uppercase;
	margin: 0;
	font-size: 12px;
	color: #000;
	zoom: 1;
	border-bottom: 1px solid rgba(155,155,155,0.5);
	line-height: 2.5;
	padding-bottom: 2px;
  .token_validity {
    font-size: 14px;
    .invalid_jwt_icon {
      // cursor: pointer;
      color: #dc3545;
    }
    .valid_jwt_token {
      // cursor: pointer;
      color: #28a745;
    }
  }
  span {
    color: #979797;
    margin-left: 5px;
    display: inline-block;
  }
}
.jwt_verification_fail_message {
  background-color: #e53935;
  padding: 10px 10px;
  color: #ffffff;
  border-radius: 5px;
}
.width_80 {
  width: 80%;
}

.responseHeader {
  color: #788095;
  font-weight: bold;
  font-size: 14px;
}

.admin_token_align {
  vertical-align: middle;
  margin-left: 2px;
}

.marginBottom {
  margin-bottom: 15px;
}

.apiExplorerMini {
  width: 80%;
}

.wrapperOnBoarding {
  // width: 80% !important;
}

.panelGreyed {
  opacity: 0.1;
}

.requestGreyed {
  opacity: 0.1;
}

.panelInFocus {

}

.requestInFocus {

}

.cursorNotAllowed {
  cursor: not-allowed;
}

.apiExplorerWrapper {
  display: flex;
  height: $mainContainerHeight;

  .ApiRequestWrapperVH {
    height: 100%;
    width: 100%;
  }

  .apiCollectionWrapper {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    // Changed it from overfllow-y: scroll

    .apiCollectionTabWrapper {
      .apiCollectionTab {
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -moz-padding-start: 0px;
        -moz-margin-before: 0;
        -moz-margin-after: 0;
        border-bottom: 1px solid #D8D8D8;
        position: absolute;
        width: 20%;
        min-width: 240px;
        background-color: #fff;
        z-index: 10;

        .apiCollectionTabList {
          list-style-type: none;
          display: inline-block;
          width: 50%;
          text-align: center;
          padding: 10px 11px;
          font-weight: bold;
          font-size: 16px;
          color: #D8D8D8;
          cursor: pointer;
        }

        .activeApiCollectionTab {
          border-bottom: 3px solid #ffca27;
          color: #6B6B6B;
        }

        .apiCollectionTabList:focus {
          outline: none;
        }
      }

      .apiCollectionClearHistory {
        padding: 0 15px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        /*
        position: absolute;
        bottom: 0;
        transform: translateX(-88%);
        */

        .apiCollectionClearHistoryButton {
          /*
          float: right;
          margin: 10px 0;
          cursor: pointer;
          */
          margin: 10px 0;
          cursor: pointer;
          position: fixed;
          bottom: 15px;
          text-align: center;
          width: 20%;
          margin-left: -15px;
          padding-top: 10px;
          border-top: 1px solid #ccc;
          background-color: #fff;
          z-index: 1;

          i {
            padding-right: 5px;
          }

        }
      }

      .apiPaddTop {
        padding-top: 46px !important;
      }

      .apiCollectionTabListDetails {
        padding: 0 15px;
        margin: 10px 0;
        // padding-top: 46px;

        .apiCollectionTabListHead {
          padding-left: 15px;
          padding-bottom: 10px;
          font-weight: bold;
          font-size: 15px;

          .serviceBaseDomain {
            color: #bbb;
          }
        }

        .add_ellipsis {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .apiCollectionGetPost {
          .apiCollectionGetWrapper {
            padding: 5px 0;
            cursor: pointer;

            .apiCollectionGet {
              text-align: left;
              color: #70CD00;
              font-size: 12px;
              font-weight: bold;
              padding-left: 15px;
            }

            .apiCollectionGetDetailsWrapper {
              display: flex;
              align-items: center;

              .apiCollectionGetDetails {
                word-wrap: break-word;
                padding-right: 10px !important
              }

              .apiCollectionPostDetails {
                word-wrap: break-word;
                padding-right: 10px !important
              }

              .apiRightArrowWrapper {
                padding-left: 5px;
              }
            }

            .activeApiCollectionGetWrapperIcon {
                display: none;
            }
          }

          .activeApiCollectionGetWrapper {
            background-color: #FFF3D5;
            border-radius: 4px;

            .activeApiCollectionGetWrapperIcon {
              display: block;
            }
          }

          .apiCollectionPostWrapper {
            padding: 5px 0;
            cursor: pointer;

            .apiCollectionPost {
              text-align: left;
              color: #FD9540;
              font-size: 12px;
              font-weight: bold;
              padding-left: 15px;
            }

            .apiCollectionGetDetailsWrapper {
              display: flex;
              align-items: center;

              .apiCollectionGetDetails {
                word-wrap: break-word;
                padding-right: 10px !important
              }

              .apiCollectionPostDetails {
                word-wrap: break-word;
                padding-right: 10px !important
              }

              .apiRightArrowWrapper {
                padding-left: 5px;
              }
            }

            .activeApiCollectionGetWrapperIcon {
                display: none;
            }
          }

          .activeApiCollectionGetWrapper {
            background-color: #FFF3D5;
            border-radius: 4px;

            .activeApiCollectionGetWrapperIcon {
              display: block;
            }
          }
        }
      }
    }
  }

  .apiContentPadd {
    padding-top: 20px;
    // padding-bottom: 10px;
    // margin-bottom: -15px;
  }

  .closeHeader {
    cursor: pointer;
    font-size: 16px;
    float: right;
    display: inline-block;
  }

  .showAdminSecret, .showInspector {
    cursor: pointer;
    padding-right: 8px;
    font-size: 16px;
    float: left;
    display: inline-block;
  }

  .showInspectorLoading {
    cursor: pointer;
    font-size: 16px;
    float: left;
    display: inline-block;
  }

  .apiRequestWrapper {
    margin-top: 20px;
    .headerWrapper {
      margin-bottom: 20px;
    }
    .file_upload_wrapper {
      width: 100%;
      text-align: left;
      display: inline-block;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-bottom: 15px;

      input[type="file"] {
        display: inline-block;
        width: 162px;
      }
    }

    .apiRequestheader {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 10px;
      color: #000;
    }

    .apiRequestContent {
      font-size: 14px;

      a {
        color: #FEC53D;
        text-decoration: underline;
      }

      a:hover {
        color: #FEC53D;
        text-decoration: underline;
      }

      code {
        background-color: transparent;
        border: 1px solid #767E93;
        padding: 1px 4px !important;
        color: #767E93;
      }
    }

    .apiPostRequestWrapper {
      // padding: 20px 0;
      // padding-top: 20px;
      padding-top: 5px;
      background-color: #f8fafb;

      .inputGroupWrapper {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;

        .inputGroupBtn {
          button {
            width: 100px;
            border: 0;
            padding: 10px 12px;
            background-color: #F9F9F9;
            color: #FD9540;
            font-size: 14px;
            font-weight: bold;
            text-align: left;

            .caret {
              position: absolute;
              right: 10px;
              top: 16px;
            }
          }
        }

        .inputGroupInput {
          border: 0;
          box-shadow: none;
          padding: 10px 12px;
          height: auto;
          background-color: #fff;
        }
      }

      .sendBtn {
        button {
          width: 100%;
          text-align: center;
          height: 39px;
          color: #606060;
          font-weight: bold;
          border-radius: 5px;
          background-color: #FEC53D;
          border: 1px solid #FEC53D;
          /*
          background-color: #FFCA27;
          border: 1px solid #FFCA27;
          */
          &:hover {
            background-color: #F2B130;
          }
        }

        /*
        button:hover {
          border: 1px solid #F2B130;
          background-color: #F2B130;
        }
        */
      }

      .generateBtn {
        button {
          width: 100%;
          background-color: transparent;
          text-align: center;
          height: 39px;
          border: 1px solid #606060;
          color: #606060;
          font-weight: bold;
          border-radius: 5px;
        }

        button:hover {
          border: 1px solid #606060;
          background-color: #efefef;
        }
      }
    }

    .responseWrapper {
      clear: both;
      display: flex;
      align-items: center;

      .responseHeader {
        color: #788095;
        font-weight: bold;
        font-size: 14px;

        .viewDetails {
          padding-left: 10px;
          font-weight: normal;
          color: #FFCA27;
        }

        .addAdminToken {
          text-align: right;
          padding-left: 15px;
        }
      }

      .addAdminToken {
        text-align: right;
        padding-left: 15px;
      }
    }
  }

  .apiResponseWrapper {
    .apiResponseheaderWrapper {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;

      .apiResponseheader {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 10px;
        // color: #000;
        color: #788095
      }

      .statusDetails {
        display: inline-block;
        float: right;
        padding-left: 20px;

        .statusView {
          padding-left: 5px;
          font-weight: normal;
          color: #FFCA27;
        }
      }
    }

    .helpTextWrapper {
      padding: 15px;
      border: 1px solid #ccc;
      background-color: #fff;
      clear: both;
      margin-bottom: 20px;

      i {
        padding-right: 10px;
      }

      pre {
        margin-top: 10px;
        border-radius: 0;
      }

      .copyBtn {
        padding: 9px;
      }
    }

    .suggestionTextColor {
      color: #111;
      background-color: #ffd760;
      border-color: #ffd760;
    }

    .noResponseWrapper {
      width: 100%;
      min-height: 200px;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      clear: both;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .noResponseContainer {
        width: 325px;

        .noResponseHeader {
          font-size: 18px;
          opacity: 0.6;
        }

        .barWrapper {
          padding-top: 15px;
          text-align: center;

          .bigBar {
            width: 56%;
            margin-right: 7px;
            height: 20px;
            background-color: #EEEEEE;
            display: inline-block;
            border-radius: 4px;
          }

          .mediumBar {
            width: 23%;
            margin-right: 7px;
            height: 20px;
            background-color: #FFCA27;
            display: inline-block;
            border-radius: 4px;
          }

          .smallBar {
            width: 13%;
            margin-right: 7px;
            height: 20px;
            background-color: #EEEEEE;
            display: inline-block;
            border-radius: 4px;
          }
        }
      }
    }

    .responseHeader {
      padding-top: 15px;
      color: #788095;
      font-weight: bold;
      font-size: 14px;
      clear: both;

      .viewDetails {
        padding-left: 10px;
        font-weight: normal;
        color: #FFCA27;
      }
    }
  }
}

// Common
.responseTable {
  padding-top: 15px;

  .tableBorder {
    background-color: #fff;
    border: 1px solid #E3E5E5;

    thead {
      tr {
        th {
          border-bottom: 0px;
        }
      }
    }

    tbody {
      tr {
        td {
          border-top: 0;
          // padding: 5px;
          padding: 0px 5px;
          min-width: 50px;
          vertical-align: middle;
          .responseTableInput {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            border-radius: 0;
            // padding: 0;
          }
        }

        .headerPadd {
          padding: 15px !important;
        }

        .borderTop {
          border-top: 1px solid #ccc;
        }

        .tableTdLeft {
          padding-left: 5%;
        }

        .tableEnterKey {
          // padding: 10px 0;
          padding: 0px 5px;
          padding-left: 4.5%;
        }

        .tableLastTd {
          padding-left: 5px !important;
        }
      }
    }
  }

  .headerHeading {
    background-color: #f5f5f5;
    font-weight: bold;
    padding-left: 15px;
  }
}

.queryBuilderWrapper {
  padding-bottom: 20px;

  .queryBuilderTab {
    ul {
      border: 1px solid #E7E7E7;
      -webkit-padding-start: 0px;
      -moz-padding-start: 0px;
      display: inline-block;

      li {
        list-style-type: none;
        display: inline-block;
        padding: 12px 20px;
        width: 150px;
        text-align: center;
        color: #788094;
        cursor: pointer;
        background-color: #fff;
        font-weight: bold;
      }

      li:focus {
        outline: none;
      }

      .activeQueryBuilderTab {
        background-color: #FFF050;
      }
    }
  }
}

.AceEditorWrapper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  /*
  margin-top: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  */
}

.queryBuilderLayout {
  background-color: #fff;
  // padding: 15px;
}

.queryBuilderLayoutSub {
  padding: 20px;
}

.qbTabHeading {
  font-weight: bold;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;

  i {
    padding-left: 5px;
  }
}


.common_checkbox {
  opacity: 0;
  position: absolute;

  .common_checkbox_label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;

    cursor: pointer;
    position: relative;
  }
}

.common_checkbox_label {
  margin-bottom: 0px !important;
  padding-top: 0px;
  display: flex;
}

.common_checkbox + .common_checkbox_label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding-top: 2px;
  margin-right: 2px;
  text-align: center;
  border-radius:4px;
  cursor:pointer;
}

label {
  font-weight: normal;
}

.common_checkbox:checked + .common_checkbox_label:before {
    content: url('./tick.png');
    background: #FFCA27;
    color: #fff;
    padding-top:0px;
}

.authPanelSubHeadings {
  font-size: 16px;
  font-weight: italic;
  padding-left: 15px;
  padding-bottom: 10px;
}

.apiResponseTab {
  padding-top: 20px;

  .apiResponseTabUl {
    display: inline-block;
    -webkit-padding-start: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

    .apiResponseTabList {
      display: inline-block;
      padding: 15px 25px;
      list-style-type: none;
      background-color: #fff;
      font-weight: 600;
      color: #6B6B6B;
      cursor: pointer;
    }

    .apiResponseTabList:focus {
      outline: none;
    }

    .activeApiResponseTab {
      background-color: #FFF3D5
    }
  }

  .apiResponseTabPanel {
    .AceEditorWrapper {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }


}
