@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
html {
  background-color: #f8f8f8;
}

::selection {
  background: #b2d7fe !important;
}

/* override djangosite.css */
body, p, #docs-content, #sidebar,
h1, h2, h3, h4, h5, h6, dl dt, dl dd {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body, p, #docs-content, #sidebar, #sidebar a,
tt, code, kbd, pre, pre.literal-block, samp,
dl dt, dl dd, .graphiql .graphiql-container .CodeMirror {
  font-size: 16px;
}

[role="main"] {
  width: 90%;
  border: none;
  padding: 1px 15px 0;
}

[role="main"] h1 {
  font-size: 32px;
}

[role="main"] h2 {
  font-size: 24px;
}

[role="main"] h3 {
  font-size: 20px;
}

[role="main"] h4 {
  font-size: 18px;
}

form input[type="search"], form input[type="text"],
form input[type="email"], form input[type="password"],
form input[type="number"], form input[type="url"],
form input[type="submit"], form textarea {
  font-size: 16px;
}

body {
  color: #333 !important;
  min-width: 100%;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #1CD3C6 !important;
}

h3 {
  font-weight: 500;
}

p {
  color: #333;
  line-height: 1.7;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.document {
  margin: 0 auto;
}

.main_container_wrapper {
  min-width: 90%;
  /* overflow-y: auto; */
  -webkit-overflow-scrolling: touch; /* for iOS momentum scroll */
}
.content_wrapper {
  display: flex;
  margin: auto;
  width: 100%;
  /* height: calc(100vh - 60px); */
  position: relative;
}
.floatingSubscribe {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #E4E4E4;
  z-index: 1;
  transition: all .3s ease;
  transform: translateY(100%);
}
.floatingSubscribeShow {
  transform: translateY(0%);
}
.floatingSubscribeWrapper {
  padding: 56px 0;
  position: relative;
  width: 930px;
  margin: 0 auto;
}
.floatingSubscribe .close-floating-subscribe {
  position: absolute;
  right: 40px;
  top: 28px;
  cursor: pointer;
  opacity: .7;
}
.floatingSubscribe .close-floating-subscribe:hover {
  opacity: 1;
}
.subscribe-form-wrapper {
  border-radius: 2px;
  /* background-color: #1bd5c8; */
  padding: 0px 0px;
  padding-top: 100px;
  width: 60%;
}
#floating_mc_embed_signup {
  display: flex;
  align-items: center;
}
#floating_mc_embed_signup .subscribe-form-title{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1B2738;
  width: 284px;
  padding-right: 45px;
}
#floating_mc-embedded-subscribe-form {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 0;
  position: relative;
}
#floating_mc-embedded-subscribe-form .floating-input-box{
  flex: 1;
}
/* Newsletter */
#mc_embed_signup .subscribe-form-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 136%;
  color: #fff;
  font-family: 'Poppins';
  padding-bottom: 24px;
}
#mc_embed_signup .subscribe-form-content {
  font-weight: 400;
  color: #fff;
  padding-right: 0px;
  padding-bottom: 40px;
}
#mc_embed_signup form, #floating_mc_embed_signup form {
  display: flex !important;
  align-items: center !important;
  padding: 0 0 0 0 !important;
  flex: 1 !important;
  position: relative !important;
  font-size: 16px;
  margin-bottom: 0 !important;
  }
/* todo: redesign & clean up */
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response, #floating_mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}

.newsletter-link,
.newsletter-link:hover,
.newsletter-link:visited {
  color: #fff !important; /* override djangosite.css */
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding-top: 10px;
}
.full-width {
  flex: 1;
}
.input-box, .floating-input-box {
  width: 100% !important;
  display: inline-block;
  position: relative;
}
.input-box input, .floating-input-box input {
  margin: 0 0 !important;
  border-radius: 5px !important;
  border: 1px solid #e4e4e4 !important;
  color: #717780 !important;
  font-weight: 400 !important;
  padding: 12px 16px 12px 50px !important;
  height: 57px !important;
  background-color: #fff !important;
  width: 100% !important;
}
.input-box .labelIconGray, .floating-input-box .labelIconGray {
  position: absolute;
  left: 16px;
  top: 22px;
}
.input-box input:-webkit-autofill, .input-box input:-webkit-autofill, .floating-input-box input:-webkit-autofill, .floating-input-box input:-webkit-autofill{
  animation-name: autofill;
  animation-fill-mode: both;
  box-shadow: 0 0 0px 1000px white inset;
  background-color: transparent;
  font-size: 16px;
}
.input-box input:-webkit-autofill, .floating-input-box input:-webkit-autofill,
.input-box input:-webkit-autofill:hover, .floating-input-box input:-webkit-autofill:hover,
.input-box input:-webkit-autofill:focus, .floating-input-box input:-webkit-autofill:focus,
.input-box input:-webkit-autofill:active, .floating-input-box input:-webkit-autofill:active  {
  box-shadow: 0 0 0 35px #fff inset !important;
  -webkit-text-fill-color: #717780 !important;
  font-size: 16px;
  caret-color: #717780;
  color: #717780 !important;
}
.input-box input:-internal-autofill-selected, .floating-input-box input:-internal-autofill-selected {
  color: #717780 !important;
  font-size: 16px;
}
.submit-box {
  margin-left: 16px;
  display: inline-block;
}
.submit-box input {
  margin: 0 0 !important;
  padding: 12px 40px !important;
  font-size: 14px !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  border: 0 !important;
  cursor: pointer !important;
  transition: all .2s ease-in-out !important;
  width: 200px !important;
  background: linear-gradient(180deg,#1b2738,#1b2738) !important;
  color: #fff !important;
  height: 57px !important;
}
.submit-box  .success {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Poppins';
  color: #fff;
  display: flex;
  margin-left: 32px;
  width: 160px;
}
.submit-box  .success img {
  margin-right: 16px;
}
.submit-box input:hover {
  background: linear-gradient(180deg,#1eb4d4,#0f5181) !important;
  box-shadow: 0 5px 24px rgba(0,0,0,.25) !important;
  transform: scale(.98) !important;
}
.submit-box input:disabled {
  cursor: not-allowed !important;
  opacity: .6 !important;
  background: linear-gradient(180deg,#1b2738,#1b2738) !important;
}
.submit-box input:disabled:hover {
  transform: none !important;
  box-shadow: none !important;
}
.submit-box input:focus {
  outline: none;
}
#mce-responses .error-message, #mce-responses .success-message, #floating-mce-responses .error-message, #floating-mce-responses .success-message {
  padding: 0px 0px !important;
  font-size: 12px !important;
  position: absolute;
  top: 55px !important;
  left: 0;
  width: auto !important;
  color: #fff !important;
  font-weight: 400 !important;
}
#floating-mce-responses .error-message, #floating-mce-responses .success-message {
  color: #1B2738 !important;
}
#mce-responses .error-message a, #mce-responses .success-message a {
  color: #fff !important;
}
#floating-mce-responses .error-message a, #floating-mce-responses .success-message a {
  color: #1B2738 !important;
}
#content_inner_wrapper {
  width: 75% !important;
  /* height: 100vh; */
  overflow-y: auto;
  position: relative;
}

#docs-content,
#docs-header {
  margin-left: 40px; margin-right: 40px;
}

#docs-content h1,
#docs-content h2,
#docs-content h3,
#docs-content h4,
#docs-content h5,
#docs-content h6 {
  font-weight: 400;
  color: #555;
}

#docs-content a.reference {
  color: #DB0037 !important;
  background-color: transparent !important;
}

#docs-content img {
  -webkit-box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
  -moz-box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
  box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
  margin-top: 20px;
  margin-bottom: 30px;
}

#docs-content img.no-shadow,
#docs-content a.no-shadow img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#docs-content .section ol li {
  line-height: 1.7;
}

#docs-content td div.highlight {
  margin: 0;
}

#docs-content .note,
#docs-content .admonition {
  background: #f1f9ff;
  border: 1px solid #c9e0f0;
}

#docs-content .docutils {
  color: #6f6f6f;
  word-break: break-word;
}

#docs-content .docutils.literal {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

#docs-content table caption {
  position: relative;
}

#docs-content span.target {
  font-style: italic;
}

/*** random overrides ***/


article ol ol {
  margin-bottom: 0;
}

.schema {
  display: inline-block;
  width: 60%;
}

.highlight pre {
  white-space: pre;
}

/*** random overrides END ***/

/*** behavior styles ***/

.hide {
  display: none !important;
}

.no_scroll {
  overflow: hidden !important;
}

/*** behavior styles END ***/

/*** Logo ***/

.img_wrapper {
  padding: 0;
}

.logo_img {
  width: 100px;
}

/*** Logo END ***/

/*** Tabs ***/

.api-tabs .docutils {
  font-size: 16px !important;
  margin: 0;
  max-width: 100%;
  padding: 0;

}

.api-tabs.container {
  margin: 0;
  max-width: 100%;
  padding: 0px;
}

.api-tabs .ui.tab {
  padding: 20px
}

.api-tabs .ui.tab > :first-child > .highlight,
.api-tabs .ui.tab > p:first-child,
.api-tabs .ui.tab > :first-child > li {
  margin-top: 0;
}

/*** Tabs END ***/

/*** Header ***/

#docs-header-actions {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.edit-github-btn-wrap {
 margin-left: auto;
}

.edit-github-btn,
.edit-github-btn:hover
.edit-github-btn:visited {
  font-size: 14px;
  padding: 4px 6px;
  color: #717780 !important; /* override django-site.css */
  border-radius: 0;
  border: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 8px;
}
.edit-github-btn:hover {
  background-color: transparent;
}
.edit-github-btn img {
  width: 16px;
  margin-right: 4px;
}
.edit-github-btn .mr-6 {
  margin-right: 6px;
}
.edit-github-btn .ml-6 {
  margin-left: 6px;
}
.edit-github-btn .w-7 {
  width: 7px;
}
/*** Header END ***/

/*** Mobile only ***/

.mobile-only {
  display: none;
}

.mobile-only .mobile-logo-docs {
  margin-left:10px;
  padding-top: 10px;
  text-decoration: none;
  color: #333 !important;
}

#nav_tree_icon {
  position: relative;
}
#nav_tree_icon .docs-menu {
  font-weight: 600;
  color: #001934;
  margin-left: 20px;
  cursor: pointer;
}
/*** Mobile only END ***/

/*** Search box ***/

#input_search_box {
  position: relative;
  width: 64%;
}

#input_search_box .search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #A8A8A8;
  cursor: pointer;
  z-index: 1;
}

#input_search_box input {
  height: 40px;
  box-sizing: border-box;
  text-indent: 30px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #717780;
  background-color: #fff;
  background-image: none;
  border: 1px solid #E4E4E4;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 384px;
}

#input_search_box input:focus {
  outline: none;
}

#input_search_box input::placeholder {
  color: #A8A8A8;
}

#input_search_box input::-webkit-input-placeholder {
  color: #A8A8A8;
}

#input_search_box input::-moz-placeholder { /* Firefox 19+ */
  color: #A8A8A8;
}

#input_search_box input:-ms-input-placeholder { /* IE 10+ */
  color: #A8A8A8;
}

#input_search_box input:-moz-placeholder { /* Firefox 18- */
  color: #A8A8A8;
}

#search_help {
  position: absolute;
  top: 100px;
  z-index: 1000;
}

@media (max-width: 768px) {
  #search_help {
    top: -20px;
    left: 10px;
  }
}

/*** Search box END ***/

/*** Table of contents ***/

#table-of-contents {
  padding: 0 20px;
  border-radius: 4px;
  background: #F8F8F9;
  border: 1px solid #EAEAEC;
}

#table-of-contents .topic-title {
  font-weight: bold;
}

.toc-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0;
}

.toc-list:before {
  display: none; /* override djangosite.css */
}

.toc-list .container {
  padding: 0;
  margin: initial;
}

.toc-list-head {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 15px 5px 10px 0 !important; /* override djangodocs.css */
  font-weight: bold;
}

@media (max-width: 1300px) {
  .toc-list {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 660px) {
  .toc-list {
    grid-template-columns: auto;
  }
  #input_search_box input {
    width: auto;
  }
}

/*** Table of contents END ***/

/*** Feedback section ***/
.nav-feedback-wrapper {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 46px;
}
.feedback_wrapper {
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  height: 40px;
  color: #717780;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.feedback_wrapper .feedback {
  display: flex;
  align-items: center;
  width: 260px;
}
.feedback_wrapper .feedback .feedback-content {
  padding-left: 16px;
  padding-right: 4px;
}
.feedback_wrapper .feedback .display_inl {
  display: inline-block;
}
#feedback_detail_msg {
    display: none;
}
.feedback_wrapper .feedback .actions {
  width: 21px;
  padding: 0 12px;
  opacity: .6;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.feedback_wrapper .feedback .thumb_up {
  border-right: 1px solid #E4E4E4;
}
.feedback_wrapper .feedback .actions:hover {
  opacity: 1;
}
.feedback_wrapper #feedback_btn {
  padding: 5px 10px;
  background: linear-gradient(180deg, #1eb4d4, #1eb4d4);
  color: #F8F8F8;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  width: 86px;
  text-align: center;
}
.feedback_wrapper #feedback_btn:hover {
  background: linear-gradient(180deg, #1eb4d4, #0f5181);
}
#detailed_feedback {
  height: 42px;
  display: flex;
  align-items: center;
  width: 260px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.detailed_feedback_wd {
  width: 480px !important;
}
#feedback_box {
  padding: 5px;
  height: 42px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 1;
  border-left: 0;
}
#feedback_box:focus {
  outline: none;
}
#thank_you {
  padding: 0 15px;
}
/*** feedback section END ***/

/*** Footer ***/

.footer-hasura-custom {
  padding: 30px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #eee;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-hasura-custom .footer_logo {
  width: 100px;
  margin-right: 30px;
}

.footer-hasura-custom .footer_text {
 display: inline-block;
}

/*** Footer END ***/

/*** Sidebar ***/

.sphinxsidebarwrapper {
  font-size: 92%;
  margin: 15px;
}

#sidebar {
  background-color: #001934;
  width: 348px !important;
  height: 100vh;
  overflow-y: auto;
  padding-left: 0 !important;
  position: sticky;
  top: 96px;
}

#sidebar .closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#sidebar ul ul {
  margin-top:0;
  margin-bottom:0;
}

#sidebar ul li {
  color: rgba(214,214,214,1);
  margin-top: 5px;
  margin-bottom: 5px;
}

#sidebar ul li a {
  color: rgba(214,214,214,1);
  text-decoration: none;
}

#sidebar ul li a code {
  color: #32A061;
  text-decoration: none;
}

#sidebar .header_main_logo {
  display: flex;
  align-items: center;
  padding: 18px 0;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  background-color: #001934;
  z-index: 10;
  border-bottom: 1px solid #4F5763;
}

#sidebar .header_main_logo a {
  color: #fff;
  text-decoration: none;
}

#sidebar .header_main_logo a:hover {
  opacity: 0.6;
}

#sidebar .header_main_logo .version_txt {
  color: rgba(255,198,39,1);
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
}

#sidebar .header_main_logo .version_txt select {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-size: 18px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-position: right 0.25em center;
  background-repeat: no-repeat;
  background-size: 0.5em auto;
  background-origin: border-box;
  padding-right: 1em;

  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWRvd24iIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNDQ4IiBoZWlnaHQ9IjUxMiI+PHJlY3QgaWQ9ImJhY2tncm91bmRyZWN0IiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4PSIwIiB5PSIwIiBmaWxsPSJub25lIiBzdHJva2U9Im5vbmUiLz48ZyBjbGFzcz0iY3VycmVudExheWVyIiBzdHlsZT0iIj48dGl0bGU+TGF5ZXIgMTwvdGl0bGU+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTIwNy4wMjkgMzgxLjQ3NkwxMi42ODYgMTg3LjEzMmMtOS4zNzMtOS4zNzMtOS4zNzMtMjQuNTY5IDAtMzMuOTQxbDIyLjY2Ny0yMi42NjdjOS4zNTctOS4zNTcgMjQuNTIyLTkuMzc1IDMzLjkwMS0uMDRMMjI0IDI4NC41MDVsMTU0Ljc0NS0xNTQuMDIxYzkuMzc5LTkuMzM1IDI0LjU0NC05LjMxNyAzMy45MDEuMDRsMjIuNjY3IDIyLjY2N2M5LjM3MyA5LjM3MyA5LjM3MyAyNC41NjkgMCAzMy45NDFMMjQwLjk3MSAzODEuNDc2Yy05LjM3MyA5LjM3Mi0yNC41NjkgOS4zNzItMzMuOTQyIDB6IiBpZD0ic3ZnXzEiIGNsYXNzPSJzZWxlY3RlZCIgZmlsbC1vcGFjaXR5PSIxIi8+PC9nPjwvc3ZnPg==);

}

#sidebar .header_main_logo .version_txt select:focus {
  outline: none;
}

#sidebar .header_main_logo .version_txt .option_val {
  color: #000;
}

#sidebar .header_main_logo .docs_label {
  margin-top: 5px;
}

#sidebar .header_main_logo .docs_label .hero {
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  font-weight: 600;
  margin-left: calc(24vw - 240px);
}

#sidebar a.current.reference.internal {
  color: #1CD3C6 !important;
}

#sidebar a.reference.internal > code.docutils.literal {
  color: rgba(214,214,214,1) !important;
}

/*** Sidebar END ***/

/*** GraphiQL overrides ***/

.graphiql {
  margin-bottom: 20px;
}

.graphiql .query,
.graphiql .response,
.graphiql .variables {
  display: none;
}

.graphiql .graphiql-container {
  min-height: 325px;
  border: 1px solid #eee;
  -webkit-box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
  -moz-box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
  box-shadow: -1px 2px 20px 2px rgba(217,217,217,1);
}

.graphiql.with-vars .graphiql-container {
  min-height: 375px;
}

.graphiql .topBarWrap {
  height: 0;
}

.graphiql .execute-button-wrap {
  z-index: 3;
  top: -2px;
  left: calc(50% - 50px);
  margin: 0 !important;
  height: 28px !important;
}

.graphiql .execute-button {
  height: 28px !important;
  width: 28px !important;
}

.graphiql .execute-button svg {
  position: relative;
  top: -3px;
  left: -3px;
}

.graphiql .CodeMirror pre {
  padding: 0 15px;
}

.graphiql .CodeMirror-lines {
  padding: 15px 0 !important;
}

.graphiql .CodeMirror-gutter-wrapper,
.graphiql .CodeMirror-gutters {
  display: none;
}

.graphiql .title,
.graphiql .docExplorerShow,
.graphiql .toolbar {
  display: none !important;
}

.graphiql:not(.with-vars) .variable-editor {
  display: none !important;
}

.graphiql .variable-editor .variable-editor-title {
  line-height: 18px;
  font-size: 16px;
  padding: 2px 10px;
}

.graphiql.view-only .execute-button {
  display: none !important;
}

/*** GraphiQL overrides END ***/

/*** Algolia docsearch overrides ***/

#input_search_box .algolia-autocomplete {
  width: 100%;
}

#input_search_box .algolia-autocomplete a {
  text-decoration: none;
}

#input_search_box .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
#input_search_box .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  left: -25px !important;
  max-width: calc(156% + 50px);
  min-width: calc(156% + 50px);  /* 1 / width(input_search_box) + 50px */
}

#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #1CD3C6;
}

#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #84878E
}

#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl0 .algolia-docsearch-suggestion--highlight,
#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--category-header-lvl1 .algolia-docsearch-suggestion--highlight,
#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #1CD3C6;
}

#input_search_box .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
#input_search_box .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: #FEECC0;
}

#input_search_box .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #FFF1DB;
}

/*** Algolia docsearch overrides END ***/

/*** Loader ***/

.loading_overlay .loader {
  border: 1px solid #cc401b;
  border-radius: 50%;
  border-top: 2px solid #cc401b;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.loading_overlay .overlay_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  z-index: 100;
}

.loading_overlay .body_content_position {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  margin-top: -45px;
  font-weight: 500 !important;
}

.loading_overlay .subhead_wrapper_loader {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 300;
}

/*** Loader END ***/

/*** Media Query ***/
@media (min-width: 0) and (max-width: 1220px) {
  html {
    font-size: 100% !important;
  }

  body {
    min-width: 100% !important;
    overflow-y: auto;
  }
}

/*** Mobile + Tab overrides ***/
@media (max-width: 1024px) {
  body {
    max-width: 100%;
    min-width: 0px !important;
  }

  .main_container_wrapper {
    min-width: 0px !important;
  }

  #sidebar {
    position: absolute;
    z-index: 10;
    width: 90% !important;
    /*max-width: 800px !important;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 120px;
    height: calc(100% - 120px);
  }

  #content_inner_wrapper {
    width: 100% !important;
  }

  [role="main"] {
    float: none !important;
    width: 90% !important;
    margin: 0 auto !important;
  }

  .mobile-only {
    display: initial;
  }

  .mobile-hide {
    display: none !important;
  }

  #mobile-logo {
    display: flex;
    margin-top: 20px;
  }

  #docs-content,
  #docs-header {
    margin-left: 0;
    margin-right: 0;
  }

  #input_search_box {
    flex: 1;
    margin-left: 10px;
  }

  #input_search_box .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu,
  #input_search_box .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
    left: -34px !important;
    max-width: calc(166% + 10px);
    min-width: calc(166% + 10px);  /* 1 / width(input_search_box) + 10px */
  }
}
@media (min-width: 768px) and (max-width: 1385px) {
  #mc_embed_signup form {
    padding-top: 10px !important;
  }
  #mc_embed_signup {
    display: block;
  }
  #mc_embed_signup .subscribe-form-content {
    padding-right: 0;
    text-align: left;
  }
  #mce-responses .error-message, #mce-responses .success-message {
    top: 34px !important;
  }
}
/*** Mobile overrides ***/
@media (max-width: 767px) {
  #sidebar {
    top: 170px;
    height: calc(100% - 170px);
  }
  #mc_embed_signup {
    display: block;
  }
  #mc_embed_signup .subscribe-form-content {
    padding-right: 0;
    text-align: left;
  }
  #mc_embed_signup form {
    padding-top: 10px !important;
    display: block !important;
  }
  .full-width {
    padding-bottom: 15px;
  }
  .submit-box {
    margin-left: 0;
  }
  .submit-box input {
    padding: 0 4px !important;
  }
  #mce-responses .error-message, #mce-responses .success-message {
    top: 34px !important;
  }
  #input_search_box {
    flex: 1;
    margin-left: 10px;
  }

  #input_search_box .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu,
  #input_search_box .algolia-autocomplete.algolia-autocomplete-left .ds-dropdown-menu {
    left: -34px !important;
    max-width: calc(111% + 10px);
    min-width: calc(111% + 10px);  /* 1 / width(input_search_box) + 10px */
  }
  .api-tabs .ui.tab {
    padding: 10px
  }
  .floatingSubscribeWrapper {
    width: 100%;
  }
  .footer-hasura-custom {
    display: block;
  }
  .versionTxt {
    display: none;
  }
  .versionTxt select {
    margin-right: 0;
    margin-left: 8px;
  }
  .footer-hasura-custom .footer_logo {
    margin-right: 0;
  }
  .nav-feedback-wrapper {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .pagination-nav {
    margin-bottom: 20px;
  }
  .feedback_wrapper {
    margin-left: 0;
    width: 100%;
  }
  .feedback_wrapper .feedback {
    width: 100%;
  }
  .feedback_wrapper .feedback .feedback-content {
    flex: 1;
  }
  .detailed_feedback_wd {
    width: 100% !important;
  }
  .subscribe-form-wrapper {
    width: 100%;
  }
}

/* common Header */
.removePaddBottom {
  padding-bottom: 0 !important;
}
.productWd100 {
  width: 100% !important;
  height: auto !important;
}
.clearBothPad {
  clear: both;
  padding-left: 32px !important;
  padding-right: 32px !important;
  width: calc(100% - 64px) !important;
}
.productWd50 {
  width: calc(50% - 66px);
  float: left;
  padding: 32px 32px !important;
  border-right: 1px solid #e4e4e4;
}
.articleDesc {
  font-size: 16px;
  margin: 0 0;
  font-family: 'Poppins';
}

.boderBottom {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.commonGrayBgColor {
  background-color: #F8F8F8;
}
.commonBlueNavBtn {
  font-weight: 600;
  font-size: 12px;
  font-family: 'Poppins';
  line-height: 140%;
  width: auto;
  padding: 8px 20px;
  border-radius: 4px;
  background: linear-gradient(180deg, #1EB4D4 0%, #1EB4D4 100%);
  border: 1px solid rgba(30, 180, 212, 1);
  color: #F8F8F8;
  transition: all .2s ease-in-out;
}
.commonBlueNavBtn:hover {
  background: linear-gradient(180deg, #1EB4D4 0%, #0F5181 100%);
  border: 1px solid rgba(30, 180, 212, 1);
}
.commonBlueNavBtn:focus {
  outline: none;
}
.dropDownArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ECECEC;
}
.containerWidth {
  padding: 0 15px;
  margin: 0 auto;
}
.gitHubBtnMobile {
	 display: none;
}
.m-top-15 {
	 margin-top: 15px;
}
.m-b-5 {
	 margin-bottom: 5px;
}
.m-b-10 {
	 margin-bottom: 10px;
}
.positionStickyBanner {
	 position: -webkit-sticky;
	 position: sticky;
	 top: 0px;
}
#header {
	 transition: top 0.3s;
}
.positionStickyHeader {
	 position: -webkit-sticky !important;
	 position: sticky !important;
	 top: 0px;
	 z-index: 100 !important;
	 box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08) !important;
}
.visibleMobile {
	 display: block;
	 width: 338px;
	 height: 100vh;
	 position: absolute;
	 top: 0;
	 overflow: auto;
	 right: 0;
	 transform: translateX(380px);
	 transition: transform 0.3s ease-out;
}
.hideMobile {
	 display: block;
}
.navBarToggle {
	 border-radius: 4px;
	 padding: 8px 0px;
	 display: none;
	 position: absolute;
	 right: 0px;
	 top: 15px;
}
.navBarToggle .iconBar {
	 display: block;
	 width: 24px;
	 height: 2px;
	 border-radius: 1px;
	 margin: 0 auto;
	 margin-top: 4px;
}
.navBarToggle .iconBar:first-child {
	 margin-top: 0px;
}
.navBarToggle:focus {
	 outline: none;
}
.navWhiteBG .navBarToggle .iconBar {
	 background-color: #717780 !important;
}
.navBlueBG .navBarToggle .iconBar {
	 background-color: #fff !important;
}
.dropDownList:hover a .dropDownArrow {
	 opacity: 1 !important;
	 visibility: visible !important;
}
.dropDownList:hover .dropDownContent {
	 opacity: 1;
	 visibility: visible;
}
.dropDownList .dropDownContent {
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 width: 100%;
	 opacity: 0;
	 visibility: hidden;
	 transition: visibility 0s, opacity 0.3s linear;
}
.twitterBtn, .discordBtn {
	 border-radius: 8px;
	 border: 1px solid #d1d2d3;
	 background-color: #e4e4e4;
	 width: 28px;
	 height: 28px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 opacity: 0.8;
	 cursor: pointer;
}
.twitterBtn img, .discordBtn img {
	 margin-right: 0;
	 width: 20px;
	 min-width: 20px;
}
.twitterBtn:hover, .discordBtn:hover {
	 opacity: 1;
}
.discordBtn img {
	 max-width: 17px;
	 width: 17px;
	 min-width: 17px;
	 margin-top: 2px;
}
.gitHubBtn {
	 opacity: 0.8;
	 border-radius: 8px;
	 color: #111b29;
	 border: solid 1px #d1d2d3;
	 font-family: 'Poppins';
	 font-size: 12px;
	 font-weight: 600;
	 display: inline-flex;
	 align-items: center;
	 padding: 0 0 !important;
   text-decoration: none;
}
.gitHubBtn .gitHubStars {
	 display: flex;
	 align-items: center;
	 border-top-left-radius: 6px;
	 border-bottom-left-radius: 6px;
	 padding-right: 8px;
	 padding-left: 8px;
	 background: #e4e4e4;
	 color: #717780;
	 height: 28px;
}
.gitHubBtn .gitHubStars img {
	 width: 20px;
	 min-width: 12px;
	 margin-right: 0;
}
.gitHubBtn .gitHubStars span {
	 line-height: 8px;
	 margin-top: 0px;
	 padding-right: 4px;
	 padding: 4px;
}
.gitHubBtn .gitHubCount {
	 border-top-right-radius: 6px;
	 border-bottom-right-radius: 6px;
	 border-left: 1px solid #d1d2d3;
	 height: 28px;
	 line-height: 8px;
	 display: flex;
	 margin-top: 0px;
	 padding-right: 8px;
	 padding-left: 8px;
	 align-items: center;
	 background: #f2f2f2;
	 color: #717780;
}
.gitHubBtn .gitHubStats {
	 color: #fff;
}
.gitHubBtn:hover {
	 opacity: 1;
}
.headerWrapper {
	 height: 96px;
	 display: flex;
	 align-items: center;
	 position: relative;
	 border-bottom: 0 !important;
	 z-index: 1;
}
.headerWrapper .navLeft {
	 display: flex;
	 align-items: flex-end;
	 height: 46px;
}
.headerWrapper .navLeft .brand {
	 margin-right: 16px;
}
.headerWrapper .navLeft .brand a {
	 display: flex;
}
.headerWrapper .navLeft .brand img {
	 width: 120px;
}
.headerWrapper .shareIconWrapper {
	 display: flex;
	 justify-content: center;
	 flex: 1;
}
.headerWrapper .shareIconWrapper a {
	 margin: 0 15px;
   text-decoration: none;
}
.headerWrapper .navBlueBG .navBarUL, .headerWrapper .navWhiteBG .navBarUL {
   display: flex;
   align-items: flex-end;
   height: 46px;
   padding: 0 0;
   margin: 0 0;
}
.headerWrapper .navBlueBG .navBarUL li, .headerWrapper .navWhiteBG .navBarUL li {
	 font-size: 12px;
	 line-height: 140%;
	 font-family: 'Poppins';
	 letter-spacing: 0.04em;
	 list-style-type: none;
	 display: inline-block;
	 padding: 0 16px;
	 font-weight: 600;
   margin: 0 0;
}
.headerWrapper .navBlueBG .navBarUL li a, .headerWrapper .navWhiteBG .navBarUL li a {
	 padding: 14px 0;
   padding-bottom: 30px;
	 position: relative;
   text-decoration: none;
   cursor: pointer;
}
.headerWrapper .navBlueBG .navBarUL li a .dropDownArrow, .headerWrapper .navWhiteBG .navBarUL li a .dropDownArrow {
	 position: absolute;
	 top: 51px;
	 left: 50%;
	 transform: translateX(-50%);
	 opacity: 0;
	 visibility: hidden;
	 transition: visibility 0s, opacity 0.3s linear;
}
.headerWrapper .navBlueBG .navBarUL li a:hover, .headerWrapper .navWhiteBG .navBarUL li a:hover {
	 text-decoration: none;
}
.headerWrapper .navBlueBG .navBarUL li a:focus, .headerWrapper .navWhiteBG .navBarUL li a:focus {
	 outline: none;
}
.headerWrapper .navBlueBG .navBarUL li a .commonBlueNavBtn, .headerWrapper .navWhiteBG .navBarUL li a .commonBlueNavBtn {
	 margin-bottom: -8px;
}
.headerWrapper .navBlueBG .navBarUL .smallPadd, .headerWrapper .navWhiteBG .navBarUL .smallPadd {
	 padding: 0 10px;
}
.headerWrapper .navBlueBG .navBarUL .navActive a, .headerWrapper .navWhiteBG .navBarUL .navActive a {
	 color: #1eb4d4;
	 opacity: 0.8;
}
.headerWrapper .navBlueBG .navBarUL .navActive a:hover, .headerWrapper .navWhiteBG .navBarUL .navActive a:hover {
	 opacity: 1;
	 color: #1eb4d4 !important;
}
.headerWrapper .navBlueBG .navBarULRight, .headerWrapper .navWhiteBG .navBarULRight {
	 padding: 0 0 !important;
	 padding-left: 12px !important;
}
.headerWrapper .navBlueBG .navBarUL li a {
	 color: rgba(255, 255, 255, .6);
}
.headerWrapper .navBlueBG .navBarUL li a:hover {
	 color: rgba(255, 255, 255, 1);
}
.headerWrapper .navBlueBG .navBarUL li:last-child {
	 padding-right: 0;
}
.headerWrapper .navBlueBG .navBarUL .navListActive a {
	 color: #fff;
}
.headerWrapper .navWhiteBG .navBarUL li a {
	 color: #717780;
	 opacity: 0.8;
}
.headerWrapper .navWhiteBG .navBarUL li a:hover {
	 color: #717780;
	 opacity: 1;
}
.headerWrapper .navWhiteBG .navBarUL li:last-child {
	 padding-right: 0;
}
.headerWrapper .navWhiteBG .navBarUL .navListActive a {
	 color: #505050;
}
.navDrapdownWrapper {
	 width: 1052px;
	 margin: 0 auto;
	 background-color: #f8f8f8;
	 box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.14);
	 border-radius: 8px;
	 position: absolute;
	 z-index: 1;
	 top: 30px;
	 padding: 0px 15px;
	 display: flex;
}
 .navDrapdownWrapper .productBorRight {
	 border-right: 1px solid #d5d5d5;
}
.navDrapdownWrapper .navDrapdownLeftWrapper {
  width: 41.66666667%;
  padding: 35px 15px;
}
.navDrapdownWrapper .navDrapdownLeftWrapper .navDrapdownListWrapper {
  padding-right: 15px;
}
.navDrapdownWrapper .navDrapdownRightWrapper {
  width: 58.33333333%;
  padding: 35px 15px;
}
.navDrapdownWrapper .navDrapdownListWrapper .wd33 {
  width: 33.33333333%;
  float: left;
}
.navDrapdownWrapper .navDrapdownListWrapper .wd50 {
  width: 50%;
  float: left;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources {
	 padding: 15px 15px;
	 cursor: pointer;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList:hover, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources:hover {
	 background-color: #f2f2f2;
	 border-radius: 8px;
}
.navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList:hover .navDrapdownRight .articleDesc, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources:hover .navDrapdownRight .articleDesc{
  color: #1B2738;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList .icon, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .icon {
	 min-width: 24px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList .icon img, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .icon img {
	 width: 24px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList .navDrapdownRight, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .navDrapdownRight {
	 padding-left: 16px;
	 padding-right: 30px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList .navDrapdownRight .articleDesc, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .navDrapdownRight .articleDesc {
	 color: #717780;
	 padding-bottom: 3px;
	 line-height: 150%;
   margin: 0 0;
   font-size: 16px;
   font-weight: 600;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList .navDrapdownRight .articleDescSmall, .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .navDrapdownRight .articleDescSmall {
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 150%;
	 color: #717780;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownList {
	 display: flex;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources {
	 padding: 14px 15px;
   text-align: center;
   padding: 14px 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  max-height: 56px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .icon {
	 text-align: center;
	 padding-bottom: 7px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .icon img {
	 min-height: 28px;
	 max-height: 28px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .navDrapdownRight {
	 padding: 0;
   padding-left: 16px;
}
 .navDrapdownWrapper .navDrapdownListWrapper .navDrapdownListResources .navDrapdownRight .articleDesc {
	 text-align: center;
	 color: #717780;
}
.navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .wd50 {
  width: calc(50% - 30px);
  padding: 0 15px;
  float: left;
}
 .navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer {
	 padding: 15px;
}
 .navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer:hover {
	 background-color: #f2f2f2;
	 border-radius: 8px;
}
.navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer:hover .articleDesc{
  color: #1B2738;
}
 .navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer .boxContainer {
	 max-height: 150px;
	 overflow: hidden;
	 border-radius: 8px;
}
 .navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer .articleDesc {
	 color: #717780;
	 padding-top: 20px;
	 padding-bottom: 8px;
	 line-height: 150%;
   margin: 0 0;
   font-size: 16px;
   font-weight: 600;
}
 .navDrapdownWrapper .navDrapdownRightWrapper .navDrapdownListWrapperRight .navContainer .articleDescSmall {
	 font-weight: normal;
	 font-size: 14px;
	 line-height: 150%;
	 color: #717780;
}
/* common header ends */
/* footer starts here */
.commonFooterBgColor {
  background-color: #1EB4D4;
}
.footerWrappper {
	 display: flex;
	 padding-top: 100px;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
}
 .footerWrappper .articleDesc, .footerWrappper .articleDescSmall {
	 font-family: 'Poppins';
	 font-weight: 600;
	 font-size: 16px;
	 line-height: 220%;
	 color: #fff;
}
 .footerWrappper .footerLinks {
	 padding: 0 38px 72px;
}
.footerWrappper .footerLinks:first-child {
  padding-left: 0;
}
 .footerWrappper .footerLinks .links {
	 font-size: 12px;
}
 .footerWrappper .footerLinks .links a {
	 color: rgba(255, 255, 255, .8);
	 display: contents;
   text-decoration: none;
}
 .footerWrappper .footerLinks .links a:hover {
	 color: rgba(255, 255, 255, 1);
	 border-bottom: 1px solid #fff;
}
 .footerWrappper .footerLinks .links .anchorBtn {
	 color: rgba(255, 255, 255, .8);
   background-color: transparent;
   border: 0;
   font-weight: 600;
   padding: 0 0;
   line-height: 220%;
}
 .footerWrappper .footerLinks .links .anchorBtn:hover, .footerWrappper .footerLinks .links .anchorBtn:focus {
	 color: rgba(255, 255, 255, 1);
   outline: none;
}
.copyWriteWrapper {
	 margin: 0 15px;
	 padding-top: 36px;
	 padding-bottom: 40px;
	 border-top: 1px solid #f8f8f8;
	 display: flex;
	 width: calc(100% - 30px);
}
 .copyWriteWrapper .articleDescSmall {
	 font-size: 12px;
	 color: rgba(255, 255, 255, .8);
}
 .copyWriteWrapper .copyWrite {
	 display: flex;
	 align-items: center;
}
 .copyWriteWrapper .footerSocialIconsWrapper {
	 margin-left: auto;
	 display: flex;
}
 .copyWriteWrapper .footerSocialIconsWrapper .socialBrands {
	 padding: 0 12px;
}
 .copyWriteWrapper .footerSocialIconsWrapper .socialBrands a {
	 opacity: 0.8;
}
 .copyWriteWrapper .footerSocialIconsWrapper .socialBrands a:hover {
	 opacity: 1;
}

/* Footer ends */
 .visibleMobile {
	 display: none;
}
.versionTxt {
  font-size: 14px;
  vertical-align: top;
  flex: 1;
  text-align: right;
  padding-right: 20px;
  color: #717780;
  font-weight: 600;
}
.versionTxt select {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .24);
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48px;
  padding: 0 4px;
  height: 22px;
  z-index: 1;
}
.versionTxt:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: -1;
}
.versionTxt select:focus {
  outline: none;
}
.versionTxt select::-moz-focus-inner, .versionTxt select option::-moz-focus-inner {
  border: 0;
}
 @media (min-width: 768px) and (max-width: 1200px) {
   .versionTxt select {
     margin-right: 0;
     margin-left: 8px;
   }
   .subscribeNewsletterWrapper {
     width: 100%;
   }
   .subscribe-form-wrapper {
     width: 100%;
   }
   .floatingSubscribeWrapper {
     width: 100%;
   }
}

 @media (max-width: 359px) {
	 .headerWrapper .navLeft .gitHubBtn {
		 display: none;
	}
}
 @media (max-width: 320px) {
	 .headerWrapper .navLeft .brand {
		 margin-right: 16px;
	}
}
.navContainerWrapper {
    width: calc(100% - 30px);
    padding: 0 15px !important;
}
.containerWrapper {
  max-width: 1132px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}
.tabbarContainerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tabbarContainerWrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px !important;
  line-height: 140%;
  text-decoration: none;
  color: #F8F8F8;
  cursor: pointer;
  background-color: #A8A8A8;
  border-radius: 8px;
  width: 129px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.tabbarContainerWrapper a:not(:first-child) {
  margin-left: 2em;
}

.tabbarContainerWrapper a span {

}

.tabbarContainerWrapper a:hover {
  transform: scale(.98);
}

.tabbarContainerWrapper .tabbarTabActive {
  background-color: #1EB4D4 !important;
}
.pagination-nav {
  display: flex;
}
.pagination-nav a {
  text-decoration: none;
}
.pagination-nav .pagination-prev, .pagination-nav .pagination-next {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #717780;
}
.pagination-nav .pagination-prev {
  margin-right: 15px;
}
.pagination-nav .pagination-next {
  margin-left: 15px;
}
.pagination-nav .pagination-prev img {
  margin-right: 6px;
}
.pagination-nav .pagination-next img {
  margin-left: 6px;
}
@media (min-width: 1050px) {
  .containerWidth {
    width: 1045px !important;
  }
}
@media (min-width: 1388px) {
  .containerWidth {
    width: 1328px !important;
  }
}
@media (min-width: 1030px) {
  .navDrapdownWrapper {
    width: 1010px;
  }
}
@media (max-width: 1049px) {
  .floatingSubscribe {
    display: none;
  }
  .gitHubBtnMobile {
  	 display: block;
  	 position: absolute;
  	 right: 65px;
  	 top: 30px;
  }
   .hideMobile {
  	 display: none;
  }
   .headerWrapper {
  	 position: relative;
  	 display: block;
  }
  .headerWrapper .navLeft {
    padding-top: 25px;
  }
   .headerWrapper .shareIconWrapper {
  	 display: none;
  }
   .headerWrapper .topnav .visibleMobile {
  	 box-shadow: -6px 4px 24px rgba(0, 0, 0, 0.15);
  	 background-color: #f8f8f8;
     display: block;
  }
   .headerWrapper .topnav .visibleMobile .menuBarView {
  	 height: calc(100vh - 73px);
  	 overflow: auto;
  }
   .headerWrapper .topnav .visibleMobile .navBarStripe {
  	 background-color: #5c94c8;
  	 padding: 32px 68px;
  	 position: relative;
  	 font-size: 12px;
  	 font-weight: 600;
  	 text-align: center;
  	 color: #d6ebff;
  	 line-height: 140%;
  }
   .headerWrapper .topnav .visibleMobile .navBarStripe a {
  	 color: #d6ebff;
     text-decoration: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarStripe span {
  	 font-size: 26px;
  	 padding-bottom: 10px;
  }
   .headerWrapper .topnav .visibleMobile .navBarStripe .closeNavBar {
  	 position: absolute;
  	 top: 16px;
  	 left: 16px;
  	 outline: none;
  }
  .headerWrapper .topnav .visibleMobile .navBarULMobile {
    width: 100%;
    float: left;
    padding: 0 0;
    margin: 0 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li {
  	 font-size: 12px;
  	 font-family: 'Poppins';
  	 list-style-type: none;
  	 font-weight: 600;
  	 text-transform: uppercase;
  	 width: calc(50% - 2px);
  	 float: left;
  	 height: 82px;
  	 border-right: 1px solid #e4e4e4;
  	 border-bottom: 1px solid #e4e4e4;
  	 display: flex;
  	 justify-content: center;
  	 align-items: center;
  	 color: #717780;
     margin: 0 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li a {
  	 color: #717780;
     text-decoration: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li a:hover {
  	 color: #717780;
  	 text-decoration: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li .menuArrow {
  	 margin-left: auto;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li .menuArrow img {
  	 min-width: inherit;
  	 transition: transform 0.2s ease-out;
  	 margin-right: 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile li .menuArrow .rotateImg {
  	 transform: rotate(90deg);
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .navActive a {
  	 color: #1eb4d4;
  	 opacity: 0.8;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .navActive a:hover {
  	 opacity: 1;
  	 color: #1eb4d4 !important;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navContainer:hover, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navContainer:hover {
  	 background-color: #f2f2f2;
  	 border-radius: 8px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navContainer .boxContainer, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navContainer .boxContainer {
  	 margin-bottom: 20px;
  	 max-height: 200px;
  	 overflow: hidden;
  	 border-radius: 8px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navContainer .boxContainer img, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navContainer .boxContainer img {
  	 width: 100%;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navContainer .articleDesc, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navContainer .articleDesc {
  	 font-weight: 600;
  	 font-size: 16px;
  	 line-height: 150%;
  	 color: #717780;
  	 text-transform: none;
  	 padding-bottom: 12px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navContainer .articleDescSmall, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navContainer .articleDescSmall {
  	 font-weight: normal;
  	 font-size: 12px;
  	 line-height: 150%;
  	 color: #717780;
  	 text-transform: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources {
  	 padding: 0px 0px;
  	 cursor: pointer;
     text-transform: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList:hover, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList:hover, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources:hover, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources:hover {
  	 background-color: #f2f2f2;
  	 border-radius: 8px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList .icon, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList .icon, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .icon, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .icon {
  	 min-width: 30px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList .icon img, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList .icon img, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .icon img, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .icon img {
  	 width: 30px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList .navDrapdownRight, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList .navDrapdownRight, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .navDrapdownRight {
  	 padding-left: 10px;
  }
  .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .productList .navDrapdownList .navDrapdownRight .articleDesc,
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList .navDrapdownRight .articleDesc,
   .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList .navDrapdownRight .articleDesc, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight .articleDesc, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .navDrapdownRight .articleDesc {
  	 font-weight: 600;
  	 font-size: 16px;
  	 line-height: 150%;
     color: #717780;
  	 text-transform: none;
  	 padding-bottom: 12px;
     margin: 0 0;
  }
  .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight .articleDesc {
    padding-bottom: 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList .navDrapdownRight .articleDescSmall,
   .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList .navDrapdownRight .articleDescSmall, .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight .articleDescSmall, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .navDrapdownRight .articleDescSmall {
  	 font-weight: normal;
  	 font-size: 12px;
  	 line-height: 150%;
  	 color: #717780;
  	 text-transform: none;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownList, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownList {
  	 display: flex;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources {
  	 padding: 0 0;
     text-align: center;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .icon, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .icon {
  	 text-align: center;
  	 padding-bottom: 7px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .icon img, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .icon img {
  	 min-height: 30px;
  	 max-height: 30px;
  	 margin-right: 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .navDrapdownRight {
  	 padding: 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth .navDrapdownListResources .navDrapdownRight .articleDesc, .headerWrapper .topnav .visibleMobile .navBarULMobile li .navDrapdownListResources .navDrapdownRight .articleDesc {
  	 text-align: center;
  	 color: #717780;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .heightAuto {
  	 height: auto;
  	 padding: 32px 0;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .fullWidth {
  	 width: calc(100% - 64px);
  	 height: auto;
  	 justify-content: flex-start;
  	 padding: 32px 32px;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .cursorPointer {
  	 cursor: pointer;
  }
   .headerWrapper .topnav .visibleMobile .navBarULMobile .removeBorderBottom {
  	 border-bottom: 0;
  }
   .headerWrapper .topnav .visibleMobile .socialShareWrapper {
  	 padding: 20px 32px;
  	 border-top: 1px solid #e4e4e4;
  	 display: flex;
  	 position: absolute;
  	 width: calc(100% - 64px);
  	 bottom: 0;
  }
   .headerWrapper .topnav .visibleMobile .socialShareWrapper .shareIcon {
  	 padding-right: 46px;
  }
   .headerWrapper .topnav .visibleMobile .socialShareWrapper .shareIcon img {
  	 width: 28px;
  }
   .navBarToggle {
  	 display: block !important;
  	 top: 30px;
  }
   .topnav.responsive .visibleMobile {
  	 transform: translateX(16px);
  }
   .navBarUL {
  	 display: none;
  }
  #product-menu, #resources-menu {
    display: block;
    position: relative;
  }
  #product-menu .menuArrow, #resources-menu .menuArrow {
    position: absolute;
    top: 32px;
    right: 32px;
  }
  .viewport {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .productList {
    padding: 32px 32px;
    border-bottom: 1px solid #e4e4e4;
  }
  .productList .navDrapdownList .navDrapdownRight .articleDesc, .productList .navDrapdownList .navDrapdownRight .articleDescSmall {
    text-transform: none !important;
    margin: 0 0;
  }
}
@media (max-width: 767px) {
  .footerWrappper {
	 padding-top: 40px;
  }
   .footerWrappper .footerLinks {
  	 width: 150px;
  	 padding: 0 0;
  	 padding-bottom: 30px;
  }
   .footerWrappper .footerLinks .links {
  	 line-height: 220%;
  	 padding-bottom: 5px;
  }
  .copyWriteWrapper {
	 display: block;
  }
   .copyWriteWrapper .copyWrite {
  	 justify-content: center;
  	 font-size: 14px;
  }
   .copyWriteWrapper .footerSocialIconsWrapper {
  	 padding-top: 20px;
  	 justify-content: center;
  }
  .containerWrapper {
    padding: 0 32px;
  }
}
