@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body {
  background-color: #f7f7f7;
  font-size: "Open Sans";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  font-size: 14px;
}
.wd95 {
  width: 95%;
  margin: 0 auto;
}
.navheader {
  width: 100%;
}
.navbar
{
  padding: 5px 10px;
}
.breakWord
{
  word-wrap: break-word;
}
.navBrand {
  padding-top: 14px;
  font-size: 14px;
  margin-right: 10px;
  padding-bottom: 3.125px;
  padding-left: 15px;
  padding-right: 15px;
}
.logoutBtn {
  margin-top: 12px;
  float: right;
  font-size: 14px;
  padding: 3.75px 7.5px;
}
.header {
  background-color: #4f5050;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  color: #cbcbcb;
  max-height: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.noPadd {
  padding-left: 0;
  padding-right: 0;
}
.grayBgColor {
  background-color: #efeded;
}
.removePaddRight {
  padding-right: 0;
}
.todoWrapper {
  width: 100%;
  position: relative;
}
.sectionHeader {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
.addPaddTopBottom {
  padding: 30px 0;
}
.commonBorRight {
  border-right: 1px solid #ccc;
}
.formInput input {
  height: 60px;
  padding: 16px 16px 16px 60px;
  border: none;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  font-size: 14px;
}
.formInput input:focus {
  outline: none;
}
.formInput {
  position: relative;
  display: flex;
  align-items: center;
}
.downArrow {
  position: absolute;
  left: 15px;
  font-size: 25px;
  opacity: 0.6;
}
.todoListwrapper {
  border-top: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.todoListwrapper ul {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  margin-bottom: 0;
}
.todoListwrapper ul li {
  list-style-type: none;
  min-height: 60px;
  max-height: 60px;
  /* overflow: auto; */
  display: flex;
  font-size: 14px;
  align-items: center;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
  position: relative;
}
.closeBtn {
  background-color: transparent;
  border: none;
  color: #cc9a9a;
  position: absolute;
  right: 15px;
  padding: 0;
  font-size: 25px;
}
.closeBtn i {
  font-size: 20px;
}
.closeBtn:hover {
  color: #af5b5e;
}
.closeBtn:focus {
  outline: none;
}
.labelContent {
  padding-left: 1px;
  color: #777;
  width: calc(100% - 128px);
  max-height: 60px;
  overflow: auto;
  display: flex;
  align-items: center;
}
.view {
  width: 28px;
  height: 28px;
  margin: 0 15px;
}
.footerList {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 30px;
}
.footerList:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.footerList ul {
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
  margin-bottom: 0;
  padding-left: 20px;
  z-index: 1;
}
.footerList ul li {
  list-style-type: none;
  display: inline-block;
}
.footerList ul li a {
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #777;
  cursor: pointer;
}
.footerList ul li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
.clearComp {
  background-color: transparent;
  border: none;
  color: #777;
  position: absolute;
  right: 15px;
  padding: 0;
}
.clearComp:focus {
  outline: none;
}
.todoMainWrapper {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
.displayBlock {
  display: block;
}
.removeMarBottom {
  margin-bottom: 0;
}
.sliderMenu {
  height: calc(100vh - 50px);
  overflow-y: auto;
}
.sliderHeader {
  padding-left: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.userInfo {
  padding: 10px 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.userInfo:hover {
  background-color: #d1d0d0;
}
.userImg {
  text-align: center;
  padding-right: 10px;
}
.userImg i {
  font-size: 20px;
}
.userImg img {
  width: 30px;
}
/*Custom  Checkbox */
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  min-width: 28px;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #66bb6a;
}
.removePaddLeft {
  padding-left: 0;
}
.removePaddLeft {
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.loadMoreSection {
  list-style-type: none;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ededed;
  background-color: #e6ecf0;
  position: relative;
  justify-content: center;
  cursor: pointer;
}
.userInfoPublic {
  width: 28px;
  min-width: 28px;
  height: 28px;
  min-height: 28px;
  border-radius: 50%;
  background-color: #dfe3e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 991px) {
  .sliderMenu {
    height: auto;
  }
  .labelContent
  {
    display: block;
  }
  .addPaddTopBottom {
    padding: 0px 0;
  }
  .sliderHeader, .userInfo {
    width: 95%;
    margin: 0 auto;
  }
}
