/*Display and hide the appropriate tab content*/
.tab {
    display: none;
}

.tab-active {
    display: block;
}

/*Clear the padding above the tabs*/
.tab-strip__element {
    padding-top: 0;
}

.tab-strip {
    list-style: none;
    padding-left: 0;
    margin-left: 0 !important;
}

/*Styles for inactive & unhovered tabs*/
.tab-strip__element {
    background-color: #f4f6f6;
    border-radius: 4px 4px 0 0;
    border: 0.5px solid #babdbe;
    color: #babdbe;
    display: table-cell;
    font-weight: bold;
    height: 34px;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 1%;
}

/*Styles for active tabs*/
.tab-strip__element[aria-selected=true],
.tab-strip__element[aria-selected=true]:focus,
.tab-strip__element[aria-selected=true]:hover {
    color: #6ba442;
    font-weight: bold;
    background-color: #fff;
    border: 0.5px solid #babdbe;
    border-bottom-color: transparent;
}

/*White background on hover*/
.tab-strip__element:hover {
    background: #fff;
}

/*Caret styling*/
.tab-strip__element[aria-selected=true] > .caret,
.tab-strip__element[aria-selected=true]:focus > .caret,
.tab-strip__element[aria-selected=true]:hover > .caret {
    border-top-color: #6ba442;
    border-bottom-color: #6ba442;
}

.tab-strip__element[aria-selected=true] > .caret,
.tab-strip__element[aria-selected=true]:hover > .caret {
    border-top-color: #babdbe;
    border-bottom-color: #babdbe;
}

.tab-strip [aria-selected]:hover {
    cursor: pointer;
}
