@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

.app {
  text-align: left;
}

.messageOdd {
  font-size: 18px;
  padding-left: 5px;
}

.message {
  font-size: 16px;
  background-color: #fff;
  padding-left: 5px;
  margin: 20px;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
}

.selfMessage {
  font-size: 16px;
  background-color: #eee;
  padding-left: 5px;
  margin: 20px;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  float: right;
}

.newMessageEven {
  font-size: 18px;
  background-color: #98FB98;
  padding-left: 5px;
}

.newMessageOdd {
  font-size: 18px;
  background-color: #8FBC8F;
  padding-left: 5px;
}

.messageWrapperNew {
  padding-bottom: 75px;
}

.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: #20c40f;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  font-family: 'raleway';
  color: #fff;
}

.oldNewSeparator {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

#chatbox {
  overflow: auto;
  height: calc(100vh - 90px);
  background-color: #f8f9f9;
}

.textboxWrapper {
  text-align: center;
  position: fixed;
  bottom: 87px;
  width: 75%;
  background-color: #fff;
  padding: 1%;
}

.textbox {}

.sendButton {
  width: 20%;
  background-color:'green';
}

.login {
  text-align: center;
}

.loginTextbox {
  font-size: 16px;
  height: 43px;
  width: 74%;
  margin-right: 1%;
  font-weight: 300;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 0;
  padding-left: 10px;
  display: inline-block;

}

.typoTextbox {
  font-size: 16px;
  height: 43px;
  width: 75%;
  margin-right: 1%;
  font-weight: 300;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 0;
  padding-left: 10px;
  display: inline-block;
  background-color: #f6f6f7;
}

.loginTextbox:focus, .typoTextbox:focus {
  outline: none;
  border-color: #016d95;
}

.typoTextbox:focus {
  outline: none;
  border-color: #bbbdbd;
}

.loginButton {
  height: 45px;
  width: 21%;
  display: inline-block;
  border-radius: 5px;
  background-color: 'green' !important;
  cursor: pointer;
  font-size: 16px;
  margin-right: 1%;
}

.typoButton {
  height: 45px;
  width: 20%;
  display: inline-block;
  border-radius: 5px;
  background-color: #ffca27;
  cursor: pointer;
  font-size: 16px;
  margin-right: 1%;
  border: 0;
  color: #222;
}

.typoButton:hover {
  background-color: #dba203;
}

.loginButton:focus, .typoButton:focus {
  outline: none;
}

.loginButton:hover {
  background-color: #f6f6f6;
}

.loginHeading {
  text-align: center;
  font-family: 'Raleway';
  margin-top: 0;
  padding-bottom: 20px;
}

.loginWrapper {
  width: 450px;
  padding: 30px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.errorMessage {
  text-align: center;
  color: 'red';
  padding-bottom: 10px;
}

.wd25 {
  width: 25%;
  display: inline-block;
}

.wd75 {
  width: 75%;
  display: inline-block;
}

.onlineUsers {
  background-color: #4f5050;
  height: 100vh;
  overflow: auto;
}

.messageName, .messsageTime {
  width: 49%;
  display: inline-block;
}

.messageName {
  color: #1d5d01;
}

.messsageTime {
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  color: #01999b;
}

.userList {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0px;
}

.userList li {
  padding: 10px;
  border-bottom: 1px solid #444;
  color: #fff;
}

.chatWrapper {
  display: flex;
  height: 100vh;
}

.userListHeading {
  font-weight: 600;
  padding: 15px 10px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #222;
  color: #fff;
}

.typingIndicator {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 1%;
}

.displayFlex
{
  display: flex;
  align-items: center;
}

.hasura-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hasura-logo a {
  padding: 0 10px;
}
.hasura-logo a:hover {
  text-decoration: none;
}
.hasura-logo img {
  height: 30px;
  cursor: pointer;
}
.App-header {
  background-color: #222;
  height: 50px;
  color: white;
  text-align: left;
}
.App-footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.footer-small-text{
  font-size: 12px;
}