# Sensitive stuff
.env
docker-compose.yml

# NPM-related stuff
node_modules
npm-debug.log
.nvm

# Build-related stuff
static/dist
hasura-console-oss-1.0.0.tgz
packages/console-oss/build/
storybook-static
lib/
!src/lib

# Tests-related stuff
cypress/videos
cypress/screenshots
.nyc_output
coverage
# is it needed anymore?
test

# Webpack-related stuff
webpack-assets.json
webpack-stats.json

# Text-editors-related stuff
*.swp
.idea/*
**/.tern-port

# Hasura stuff
packages/console-oss/build/
hasura-console-oss-1.0.0.tgz
