.env
cypress/videos
cypress/screenshots
.nyc_output
node_modules
static/dist
webpack-assets.json
webpack-stats.json
npm-debug.log
*.swp
coverage
.idea/*
test
**/.tern-port
packages/console-oss/build/
lib/
hasura-console-oss-1.0.0.tgz