@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../Common.scss";

.container {
}

.flexRow {
  display: flex;
}

.padd_left_remove {
  padding-left: 0;
}

.add_btn {
  margin: 10px 0;
}

.account {
  padding: 20px 0;
  line-height: 26px;
}

.sidebar {
  height: $mainContainerHeight;
  overflow: auto;
  background: #444;
  color: $navbar-inverse-color;

  hr {
    margin: 0;
    border-color: $navbar-inverse-color;
  }

  ul {
    list-style-type: none;
    padding-top: 10px;
    padding-left: 7px;

    li {
      padding: 7px 0;
      transition: color 0.5s;

      a,a:visited {
        color: $navbar-inverse-link-color;
      }

      a:hover {
        color: $navbar-inverse-link-hover-color;
        text-decoration: none;
      }
    }

    li:hover {
      padding: 7px 0;
      color: $navbar-inverse-link-hover-color;
      transition: color 0.5s;
      pointer: cursor;
    }
   }
}

.main {
  padding: 0;
  padding-left: 15px;
  height: $mainContainerHeight;
  overflow: auto;
  padding-right: 15px;
}

.rightBar {
  padding-left: 15px;
}
