{
  "openapi": "3.0.0",
  "info": {
    "title": "test-action-2",
    "version": "1.0.0"
  },
  "paths": {
    "/test-action-2": {
      "post": {
        "description": "Description of the action",
        "responses": {
          "200": {
            "description": "Success response for test-action-2",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "default": {
            "description": "Error response for test-action-2",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "blocking",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "result",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "security": [
          {
            "basic_protocol": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payload"
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://openwhisk.ng.bluemix.net/api/v1/namespaces/_/actions"
    }
  ],
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "payload": {
            "type": "string"
          },
          "age": {
            "type": "number"
          },
          "valid": {
            "type": "boolean"
          }
        },
        "required": ["payload", "age", "valid"]
      },
      "Error": {},
      "Payload": {
        "type": "object",
        "properties": {
          "age": {
            "type": "number"
          }
        },
        "required": ["age"]
      }
    },
    "securitySchemes": {
      "basic_protocol": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
