{
  "swagger": "2.0",
  "schemes": ["https"],
  "host": "www.docusign.net",
  "basePath": "/restapi",
  "info": {
    "contact": {
      "name": "DocuSign Dev Center",
      "url": "https://www.docusign.com/developer-center"
    },
    "description": "The DocuSign REST API provides you with a powerful, convenient, and simple Web services API for interacting with DocuSign.",
    "termsOfService": "https://www.docusign.com/company/terms-and-conditions/web",
    "title": "DocuSign",
    "version": "v2",
    "x-apisguru-categories": ["ecommerce"],
    "x-logo": {
      "url": "https://pbs.twimg.com/profile_images/841785437698068484/vxQaqzi-_400x400.jpg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/docusign/eSign-OpenAPI-Specification/master/esignature.rest.swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "docusign.net"
  },
  "externalDocs": {
    "description": "See the DocuSign REST API Guide for more information.",
    "url": "https://docs.docusign.com/esign"
  },
  "consumes": ["application/json", "application/xml"],
  "produces": ["application/json"],
  "securityDefinitions": {},
  "parameters": {},
  "responses": {},
  "tags": [
    {
      "description": "The AcccountBrands resource provides methods that allow you to create and delete the account brand associated with an account.\n\nBranding allows you to add the look and feel of your organization's\nbrand to the sending, signing, and email process making it easier for users to identify envelopes coming from your organization.\n\nThe DocuSign Account Custom Branding feature lets you set the colors, logo, and text for your account. You can create any number of brand profiles with different settings to reflect each of your corporate brands or different internal divisions or departments.\n\nWhen you create or change a branding profile, it applies to everyone using that profile and affects all envelopes sent with that profile.",
      "name": "AccountBrands"
    },
    {
      "description": "The AccountConsumerDisclosures resource provides methods that allow you to retrieve the consumer disclosures associated with the account.",
      "name": "AccountConsumerDisclosures"
    },
    {
      "description": "The CustomFields resource provides a method that enables you to retrieve the custom fields associated with an account.\n\nThese fields can be used with your account's envelopes to record information about the envelopes. The fields can be searched to find matching envelopes and track information. \n\nThe envelope custom fields are shown in the DocuSign member console's Envelope Settings section when a user creates an envelope. The envelope custom fields are not seen by envelope recipients.\n\nThere are two types of envelope custom fields, text and list. A text custom field lets the sender enter the value for the field. The list custom field lets the sender select the value of the field from a pre-determined list.",
      "name": "AccountCustomFields"
    },
    {
      "description": "The EnvelopeBulkRecipients resource provide methods that allow you manage the bulk recipient file for an envelope.\n\nThe bulk recipient CSV (Comma Separated Value) file contains the list of recipient names and email addresses that you can add to an envelope to send the same document to a large number of recipients.\n \nThe required and optional information that can be included the file is described in the [ML: BulkEnvelope: updateRecipients] method",
      "name": "EnvelopeBulkRecipients"
    },
    {
      "description": "The EnvelopeCustomFields resource provides methods that allow you manage custom fields in an envelope. \n\nCustom fields can be used in the envelopes for your account to record information about the envelope, help search for envelopes and track information. The envelope custom fields are shown in the Envelope Settings section when a user is creating an envelope in the DocuSign member console. The envelope custom fields are not seen by the envelope recipients.\n\nThere are two types of envelope custom fields, text and list. A text custom field lets the sender enter the value for the field. With a list custom field, the sender selects the value of the field from a pre-made list.",
      "name": "EnvelopeCustomFields"
    },
    {
      "description": "The EnvelopeDocumentFields resource provides methods that allow you to manage custom fields on a document.\n\nYou can create custom versions of standard fields that combine of field properties, such as font type or size, or a validation setting. \n\nNote: Some advanced features and options are supported only in certain DocuSign plans. Your account plan might not support some options discussed in this help topic. For more information about which options are available for your account, check your account plan or contact your Account Manager.",
      "name": "EnvelopeDocumentFields"
    },
    {
      "description": "The EnvelopeLocks resource provides methods that allow you to manage locks on an envelope.\n\nYou can lock the envelope, and set the time until the lock expires, to prevent users or recipients from accessing and changing the envelope.\n\nUsers must have envelope locking capability enabled to use these functions.",
      "name": "EnvelopeLocks"
    },
    {
      "description": "<!-- resources aren't rendered the same way\n     as other pages. This is a little hack to\n     make the headings work better -->\n<style>\nh1, h2, h3 {\n  margin-top: 1em;\n}\n</style>\n\nThe EnvelopeRecipients resource allows you manage the recipients of an\nenvelope. There are seven recipient types. All types share\na [core set of parameters](#core-recipient-parameters).\nSome recipient types have additional parameters.\n\n<br>\n\n| Recipient type | Description |\n| :--- | :--- |\n| [Agents](#agents-recipient) | An agent recipient can add name and email information for recipients that appear after the agent in routing order. |\n| [Carbon Copies](#carbon-copies-recipient) | Carbon copy recipients get a copy of the envelope but don't need to sign, initial, date or add information to any of the documents. This type of recipient can be used in any routing order. Carbon copy recipients receive their copy of the envelope when the envelope reaches the recipient's order in the process flow and when the envelope is completed. |\n| [Certified Deliveries](#certified-deliveries-recipient) | Certified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date or add information to any of the documents. |\n| [Editors](#editors-recipient) | Editors have the same management and access rights for the envelope as the sender. They can make changes to the envelope as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor. |\n| [In-Person Signers](#in-person-signers-recipient) | An in-person recipient is a DocuSign user, acting as a Signing Host, who is in the same physical location as the signer. |\n| [Intermediaries](#intermediaries-recipient) | An intermediary is a recipient who can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order, unless subsequent agents, editors or intermediaries are added. |\n| [Signers](#signers-recipient) | A signer is a recipient who must sign, initial, date, or add data to form fields on the documents in the envelope. |\n\n<br>\n\nNot all recipients are are available to all account types.\nReview your account plan to determine\nwhich recipient types are available to you.\nAll recipient types are available in the Demo environment.\n\n\n\nAll recipients, regardless of type, have the same common parameters.\nThe following table contains the descriptions\nfor the core properties for all recipient types.\n\n<br>\n\n| Name | Required | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| email | Yes | Email | Email of the recipient. Notification will be sent to this email id.<br/>Maximum Length: 100 characters. |\n| name | Yes | String | Full legal name of the recipient.<br/>Maximum Length: 100 characters. |\n| accessCode | No | String | This optional element specifies the access code a recipient has to enter to validate the identity.<br/>Maximum Length: 50 characters. |\n| addAccessCodeToEmail | No | Boolean | This optional attribute indicates that the access code is added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient. |\n| clientUserId | No | String | This specifies whether the recipient is embedded or remote.<br/><br/>If the `clientUserId` property is not null then the recipient is embedded. Note that if the `ClientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. |\n| embeddedRecipientStartURL | No | String | This is a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from DocuSign, just as a remote recipient would, but when the document link in the email is clicked the recipient is redirected, through DocuSign, to this URL to complete their actions. When routing to the URL, it is up to the sender's system (the server responding to the URL) to then request a recipient token to launch a signing session.<br/><br/>If the value `SIGN_AT_DOCUSIGN` is used for this node, the recipient is directed to an embedded signing or viewing process directly at DocuSign. The signing or viewing action is initiated by the DocuSign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that would be launched by any partner.<br/><br/>It is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application and DocuSign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets  the `EmbeddedRecipientStartURL` property to `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, DocuSign recommends that one of the normal DocuSign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) be used to verify the identity of the recipient.<br/><br>If the `clientUserId` property is NOT set and the `embeddedRecipientStartURL` property is set, DocuSign ignores the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the `embeddedRecipientStartURL` property using merge fields. The available merge fields items are: envelopeId, recipientId, recipientName, recipientEmail, and customFields. The customFields must be part of the recipient or envelope. The merge fields are enclosed in double brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]` |\n| customFields | No | customField |An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the envelope status but otherwise not used by DocuSign. String `customField` properties have a maximum length of 100 characters. |\n| emailNotification | No | emailNotification | An optional complex type that has information for setting the language for the recipient's email information. It is composed of three elements:<br/><br/>*emailBody*: a string with the email message sent to the recipient.<br/>Maximum Length: 10000 characters.<br/><br/>*emailSubject*: a string with the subject of the email sent to the recipient.<br/>Maximum Length: 100 characters.<br/><br/>*supportedLanguage*: The simple type enumeration of the language used. The supported languages, with the language value shown in parenthesis, are: Arabic (ar), Bahasa Indonesia (id), Bahasa Melayu (ms) Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro),Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk) and Vietnamese (vi).<br/><br/>**IMPORTANT**: If this is enabled for one recipient, it overrides the Envelope Subject and `EmailBlurb` property settings. Also, you must set the  `emailNotification` property for all recipients. |\n| excludedDocuments | No | Array of Strings | Specifies the documents that are not visible to this recipient. Document Visibility must be enabled for the account and the enforceSignerVisibility property must be set to true for the envelope to use this.<br/><br/>When the enforceSignerVisibility property is set to **true**, documents with tabs can only be viewed by signers that have a tab on that document. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all the documents in an envelope, unless they are specifically excluded using this setting when an envelope is sent. Documents that do not have tabs are always visible to all recipients, unless they are specifically excluded using this setting when an envelope is sent. |\n| idCheckConfigurationName | No | String |Specifies authentication check by name. The names used here must be the same as the authentication type names used by the account (these name can also be found in the web console sending interface in the Identify list for a recipient). This overrides any default authentication setting.<br/><br/>_Example_:<br/> Your account has ID Check and SMS Authentication available and in the web console Identify list these appear as 'ID Check $' and 'SMS Auth $'. To use ID check in an envelope, the `idCheckConfigurationName` property must be  set to `ID Check $`. To use SMS, it must be set to `SMS Auth $` and you must add phone number information to the `smsAuthentication` node.|\n| iDCheckInformationInput | No | IdCheckInformationInput | This complex element contains input information related to a recipient ID check. It can include the following information.<br/><br/>*addressInformationInput*: Used to set recipient address information and consists of:<br/><br/>*addressInformation*: consists of six elements, with street2 and zipPlus4 being optional. The elements are: street1, street2, city, state, zip, zipPlus4\\. The maximum number of characters in each element are: street1/street2 = 150 characters, city = 50 characters, state = 2 characters, and zip/zipPlus4 = 20 characters.<br/><br/>displayLevelCode: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*dobInformationInput*: Used to set recipient date of birth information and consists of:<br/><br/>*dateOfBirth*: Specifies the recipient's date, month and year of birth.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn4InformationInput*: Used to set the last four digits of the recipient's SSN information and consists of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn9InformationInput*: Used to set the recipient's SSN information. Note that the ssn9 information can never be returned in the response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*: Specifies the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay. |\n| inheritEmailNotificationConfiguration | No | Boolean | Optional element. If true and the envelope recipient creates a DocuSign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient's account. |\n| note | No | String | A note that is unique to this recipient. This note is sent to the recipient via the signing email. The note displays in the signing UI near the upper left corner of the document on the signing screen.<br/>Maximum Length: 1000 characters. |\n| phoneAuthentication | No | RecipientPhoneAuthentication | Optional element. Contains the elements: <br/><br/> *recipMayProvideNumber*:Boolean. When set to **true** thenrecipient can use whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*: ArrayOfString. A list of phone numbers the recipient can use. <br/><br/>*recordVoicePrint* - Reserved for DocuSign. <br/><br/>*validateRecipProvidedNumber* - Reserved for DocuSign. | |\n| recipientAttachment | No | Attachment | Reserved for DocuSign. |\n| recipientId | No | String | Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document. |\n| requireIdLookup | No | Boolean | When set to **true**, the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity. |\n| roleName | No* | String | Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients. |\n| routingOrder | Yes | String | This element specifies the routing order of the recipient in the envelope. |\n| samlAuthentication | No | samlAssertionAttributes | Optional element, account must be set up to use SSO to use this. Contains the name/value pair information for the SAML assertion attributes:<br/><br/>*name*: The name of the SAML assertion attribute.<br/><br/>*value*: The value associated with the named SAML assertion attribute. |\n| smsAuthentication | No | senderProvidedNumbers | Optional element. Contains the element:<br/><br/>*senderProvidedNumbers*: Array that contains a list of phone numbers the recipient can use for SMS text authentication. |\n| socialAuthentications | No | Boolean | Lists the social ID type that can be used for recipient authentication. |\n| templateAccessCodeRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true** and the `TemplateLocked` parameter is set to **true**, the sender must enter an access code. |\n| templateLocked | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**, the sender cannot change any attributes of the recipient. |\n| templateRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**,  the sender may not remove the recipient. |\n\n<br>\n\n**JSON layout**\n\n```\n\"email\": \"email.name@company.com\",\n  \"name\": \"recipient name\",\n  \"accessCode\": \"\",\n  \"addAccessCodeToEmail\": false,\n  \"clientUserIs\": null,\n  \"embeddedRecipientStartURL\": \"string\",\n  \"customFields\": {\n    \"sample string 1\",\n    \"sample string 2\"\n  },\n  \"emailNotification\"{\n    \"emailBody\":\"email text\",\n    \"emailSubject\":\"Subject text\",\n    \"supportedLanguage\":\"en\",\n  },\n  \"excludedDocuments\": [\"2\", \"4\"],\n  \"idCheckConfigurationName\": null,\n  \"idCheckInformationInput\": {\n    \"addressInformationInput\": {\n      \"addressInformation\": {\n        \"street1\": \"sample string 1\",\n        \"street2\": \"sample string 2\",\n        \"city\": \"sample string 3\",\n        \"state\": \"sample string 4\",\n        \"zip\": \"sample string 5\",\n        \"zipPlus4\": \"sample string 6\"\n      },\n      \"displayLevelCode\": \"sample string 1\",\n      \"receiveInResponse\": \"sample string 2\"\n    },\n    \"dobInformationInput\": {\n      \"dateOfBirth\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\",\n      \"receiveInResponse\": \"sample string 3\"\n    },\n    \"ssn4InformationInput\": {\n      \"ssn4\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\",\n      \"receiveInResponse\": \"sample string 3\"\n    },\n    \"ssn9InformationInput\": {\n      \"ssn9\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\"\n    }\n  },\n  \"inheritEmailNotificationConfiguration\": false,\n  \"note\": \"\",\n  \"phoneAuthentication\": {\n    \"recipMayProvideNumber\": \"sample string 1\",\n    \"validateRecipProvidedNumber\": \"sample string 2\",\n    \"recordVoicePrint\": \"sample string 3\",\n    \"senderProvidedNumbers\": [\n      \"sample string 1\",\n      \"sample string 2\"\n    ]\n  },\n  \"recipientAttachment\": null,\n  \"recipientCaptiveInfo\": null,\n  \"recipientId\": \"1\",\n  \"requireIdLookup\": false,\n  \"roleName\": \"\",\n  \"routingOrder\": 1,\n  \"samlAuthentication\": {\n    \"samlAssertionAttributes\": [\n      {\n        \"name\": \"string\",\n        \"value\": \"string\"\n      },\n      {\n        \"name\": \"string\",\n        \"value\": \"string\"\n      }\n    ]\n  },\n  \"smsAuthentication\": {\n    \"senderProvidedNumbers\":[\n      \"sample string 1\",\n      \"sample string 2\"\n    ]\n  },\n  \"socialAuthentications\": null,\n  \"templateAccessCodeRequired\": false,\n  \"templateLocked\": false,\n  \"templateRequired\": false,\n...\n```\n\n\n\nAn agent recipient can add name and email information for recipients that appear after the agent in routing order.\n\nIn addition to the [core parameters](#core-recipient-parameters),\nthis type adds the following parameters.\n\n<br>\n\n| Name | Required | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |\n| canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |\n\n<br>\n\n**JSON layout**\n\n```\n\"agents\": [{\n <core parameters>\n  \"canEditRecipientEmails\": false,\n  \"canEditRecipientNames\": false\n}],\n```\n\n\n\nCarbon copy recipients get a copy of the envelope but don't need to sign, initial, date or add information to any of the documents. This type of recipient can be used in any routing order. Carbon copy recipients receive their copy of the envelope when the envelope reaches the recipient's order in the process flow and when the envelope is completed.\n\nThis recipient type uses only the [core parameters](#core-recipient-parameters).\n\n**JSON layout**\n\n```\n\"carbonCopies\": [{\n <core parameters>\n```\n\n\n\nCertified delivery recipients must receive the completed documents for the envelope to be completed. However, they don't need to sign, initial, date or add information to any of the documents.\n\nThis recipient type uses only the [core parameters](#core-recipient-parameters).\n\n**JSON layout**\n\n```\n\"certifiedDeliveries\": [{\n<core parameters>\n}],\n```\n\n\nEditors have the same management and access rights for the envelope as the sender. They can make changes to the envelope as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor.\n\nIn addition to the [core parameters](#core-recipient-parameters),\nthis type adds the following parameters.\n\n<br>\n\n| Name | Required | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |\n| canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |\n\n<br>\n\n\n**JSON layout**\n\n```\n\"editors\": [{\n <core parameters>\n  \"canEditRecipientEmails\": false,\n  \"canEditRecipientNames\": false\n}],\n```\n\n\n\nAn in-person recipient is a DocuSign user,\nacting as a Signing Host,\nwho is in the same physical location as the signer.\n\nIn addition to the [core parameters](#core-recipient-parameters),\nthis type adds the following parameters.\n\nThe following restrictions apply\nto using electronic notary when sending documents:\n\n* Authentication methods are allowed for the signer but not the notary.\n* The Sign On Paper, Document Markup, Field Markup and Change Signer options cannot be used for the documents.\n* Tabs may be assigned to the signer, but cannot be assigned to the notary.\n\nRefer to [eNotary Resources][enotary-resources]\nin the DocuSign Support Center for more information\nabout how the eNotary feature works.\n\n<br>\n\n| Name                | Required                                                          | Schema Type | Description                                                                                                                                                                                                                                                                                                                            |\n| :------------------ | :---------------------------------------------------------------- | :---------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| inPersonSigningType | No                                                                | String      | Specifies whether the envelope uses the eNotary feature. The accepted values are:<ul markdown=1><li>`inPersonSigner` The envelope uses the normal in-person signing flow.</li><li>`notary`: The envelope uses the eNotary signing flow.</li></ul>                                                                                      |\n| notaryHost          | Yes, when `inPersonSigningType` is `notary`                       | NotaryHost  | Sets the information for the notary host for the notary in person signing flow. The following information is required: <ul markdown=1> <li>`recipientId`: A unique ID number for the notary signing host. </li> <li>`name`: Specifies the notary's full legal name.</li> <li>`email`: Specifies the notary's email address. </li> </ul>|\n| autoNavigation      | No                                                                | Boolean     | Specifies whether auto navigation is set for the recipient.                                                                                                                                                                                                                                                                            |\n| defaultRecipient    | No                                                                | Boolean     | When set to **true**, this is the default recipient for the envelope. This option is used when creating an envelope from a template.                                                                                                                                                                                                   |\n| hostName            | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The name of the signing host. This is the DocuSign user that is hosting the in-person signing session.                                                                                                                                                                                                                                 |\n| hostEmail           | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The email address of the signing host. This is the DocuSign user that is hosting the in-person signing session.                                                                                                                                                                                                                        |\n| signerName          | Yes, when `inPersonSigningType` is `inPersonSigner`               | String      | The in-person signer's full legal name.                                                                                                                                                                                                                                                                                                |\n| signerEmail         | No, but valid only when `inPersonSigningType` is `inPersonSigner` | String      | The in-person signer's email address.                                                                                                                                                                                                                                                                                                  |\n| name                | Yes, when `inPersonSigningType` is `notary`                       | String      | The full legal name of the signer in an eNotary flow.                                                                                                                                                                                                                                                                                  |\n| email               | Yes, when `inPersonSigningType` is `notary`                       | String      | The signer's email address in an eNotary flow.                                                                                                                                                                                                                                                                                         |\n| signatureInfo       | No                                                                | String      | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient.                                                                                                     |\n| signInEachLocation  | No                                                                | Boolean     | When set to **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once).                                                                     |\n| tabs                | No                                                                | Tab         | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the [EnvelopeRecipientTabs resource][envelopeRecipientTabsResource] for more information about tabs.                                                                                     |\n\n<br>\n\n**JSON layout**\n\n```\n\"inPersonSigners\": [{\n  \"hostEmail\": \"signing.host@company.com\",\n  \"hostName\": \"Mike Host\",\n <core parameters>\n  \"autoNavigation\": false,\n  \"defaultRecipient\": false,\n  \"signInEachLocation\": false,\n  \"signatureInfo\": null,\n  \"signerEmail\": \"inperson.signer@company.com\",\n  \"signerName\": \"Isaac Inperson\",\n  \"email\": \"notary.signer@example.com\",\n  \"name\": \"Notary Signer\"\n  \"tabs\": {\n    \"approveTabs\": null,\n    \"checkboxTabs\": null,\n    \"companyTabs\": null,\n    \"dateSignedTabs\": null,\n    \"dateTabs\": null,\n    \"declineTabs\": null,\n    \"emailTabs\": null,\n    \"envelopeIdTabs\": null,\n    \"fullNameTabs\": null,\n    \"initialHereTabs\": null,\n    \"listTabs\": null,\n    \"noteTabs\": null,\n    \"numberTabs\": null,\n    \"radioGroupTabs\": null,\n    \"signHereTabs\": [{\n    \"signerAttachmentTabs\": null,\n    \"ssnTabs\": null,\n    \"textTabs\": null,\n    \"titleTabs\": null,\n    \"zipTabs\": null\n  }\n  \"inPersonSigningType\": \"notary\",\n  \"notaryHost\": {\n    \"email\": \"notary@example.com\",\n    \"name\": \"Natalie Notary\",\n    \"recipientId\": \"string\"\n  }\n}],\n```\n\n\n\nAn intermediary is a recipient who can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order, unless subsequent agents, editors or intermediaries are added.\n\nIn addition to the [core parameters](#core-recipient-parameters),\nthis type adds the following parameters.\n\n<br>\n\n| Name | Required | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |\n| canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |\n\n<br>\n\n**JSON layout**\n\n```\n\"intermediaries\": [{\n<core parameters>\n  \"canEditRecipientEmails\": false,\n  \"canEditRecipientNames\": false\n}],\n```\n\n\n\n\nA signer is a recipient who must sign, initial, date, or add data to form fields on the documents in the envelope.\n\nIn addition to the [core parameters](#core-recipient-parameters),\nthis type adds the following parameters.\n\n<br>\n\n\n| Name | Required | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| autoNavigation | No | Boolean | Specifies whether auto navigation is set for the recipient.|\n| defaultRecipient | No | Boolean | When set to **true**, this is the default recipient for the envelope. This option is used with the CreateEnvelopeFromTemplatesAndForms method. |\n| signInEachLocation | No | Boolean | When set to **true** and the feature is enabled in the sender's account, the signing recipient is required to draw signatures and initials at each signature/initial tab (instead of adopting a signature/initial style or only drawing a signature/initial once). |\n| signatureInfo | No | String | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Allows the sender to pre-specify the signature name, signature initials, and signature font used in the signature stamp for the recipient. |\n| signerEmail | No | String | Optional element. The email address for an InPersonSigner recipient Type.<br/>Maximum Length: 100 characters. |\n| signerName | Yes | String | Required element with recipient type In Person Signers.<br/>Maximum Length: 100 characters.<br/><br/>The full legal name of a signer for the envelope. |\n| tabs | No | Tab | Optional element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs associated with the recipient. See the the [EnvelopeTabs resource][envelopeTabsResource]  for more information about tabs. |\n| deliveryMethod | No | String | Reserved for DocuSign.|\n| deliveredDateTime | No | DateTime | Reserved for DocuSign. |\n| signedDateTime | No | DateTime | Reserved for DocuSign. |\n| offlineAttributes | No | &nbsp; | Reserved for DocuSign.|\n\n<br>\n\n**JSON layout**\n\n```\n\"Signers\": [{\n<core paramters>\n  \"autoNavigation\": false,\n  \"defaultRecipient\": false,\n  \"signInEachLocation\": false,\n  \"signatureInfo\": null,\n  \"tabs\": {\n    \"approveTabs\": null,\n    \"checkboxTabs\": null,\n    \"companyTabs\": null,\n    \"dateSignedTabs\": null,\n    \"dateTabs\": null,\n    \"declineTabs\": null,\n    \"emailTabs\": null,\n    \"envelopeIdTabs\": null,\n    \"fullNameTabs\": null,\n    \"initialHereTabs\": null,\n    \"listTabs\": null,\n    \"noteTabs\": null,\n    \"numberTabs\": null,\n    \"radioGroupTabs\": null,\n    \"signHereTabs\": [{\n    \"signerAttachmentTabs\": null,\n    \"ssnTabs\": null,\n    \"textTabs\": null,\n    \"titleTabs\": null,\n    \"zipTabs\": null\n  }\n  \"deliveryMethod\":\"\",\n  \"deliveredDateTime\":\"String Content\",\n  \"signedDateTime\":\"String Content\",\n  \"offlineAttributes\":{\n    \"deviceName\":\"String Content\",\n    \"deviceModel\":\"String Content\",\n    \"gpsLatitude\":\"String Content\",\n    \"gpsLongitude\":\"String Content\",\n    \"accountEsignId\":\"String Content\"\n  }\n}],\n```\n\n[envelopeRecipientTabsResource]:  /esign/restapi/Envelopes/EnvelopeRecipientTabs/\n[enotary-resources]:              https://support.docusign.com/en/guides/ndse-user-guide-enotary-resources\n\n",
      "name": "EnvelopeRecipients"
    },
    {
      "description": "<!-- resources aren't rendered the same way\n     as other pages. This is a little hack to\n     make the headings work better -->\n<style>\nh1, h2, h3 {\n  margin-top: 1em;\n}\n</style>\n\nThe EnvelopeRecipientTabs resource provides methods that let you\nadd,\nupdate,\nand delete tabs\nfrom an envelope.\nTabs are associated with a specific recipient\nin an envelope\nand are only used by the recipient types\nIn Person Signers and Signers. \n\n<!-- START doctoc generated TOC please keep comment here to allow auto update -->\n<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->\n**On this page**\n\n- [Tab Types](#tab-types)\n- [View Tab](#view-tab)\n- [Requesting Payments](#requesting-payments)\n- [Using Custom Tabs in Envelopes and Templates](#using-custom-tabs-in-envelopes-and-templates)\n- [Anchoring Tabs](#anchoring-tabs)\n- [Automatically Populating Tabs](#automatically-populating-tabs)\n\n<!-- END doctoc generated TOC please keep comment here to allow auto update -->\n\n\n\nThis table lists the available tab types.\n\n<br>\n\n\n| Tab Type              | Description |\n| :-------              | :---------- |\n| Approve Tab           | Place this tab on the document if you want the recipient to approve documents in an envelope without placing a signature or initials on the document. If the recipient clicks the Approve tab during the signing process, the recipient is considered to have signed the document. No information is shown on the document for the approval, but it is recorded as a signature in the envelope history. |\n| Checkbox Tab          | Place this tab on the document in a location where the recipient can select a yes/no (on/off) type option. |\n| Company Tab           | Place this tab on the document where you want the recipient's company name to appear. |\n| Date Signed Tab       | Place this tab on the document where you want the date the recipient signed the document to appear. |\n| Date Tab              | Place this tab on the document where you want the recipient to enter a date. Date tabs are single-line fields that allow date information to be entered in any format. The tooltip for this tab recommends entering the date as MM/DD/YYYY, but this is not enforced. The format entered by the signer is retained. If you need a particular date format enforced, DocuSign recommends using a Text tab with a Validation Pattern and Validation Message to enforce the format. |\n| Decline Tab           | Place this tab on the document where you want to give the recipient the option of declining an envelope. If the recipient clicks the Decline tab during the signing process, the envelope is voided. |\n| Email Address Tab     | Place this tab on a document where you want the recipient's email, as entered in the recipient information, to appear. |\n| Email Tab             | This is a single-line field that accepts any characters. |\n| Envelope ID Tab       | Place this tab on the document where you want the envelope ID for to appear. Recipients cannot enter or change the information in this tab. It is for informational purposes only. |\n| First Name Tab        | Place this tab on a document where you want the recipient's first name to appear. This tab takes the recipient's name, as entered in the recipient information, splits it into sections based on spaces and uses the first section as the first name. |\n| Formula Tab           | The value of a formula tab is calculated from the values of other number or date tabs in the document. When the recipient completes the underlying fields, the formula tab calculates and displays the result. <br><br>The `formula` property of the tab contains the references to the underlying tabs. See [Calculated Fields][calculatedfields] in the DocuSign Support Center to learn more about formulas. <br><br>If a formula tab contains a `paymentDetails` property, the tab is considered a payment item. See [Requesting Payments Along with Signatures][paymentguide] in the DocuSign Support Center to learn more about payments.|\n| Full Name Tab         | Place this tab on the document where you want the recipient's full name to appear. |\n| Initial Here Tab      | Place this tab where the recipient must initial the document. This tab can be set to be optional.  |\n| Last Name Tab         | Place this tab on a document where you want the recipient's last name to appear. This tab takes the recipient's name, as entered in the recipient information, splits it into sections based on spaces and uses the last section as the last name. |\n| List Tab              | This tab has a list of options that a recipient can select. The `listItems` parameter is used to set the options that can be selected.  |\n| Note Tab              | Place this tab on the document where you want to add a note for the recipient on a document. |\n| Number Tab            | This tab is a field where the recipient can enter numbers and decimal (.) points.  |\n| Radio Group Tab       | This group tab is used to place radio buttons on a document. The `radios` parameter is used to add and place the radio buttons associated with the group. Only one radio button can be selected in a group.  |\n| Sign Here Tab         | Place this tab where the recipient must sign the document. This tab can be set to be optional.  |\n| Signer Attachment Tab | The signer attachment is where the recipient initiates the process of adding supporting documents to an envelope. |\n| SSN Tab               | This tab is a single-line field where the recipient can enter numbers. A Social Security Number can be typed with or without dashes. |\n| Text Tab              | This tab is a field where the recipient can enter any type of characters.  |\n| Title Tab             | Place this tab on the document where you want the recipient's title to appear. |\n| View Tab              | The View tab is used with the Approve tab to handle [supplemental documents][supdocs]. |\n| Zip Tab               | This tab is a single-line field where the recipient can enter numbers. |\n\n\n[supdocs]:          /esign/guide/appendix/glossary.html#supplemental-documents\n[calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields\n[paymentguide]:     https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n\n\nThe View tab is used on supplemental documents.\nTo learn more about using the View tab with\nsupplemental documents, see\n[Using Supplemental Documents][usingsupdocs]\nin the [Sending Documents][sendenvelopes] section of\nthe [Envelope: create][envelopecreate] method.\n\n[sendenvelopes]:  /esign/restapi/Envelopes/Envelopes/create/#sending-envelopes\n[usingsupdocs]:   /esign/restapi/Envelopes/Envelopes/create/#using-supplemental-documents\n[envelopecreate]: /esign/restapi/Envelopes/Envelopes/create/\n\n<br>\n\n| Name              | Required  | Type    | Description |\n| :----             | :----     | :----   | :----       |\n| documentId        | Yes       | String  | The document ID number that the tab is placed on. This must refer to an existing Document's ID attribute. |\n| pageNumber        | Yes       | String  | Must be set to 1. |\n| recipientId       | Yes       | String  | The recipient associated with the tab. Must refer to an existing recipient's ID attribute. |\n| required          | No        | Boolean | If **true**, the recipient is required to select the supplemental document View button during signing. |\n| tabLabel          | No        | String  | The label used for the tab.  If an empty string is provided for this, an empty sting is used. If no value is provided, the tab type is used as the value. Maximum of 500 characters. |\n| templateLocked    | No        | Boolean | Optional. Used only when working with template tabs. If **true**, the attributes of the tab cannot be changed by the sender. |\n| templateRequired  | No        | Boolean | Optional. Used only when working with template tabs. If **true**, the tab cannot be removed by the sender. |\n| xPosition         | Yes       | String  | Required, but can be 0.  |\n| yPosition         | Yes       | String  | Required, but can be 0. |\n\n\n\nThe Payments feature of the DocuSign eSignature REST API\nlets you collect payments\nalong with signatures and other information.\n\nTo send a request for payment\nand collect payments,\nyou need a payment gateway account,\nwhich is the destination for the payments.\nCreate a payment account\nwith a supported payment gateway,\nand then connect the payment gateway account\nto your DocuSign account.\nTo learn how to connect a payment gateway account\nto your DocuSign account\nsee [Managing Payment Gateways][paymentgateways]\nin the DocuSign Support Center.\nYou must connect and manage payment gateway accounts manually\nthrough the DocuSign Admin console\nand through your chosen payment gateway.\nThere is no public API\nfor connecting payment gateway accounts\nto DocuSign accounts\nor for managing payment gateway accounts.\n\nCurrently\n[Stripe][stripe]\nis the only supported payment gateway.\n\n\nTo make a request for payment,\nuse a [`formulaTab`][formulatab]\nthat has a\n[`paymentDetails`][paymentdetails] object.\nThis object includes\na list of [`paymentLineItem`][paymentlineitem] objects.\nEach line item refers to a [`number`][numbertab] tab\nthat contains the value of the each item.\nThe purpose of the line items\nis to transmit them to the payment gateway\nas metadata, so that you can use the information\nin the payment processor.\n\nThis is an example request for two books.\nEach book is specified in the `number` tabs\nlabeled \"Hamlet\" and \"Tempest\".\nThe books are referenced as line items\nby their tab labels\nwithin the `paymentDetails` object\nof a `formula` tab.\nThe formula of the `formula` tab\nadd the values of the same two `number` tabs.\n\n```json\n{\n  \"documents\": [\n    {\n      \"documentBase64\": \"<base64-encoded PDF document>\",\n      \"documentId\": \"1\",\n      \"fileExtension\": \"pdf\",\n      \"name\": \"payment.pdf\"\n    }\n  ],\n  \"emailSubject\": \"Order Some Books\",\n  \"recipients\": {\n    \"signers\": [\n      {\n        \"email\": \"vreader@example.com\",\n        \"name\": \"Voracious Reader\",\n        \"recipientId\": \"1\",\n        \"routingOrder\": \"1\",\n        \"tabs\": {\n          . . .\n          \"numberTabs\": [\n            {\n              \"value\": \"10.00\",\n              \"width\": 78,\n              \"required\": \"true\",\n              \"locked\": \"true\",\n              \"tabLabel\": \"Hamlet\",\n              \"documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\": \"323\",\n              \"yPosition\": \"134\"\n            },\n            {\n              \"value\": \"10.00\",\n              \"width\": 78,\n              \"required\": \"true\",\n              \"locked\": \"true\",\n              \"tabLabel\": \"Tempest\",\n              \"documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\": \"323\",\n              \"yPosition\": \"154\"\n            }\n          ],\n          \"formulaTabs\": [\n            {\n              \"required\": \"true\",\n              \"formula\": \"([Hamlet] + [Tempest]) * 100\",\n              \"roundDecimalPlaces\": \"2\",\n              \"paymentDetails\": {\n                \"currencyCode\": \"USD\",\n                \"lineItems\": [\n                  {\n                    \"name\": \"Hamlet\",\n                    \"description\": \"The Danish Play\",\n                    \"itemCode\": \"SHAK1\",\n                    \"amountReference\": \"Hamlet\"\n                  },\n                  {\n                    \"name\": \"Othello\",\n                    \"description\": \"The one with Caliban in it\",\n                    \"itemCode\": \"SHAK2\",\n                    \"amountReference\": \"Tempest\"\n                  }\n                ],\n                \"gatewayAccountId\": \"e76668b4-53a9-4413-b551-a208d659e490\"\n              },\n              \"tabLabel\": \"Payment1\",\n              \"documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\": 300,\n              \"yPosition\": 200\n            }\n          ]\n        }\n      }\n    ]\n  },\n  \"status\": \"sent\"\n}\n```\n\nUse the\n[EnvelopeRecipients: list][enveloperecipientslist] method\nto check the status of a payment.\nWhen the payment is successful,\nthe `status` property of\nthe [`paymentDetails`][paymentdetails] object\nis `payment_complete`.\n\n```json\n{\n  \"signers\": [\n    {\n      \"tabs\": {\n        . . .\n        \"numberTabs\": [\n          {\n            \"value\": \"10.00\",\n            \"tabLabel\": \"Hamlet\",\n            \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n            \"pageNumber\": \"1\",\n            \"xPosition\": \"323\",\n            \"yPosition\": \"134\",\n          },\n          {\n            \"value\": \"10.00\",\n            \"tabLabel\": \"Tempest\",\n            \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n            \"pageNumber\": \"1\",\n          }\n        ],\n        \"formulaTabs\": [\n          {\n            \"formula\": \"([Hamlet] + [Tempest]) * 100\",\n            \"roundDecimalPlaces\": \"2\",\n            \"paymentDetails\": {\n              \"status\": \"payment_complete\",\n              \"currencyCode\": \"USD\",\n              \"lineItems\": [\n                {\n                  \"name\": \"Hamlet\",\n                  \"description\": \"The Danish Play\",\n                  \"itemCode\": \"SHAK1\",\n                  \"amountReference\": \"Hamlet\"\n                },\n                {\n                  \"name\": \"Tempest\",\n                  \"description\": \"The one with Caliban in it\",\n                  \"itemCode\": \"SHAK2\",\n                  \"amountReference\": \"Tempest\"\n                }\n              ],\n              \"gatewayAccountId\": \"e76668b4-53a9-4413-b551-a208d659e490\"\n            },\n            \"value\": \"20\",\n            \"required\": \"true\",\n            \"locked\": \"false\",\n            \"tabLabel\": \"Payment1\",\n            \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n            \"pageNumber\": \"1\",\n          }\n        ]\n      },\n      \"creationReason\": \"sender\",\n      \"email\": \"vreader@example.com\",\n      \"name\": \"Voracious Reader\",\n      \"recipientId\": \"1\",\n      \"requireIdLookup\": \"false\",\n      \"status\": \"completed\",\n    }\n  ],\n  . . .\n}\n```\n\n\n* An envelope is not completed until all payments are completed.\n\n* If a DocuSign account Administrator\n  deletes a payment gateway account connection\n  DocuSign cancels all in-process envelopes\n  that reference the deleted payment gateway account.\n\n* If the sender voids an envelope,\n  all payment authorizations are canceled.\n\n* If a required recipient refuses to sign,\n  all authorized payments are canceled.\n\n* If a required recipient's payment fails authorization,\n  DocuSign attempts to recover\n  by sending the recipient\n  notification about the failed payment authorization.\n  The recipient has the opportunity\n  to correct the payment method information.\n\n* Each recipient's payment is authorized separately.\n  Accounts are charged and payment made\n  after all required tabs are completed,\n  and all payments in an envelope for all recipients are authorized.\n\n* Refunds are not supported.\n  Conduct refunds or payment changes\n  with the payment gateway separately from DocuSign.\n\n* At this time, DocuSign does not charge a per-transaction fee.\n\n\n[enveloperecipientslist]: /esign/restapi/Envelopes/EnvelopeRecipients/list/\n[formulatab]:             /esign/restapi/Envelopes/EnvelopeRecipientTabs/create/#/definitions/formulaTab\n[ISO4217]:                https://en.wikipedia.org/wiki/ISO_4217\n[numbertab]:              /esign/restapi/Envelopes/EnvelopeRecipientTabs/create/#/definitions/number\n[paymentgateways]:        https://support.docusign.com/en/guides/managing-payment-gateways\n[paymentguide]:           https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n[paymentlineitem]:        /esign/restapi/Envelopes/EnvelopeRecipientTabs/create/#/definitions/paymentLineItem\n[paymentdetails]:         /esign/restapi/Envelopes/EnvelopeRecipientTabs/create/#/definitions/paymentDetails\n[stripe]:                 https://stripe.com/\n\n\n\nCustom Tabs can be added to envelopes and templates\nby setting the `customTabId` property\nwhen creating an envelope or template recipient\nor when adding a new tab for an existing recipient.\nThe custom tab must be added as the correct tab type.\nFor example if the custom tab type is text, it cannot be used as a number tab.\n\nWhen the `customTabId` property is set,\nthe new tab inherits all the custom tab properties.\nRequired information that is not included in the custom tab,\nsuch as document ID and page ID, must be included when adding the tab.\nIf the custom tab does not have anchor settings, the X and Y positions must be included.\n\nAfter the tab is created,\nit is treated as any other tab for updating or deleting. \n\n\nThe tab anchoring option\nallows you to send documents for signature\nthat do not have a fixed layout or format.\nIn these documents you might not know\nthe absolute location of the tabs\nwhen you design your API client application because the tabs must move with text.\nAs an alternative to sending X and Y coordinates for tabs,\nthe DocuSign Service can derive an anchor location for the tab\nby correlating anchor information to data within the document.\n\nWhen the DocuSign Service receives a request that contains tabs\nwith anchor information,\nit searches the document for instances of the `anchorString` property.\nWhen found,\nit places a tab of the specified type for the designated recipient.\nTab positions are established by setting offsets for the tab.\n\nWhen you apply tabs to the document,\nDocuSign does not remove or replace the text in the `anchorString` property. You can hide codified anchors by using the same font color as the background of the document. So the anchor can be used by DocuSign processes and it will not be visible on the document.\n\nTo use an anchoring option:\n\n1. Identify the location in the document by text string. You can use a pre-existing text string or add a new one.\nFor best performance DocuSign recommends using single word anchor strings when possible, especially when there are a large number of pages in the envelope. \nFor example, you might want to add a Sign Here tab to the \"Borrower's Signature\" lines in a document, but that phrase might occur in places in the document where you don't want to tab to appear. In this case, you could add the text \"BorrowerSignHere\" in white font color (so that isn't visible in the document) to all the places you want Sign Here tabs to appear and use \"BorrowerSignHere\" as the anchor string. \n1. Reference the anchor through the `anchorString` property of the tab.\n1. Determine the offset from the anchor string location to where the tab should be placed. \n\nSetting a positive value in the `anchorXOffset` property moves the tab right on the page and positive values in the  `anchorYoffset` prove moves the tab down the page. The `anchorUnits` property specifies the units used for the offsets.\nFor Sign Here and Initial Here tabs the bottom-left of the anchor string is equivalent to position (0,0), and the bottom-left of the tab graphic is placed relative to that.\nFor all other tabs the bottom-left of the anchor string is equivalent to position (0,0), and the top-left of the tab graphic is placed relative to that.\nDocuSign does not currently provide tools to derive the offset values. Determination of the proper offset will likely require some trial-and-error.\n\n\nWhen anchor tabs are used, all documents in the envelope are searched for the `anchorString` property.\n\n* You set the text of the anchor string in the `anchorString` property. DocuSign tabs are created for each instance of the `anchorString` property within the document, so special care must be taken to establish unique anchor strings that do not result in unintentional tabs.\n* You cannot use the same anchored tab for different recipients for the same document.\n* The DocuSign system cannot search for text that is embedded in an image when checking for anchor strings.\n* X or Y offsets supplied for a tab apply to all instances of the tab in the document. To use different offsets at different locations in the document for the same recipient, create multiple, unique anchor tabs.\n* If the Y offset value of an anchor string would force a tab outside of the page boundaries, the tag is placed at the page boundary. If the X offset value places a tab outside of the page boundaries, the error message `Invalid_User_Offset` is sent. The error message includes the X offset that resulted in the error.\n* The system does not support an anchor string embedded in the form of a PDF X-object in the document.\n* The system does not re-flow the text that surrounds the anchor tabs. It is the responsibility of the document author to provide sufficient white space to contain the potential width of the ultimate tab value.\n\n\nThe following are tips for effective use of anchor tags:\n* In order to avoid unintentional conflicts between text contained in an `anchorString` property and the text that naturally exists in documents, establish a codified syntax for the anchor string text that is unlikely to appear elsewhere in a document.\n* Develop an extensible and consistent syntax that can be used across multiple document types.\n* Especially for documents that have variable numbers of tabs or signers, author the source document to include hidden anchor tabs for all potential signers/permutations. Then, control the tabs that are actually placed by including/excluding the anchor tabs in the request. This approach allows a single document to be used for all use cases instead of maintaining separate documents for each scenario.\n\n\nIf you want similar tab types\nto automatically populate with the same data,\nyou must follow these guidelines:\n\n* Each `tabLabel` entry must have the characters\n  `\\\\*` in front of the label.\n  If you omit the `\\\\*` prefix,\n  only the first occurrence of the tab is populated.\n\n  When automatically populating tabs,\n  the `tabLabel` must not contain any spaces.\n  In the JSON example below,\n  the Text tabs  properties `StudentLastName` and `StudentFirstName`\n  will be auto-populated as specified (\"Doe\" and \"John\")\n  each place they appear throughout the envelope.\n\n  ```\n  \"tabs\": {\n    \"textTabs\": [\n    {\n      \"tabLabel\": \"\\\\*StudentLastName\",\n      \"value\": \"Doe\"\n    },\n    {\n      \"tabLabel\": \"\\\\*StudentFirstName\",\n      \"value\": \"John\"\n    }]\n  }\n  ```\n\n* Each occurrence of the tab must have identical properties.\n\n  For example, suppose there are two Text tabs in a document,\n  each with `tabLabel` set to `Name`.\n  If one tab has the `bold` property set to **true**,\n  and the other has the `bold` property set to **false**,\n  only the first one will be populated.\n  In order to automatically populate both occurrences\n  of the `Name` Text tabs,\n  the `bold` property must be set to the same value for both tabs.\n",
      "name": "EnvelopeRecipientTabs"
    },
    {
      "description": "",
      "name": "EnvelopeDocumentTabs"
    },
    {
      "description": "",
      "name": "TemplateDocumentTabs"
    },
    {
      "description": "The EnvelopeViews provides methods that return URLs that you can embed into your application to provide access to the DocuSign UI.\n\nThe following views are available:\n\n* Console View - The authentication view of the DocuSign UI.\n* Correct View - The correction view of the DocuSign UI.\n* Edit View - The editing view of the DocuSign UI. Note that this provides same functionality as the sender view.\n* Recipient View The correction view of the DocuSign UI.\n* Sender View - The sending view of the DocuSign UI.",
      "name": "EnvelopeViews"
    },
    {
      "description": "The Accounts resource provides methods that allow you to create, delete, and manage your accounts.",
      "name": "Accounts"
    },
    {
      "description": "This resource provides information on the Standards Based Signature providers that have been provisioned for this account.",
      "name": "AccountSignatureProviders"
    },
    {
      "description": "The Authentication resource provides access to methods that allow you to authenticate user credentials and change a user's password.\n\nThe methods in this resource are suitable\nonly for [service integrations][serviceintegrationdef]\nthat use [Legacy Header Authentication][legacyauth].\nFor authentication methods for\n[user applications][userappdef]\nand to learn more about\nDocuSign authentication\nsee [Authentication Overview][authoverview].\n\nWhen accessing the API resources, the GET [Authentication:login method][login] is the first request you make. It allows you to determine whether a user is authenticated and provides the information you will need to make subsequent API requests.\n\n\n\n[authoverview]: ../../../guide/authentication/auth_overview.html\n[legacyauth]: ../../../guide/authentication/legacy_auth.html\n[login]: ./login/\n[serviceintegrationdef]: ../../../guide/appendix/glossary.html#serviceintegration\n[userappdef]: ../../../guide/appendix/glossary.html#userapplication\n",
      "name": "Authentication"
    },
    {
      "description": "The UserSocialAccountLogins resource provides methods that allow you to manage the social login accounts for a user.  ",
      "name": "UserSocialAccountLogins"
    },
    {
      "description": "The Billing resource provides methods that allow you to manage the billing plans,associated with an account.",
      "name": "BillingPlans"
    },
    {
      "description": "The Invoices resource provides methods that allow you to manage the invoices for an account.",
      "name": "Invoices"
    },
    {
      "description": "The Payments resource provides methods that allow you to manage payments for an account.\n\nThese calls can only be used by users with account administrator privileges.",
      "name": "Payments"
    },
    {
      "description": "The BulkEnvelope resource provides methods that allow you to send the same document to a large number of recipients and get the status of the envelope. \n\nGeneral steps to use Bulk Send:\n\n* Create the bulk recipient CSV (Comma Separated Value) file that contains the list of recipient names and email addresses.\nThe required and optional information that can be included the file is described in the [ML: BulkEnvelope: updateRecipients] method.\n* Create draft envelope by calling the Envelopes: createEnvelope method and add a bulk recipient signer. The envelope can be created from a template that has a bulk recipient.\nA bulk recipient signer is a Signer recipient type where `isBulkRecipient` property is set to true. There can only be one bulk recipient signer per envelope.\nTemplates and draft envelopes can be saved with a bulk recipient signer, but a bulk recipient file must be uploaded before an envelope with a bulk recipient signer can be sent.\n* Add the bulk recipient file to the envelope by calling the BulkEnvelope: updateRecipients method.\n* Send the draft envelope by setting the `status` property on the envelope to `sent` and call the Envelopes:update method.\nTransitioning an envelope with a bulk recipient signer from `created` to `sent` triggers the sending of an envelope for each recipient in the associated bulk recipient file. The original (draft) envelope is discarded. The response returned from sending the envelope includes the following properties:\n   * bulkRecipientsBatchId: Contains the batch identifier used to query the status of the entire bulk send operation.\n   * bulkRecipientTransactions: Contains an array with identifying information about each envelope sent. The information included in this response:\n      * transactionId: The ID used to reference the queued envelope transaction.\n      * name: The name of the recipient assigned to this envelope transaction.\n      * email: The email address of the recipient assigned to this envelope transaction.\n\nOnce you send an envelope with a bulk recipient file, DocuSign creates a separate envelope for each recipient in the bulk recipient file - eliminating the need to separately create and send an envelope for each signer. You can get the status of the bulk send by calling BulkEnvelopes: get or BulkEnvelopes: list methods.\n\nYou can customize authentication (access code, ID check, phone authentication, or social network IDs), add notes and other custom information for each recipient in the list by adding the information to the file.\n\nBulk Send Limitations:\n\n* Bulk send must be enabled for your account (`accountSettings enableBulkRecipient` is set to **true**) and for the user sending the envelopes (the `allowBulkRecipients` property in `userSettings`  is set to **true**.)\n* Bulk send can only be used with Signer recipient types and there can only be one bulk recipient in an envelope or template. An envelope or template can have other Signers and recipient types that are added to the envelope or template normally. When a bulk recipient file is added to an envelope, the single bulk recipient Signer is replaced with all recipients in the bulk recipient file. There can only be one bulk recipient file associated with an envelope when it is sent.\n* When an envelope with bulk recipients is sent, the envelopes are added to a bulk recipient queue and sent in a metered fashion. There is a limit of 2,000 envelopes in the bulk recipient queue and an error message is shown to the sender if this limit is reached. If you receive this error, you should wait and resend the envelope at a later time.\n\nIf you frequently run into queue limits, you can contact your account manage to discuss modifying the queue limits for your account.",
      "name": "BulkEnvelopes"
    },
    {
      "description": "The CloudStorage resource provides methods that allow you to list files stored on your cloud storage provider.",
      "name": "CloudStorage"
    },
    {
      "description": "The CloudStorageProviders resource provides methods that allow you to manage the cloud storage providers associate with an account.\n\nThe following providers are supported:\n\n* Google Drive\n* Dropbox\n* Box\n* Evernote\n* OneDrive\n\nTo use cloud storage files, you must first give DocuSign access to your cloud storage provider. You can disconnect authorized a cloud storage provider at any time.",
      "name": "CloudStorageProviders"
    },
    {
      "description": "The ConnectConfigurations resource methods enable you to configure the DocuSign Connect service associated with an account.",
      "name": "ConnectConfigurations"
    },
    {
      "description": "The ConnectEvents resource provides methods that allow you to read, delete, and republish the connect logs associated with an envelope.",
      "name": "ConnectEvents"
    },
    {
      "description": "The CustomTabs resource provides methods that allow you create and manage custom tabs based on the existing DocuSign tabs.\n\nYou can create a tab with pre-defined properties, such as a text tab with a certain font type and validation pattern. Users can access the custom tabs when sending documents through the DocuSign web application.\n\nCustom tabs can be created based on the  approve, checkbox, company, date, date signed, decline, email, email address, envelope ID, first name, formula, full name, initial here, last name, list, note, number, radio, sign here, signer attachment, SSN, text, title, and zip tabs.",
      "name": "CustomTabs"
    },
    {
      "description": "The RequestLogs resource provide methods that allow you to retrieve and delete the API request log files.\n\nThe log files contain the API requests associated with your integration. They can aid you in troubleshooting specific issues within an integration, or if DocuSign Support requests an API trace log. ",
      "name": "RequestLogs"
    },
    {
      "description": "The Resources resource provides a method which retrieves the base resources that are available.",
      "name": "Resources"
    },
    {
      "description": "The Services resource provides a method that allow you to retrieve the available service versions.",
      "name": "Services"
    },
    {
      "description": "The EnvelopeConsumerDisclosures resource provides a method that allows you to retrieve the consumer disclosure for an envelope.",
      "name": "EnvelopeConsumerDisclosures"
    },
    {
      "description": "<!-- resources aren't rendered the same way\n     as other pages. This is a little hack to\n     make the headings work better -->\n<style>\nh1, h2, h3 {\n  margin-top: 1em;\n}\n</style>\n\nThe EnvelopeDocuments resource provides methods\nthat manage documents in an envelope.\nYou can:\n* add one or more documents to the envelope\n* retrieve one or more documents from the envelope\n* delete documents from the envelope\n\nAll of the methods in this resource\noperate on on an existing envelope.\nBefore you can add documents\nto an envelope,\nyou must first create it\nwith the [Envelopes: create][envelopescreate] method. \n\n\n[envelopescreate]: /esign/restapi/Envelopes/Envelopes/create/\n\n",
      "name": "EnvelopeDocuments"
    },
    {
      "description": "The EnvelopeEmailSettings provide methods that allow you to manage the email override settings for an envelope.\n\nEmail override settings change the reply to email address, name, or the BCC for email archive information, for the envelope. Note that changing email settings will only affect email communications that occur after the addition was made.\n\nThe BCC Email address feature is designed to provide a copy of all email communications for external archiving purposes. DocuSign recommends that envelopes sent using the BCC for Email Archive feature, including the BCC Email Override option, include additional signer authentication options. To send a copy of the envelope to a recipient who does not need to sign, use a Carbon Copies or Certified Deliveries Recipient Type.",
      "name": "EnvelopeEmailSettings"
    },
    {
      "description": "The Envelope resource provides methods that allow you to manipulate and monitor envelopes. \n\nOnce you have authenticated the user you can use the Envelopes: createEnvelope method to create an envelope. You can call the EnvelopeDocuments: update or EnvelopeDocuments: updateList method to add additional documents.\n\nSetting the `status` property on the envelope to `sent` allows you to send it or `created` to save it as a draft.\n\nYou can receive envelope event notifications by setting the `eventNotification` properties. When the envelope or recipient status changes to one of the specified status codes, a notification is sent to a URL that you specify.\n\nIf you have an envelope that you have previously saved, you can modify the subject and message, send it, void it, or place it in the purge queue using the Envelope: update method.\n\nIn addition to receiving notifications you can monitor the status of the envelopes using the following methods:\n* Envelope: getEnvelope - To get the status of a envelope. \n* Envelope: listStatus - To get the envelope status for a set of envelopes.\n* Envelope: listStatusChanges - To get status changes information for one or more envelopes. \n\nIf you need to delete a page from a document in an envelope, use the Envelope: deleteDocumentPage method.\n\nThe resource also includes a number of methods that allow you to retrieve and set the initials and signature for certain types of recipients on the document.",
      "name": "Envelopes"
    },
    {
      "description": "The EnvelopeTemplates resource provides methods that allow you to add and delete templates on envelopes and documents.",
      "name": "EnvelopeTemplates"
    },
    {
      "description": "The Folders resource provides methods that allow you to view contents of folders on the account and move envelopes between folders.",
      "name": "Folders"
    },
    {
      "description": "The GroupBrands resource provides methods that allow you to manage ",
      "name": "GroupBrands"
    },
    {
      "description": "The Groups resource provides methods that allow you to manage groups for the account.\n\nGroups can be used to help manage users by associating users with a group. A group can be associated with a Permission Profile, which sets the user permissions for users in that group without having to set the `userSettings` property for each user. You are not required to set Permission Profiles for a group, but this makes it easier to manage user permissions for a large number of users. Groups can also be used with template sharing to limit user access to templates.",
      "name": "Groups"
    },
    {
      "description": "The GroupUsers resource provides methods that allow you to manage the users in a group.",
      "name": "GroupUsers"
    },
    {
      "description": "The SigningGroups resource provides methods that allow you manage signing groups.\n\nSigning Groups allow you to create a group of people to which an envelope is sent. Any member of that group can open an envelope and sign the documents in the envelope with their own signature, even though a signature field was not directly assigned to them. When the Signing Group option is used, group members that open and sign the envelope are tracked in the envelope history and certificate.\n\nWhen one group member opens the envelope, it is temporarily locked and if other members try to open the envelope they will see a message saying the envelope is currently opened. If the group member exits the envelope without finishing the lock expires, allowing other group members to open and complete the envelope.\n\nWhen the envelope is complete, all members of the group will receive a completed notification and can access the completed envelope. \nThe envelope history and Certificate of Completion will show that the envelope was sent to a signing group and record which members viewed and signed the envelope.\n\nAn account can have a maximum of 50 signing groups. Each signing group can have a maximum of 50 group members.\n\nThe Signing Groups feature is only supported in certain DocuSign Enterprise and System Automated Premium plans. Your account might not support this option. To access this functionality, contact your Account Manager or DocuSign Support (support@docusign.com) for assistance.",
      "name": "SigningGroups"
    },
    {
      "description": "The SigningGroupUsers resource provides methods that allow you to manage users in Signing Groups.",
      "name": "SigningGroupUsers"
    },
    {
      "description": "The TemplateRecipients resource allows you manage the recipients of an template.\n\nThe exact parameters associated with a recipient depend on the recipient type. There are seven recipient types: Agents, Carbon Copies, Certified Deliveries, Editors, In Person Signers, Intermediaries, and Signers. \n\nNot all recipients are are available to all account types, review you account plan to determine which recipient types are available to you. If you are working in the Demo environment, all recipient types are available.\n\nEach recipient type is described below:\n\n[Agents](#agents): This recipient can add name and email information for recipients that appear after the recipient in routing order.\n\n[Carbon Copies](#carboncopies): Use this action if the recipient should get a copy of the template, but the recipient does not need to sign, initial, date or add information to any of the documents. This type of recipient can be placed in any order in the recipient list. The recipient receives a copy of the template when the template reaches the recipient's order in the process flow and when the template is completed.\n\n[Certified Deliveries](#certifiedDeliveries): Use this action if the recipient must receive the completed documents for the template to be completed, but the recipient does not need to sign, initial, date or add information to any of the documents.\n\n[Editors](#editors): This recipient has the same management and access rights for the template as the sender and can make changes to the template as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor.\n\n[In Person Signers](#inPerson): Use this action if the signer is in the same physical location as a DocuSign user who will act as a Signing Host for the transaction. The recipient added is the Signing Host and new separate Signer Name field appears after Sign in person is selected.\n\n[Intermediaries](#intermediaries): This recipient can, but is not required to, add name and email information for recipients at the same or subsequent level in the routing order (until subsequent Agents, Editors or Intermediaries recipient types are added).\n\n[Signers](#signers): Use this action if your recipient must sign, initial, date or add data to form fields on the documents in the template.\n\n\nThe following shows the core JSON layout for a recipient.\n\n```\n\"email\": \"email.name@company.com\",\n  \"name\": \"recipient name\",\n  \"accessCode\": \"\",\n  \"addAccessCodeToEmail\": false,\n  \"clientUserIs\": null,\n  \"embeddedRecipientStartURL\": \"string\",\n  \"customFields\": {\n    \"sample string 1\",\n    \"sample string 2\"\n  },\n  \"emailNotification\"{\n    \"emailBody\":\"email text\",\n    \"emailSubject\":\"Subject text\",\n    \"supportedLanguage\":\"en\",\n  },\n  \"excludedDocuments\": [\"2\", \"4\"],\n  \"idCheckConfigurationName\": null,\n  \"idCheckInformationInput\": {\n    \"addressInformationInput\": {\n      \"addressInformation\": {\n        \"street1\": \"sample string 1\",\n        \"street2\": \"sample string 2\",\n        \"city\": \"sample string 3\",\n        \"state\": \"sample string 4\",\n        \"zip\": \"sample string 5\",\n        \"zipPlus4\": \"sample string 6\"\n      },\n      \"displayLevelCode\": \"sample string 1\",\n      \"receiveInResponse\": \"sample string 2\"\n    },\n    \"dobInformationInput\": {\n      \"dateOfBirth\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\",\n      \"receiveInResponse\": \"sample string 3\"\n    },\n    \"ssn4InformationInput\": {\n      \"ssn4\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\",\n      \"receiveInResponse\": \"sample string 3\"\n    },\n    \"ssn9InformationInput\": {\n      \"ssn9\": \"sample string 1\",\n      \"displayLevelCode\": \"sample string 2\"\n    }\n  },\n  \"inheritEmailNotificationConfiguration\": false,\n  \"note\": \"\",\n  \"phoneAuthentication\": {\n    \"recipMayProvideNumber\": \"sample string 1\",\n    \"validateRecipProvidedNumber\": \"sample string 2\",\n    \"recordVoicePrint\": \"sample string 3\",\n    \"senderProvidedNumbers\": [\n      \"sample string 1\",\n      \"sample string 2\"\n    ]\n  },\n  \"recipientAttachment\": null,\n  \"recipientCaptiveInfo\": null,\n  \"recipientId\": \"1\",\n  \"requireIdLookup\": false,\n  \"roleName\": \"\",\n  \"routingOrder\": 1,\n  \"samlAuthentication\": {\n    \"samlAssertionAttributes\": [\n      {\n        \"name\": \"string\",\n        \"value\": \"string\"\n      },\n      {\n        \"name\": \"string\",\n        \"value\": \"string\"\n      }\n    ]\n  },\n  \"smsAuthentication\": {\n    \"senderProvidedNumbers\":[\n      \"sample string 1\",\n      \"sample string 2\"\n    ]\n  },\n  \"socialAuthentications\": null,\n  \"templateAccessCodeRequired\": false,\n  \"templateLocked\": false,\n  \"templateRequired\": false,\n...\n```\n\n\nThe following table contains the descriptions for the core properties for a recipient.\n\n| Name | Required? | Schema Type | Description |\n| --- | --- | --- | --- |\n| email | Yes | Email | Email of the recipient. Notification will be sent to this email id.<br/>Maximum Length: 100 characters. |\n| name | Yes | String | Full legal name of the recipient.<br/>Maximum Length: 100 characters. |\n| accessCode | No | String | This optional element specifies the access code a recipient has to enter to validate the identity.<br/>Maximum Length: 50 characters. |\n| addAccessCodeToEmail | No | Boolean | This optional attribute indicates that the access code is added to the email sent to the recipient; this nullifies the Security measure of Access Code on the recipient. |\n| clientUserId | No | String | This specifies whether the recipient is embedded or remote.<br/><br/>If the `clientUserId` property is not null then the recipient is embedded. Note that if the `ClientUserId` property is set and either `SignerMustHaveAccount` or `SignerMustLoginToSign` property of the account settings is set to  **true**, an error is generated on sending. |\n| embeddedRecipientStartURL | No | String | This is a sender provided valid URL string for redirecting an embedded recipient. When using this option, the embedded recipient still receives an email from DocuSign, just as a remote recipient would, but when the document link in the email is clicked the recipient is redirected, through DocuSign, to this URL to complete their actions. When routing to the URL, it is up to the sender's system (the server responding to the URL) to then request a recipient token to launch a signing session.<br/><br/>If the value `SIGN_AT_DOCUSIGN` is used for this node, the recipient is directed to an embedded signing or viewing process directly at DocuSign. The signing or viewing action is initiated by the DocuSign system and the transaction activity and Certificate of Completion records will reflect this. In all other ways the process is identical to an embedded signing or viewing operation that would be launched by any partner.<br/><br/>It is important to remember that in a typical embedded workflow the authentication of an embedded recipient is the responsibility of the sending application and DocuSign expects that senders will follow their own process for establishing the recipient's identity. In this workflow the recipient goes through the sending application before the embedded signing or viewing process in initiated. However, when the sending application sets  the `EmbeddedRecipientStartURL` property to `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or viewing process bypassing the sending application and any authentication steps the sending application would use. In this case, DocuSign recommends that one of the normal DocuSign authentication features (Access Code, Phone Authentication, SMS Authentication, etc.) be used to verify the identity of the recipient.<br/><br>If the `clientUserId` property is NOT set and the `embeddedRecipientStartURL` property is set, DocuSign ignores the redirect URL and launch the standard signing process for the email recipient. Information can be appended to the `embeddedRecipientStartURL` property using merge fields. The available merge fields items are: templateId, recipientId, recipientName, recipientEmail, and customFields. The customFields must be part of the recipient or template. The merge fields are enclosed in double brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/ beginSigningSession? [[mergeField2]]&[[mergeField3]]` |\n| customFields | No | customField |An optional array of strings that allows the sender to provide custom data about the recipient. This information is returned in the template status but otherwise not used by DocuSign. String `customField` properties have a maximum length of 100 characters. |\n| emailNotification | No | emailNotification | An optional complex type that has information for setting the language for the recipient's email information. It is composed of three elements:<br/><br/>*emailBody*: a string with the email message sent to the recipient.<br/>Maximum Length: 10000 characters.<br/><br/>*emailSubject*: a string with the subject of the email sent to the recipient.<br/>Maximum Length: 100 characters.<br/><br/>*supportedLanguage*: The simple type enumeration of the language used. The supported languages, with the language value shown in parenthesis, are: Arabic (ar), Bahasa Indonesia (id), Bahasa Melayu (ms) Bulgarian (bg), Czech (cs), Chinese Simplified (zh_CN), Chinese Traditional (zh_TW), Croatian (hr), Danish (da), Dutch (nl), English US (en), English UK (en_GB), Estonian (et), Farsi (fa), Finnish (fi), French (fr), French Canada (fr_CA), German (de), Greek (el), Hebrew (he), Hindi (hi), Hungarian (hu), Italian (it), Japanese (ja), Korean (ko), Latvian (lv), Lithuanian (lt), Norwegian (no), Polish (pl), Portuguese (pt), Portuguese Brazil (pt_BR), Romanian (ro),Russian (ru), Serbian (sr), Slovak (sk), Slovenian (sl), Spanish (es),Spanish Latin America (es_MX), Swedish (sv), Thai (th), Turkish (tr), Ukrainian (uk) and Vietnamese (vi).<br/><br/>**IMPORTANT**: If this is enabled for one recipient, it overrides the Template Subject and `EmailBlurb` property settings. Also, you must set the  `emailNotification` property for all recipients. |\n| excludedDocuments | No | Array of Strings | Specifies the documents that are not visible to this recipient. Document Visibility must be enabled for the account and the enforceSignerVisibility property must be set to true for the template to use this.<br/><br/>When the enforceSignerVisibility property is set to **true**, documents with tabs can only be viewed by signers that have a tab on that document. Recipients that have an administrative role (Agent, Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon Copies) can always see all the documents in an template, unless they are specifically excluded using this setting when an template is sent. Documents that do not have tabs are always visible to all recipients, unless they are specifically excluded using this setting when an template is sent. |\n| idCheckConfigurationName | No | String |Specifies authentication check by name. The names used here must be the same as the authentication type names used by the account (these name can also be found in the web console sending interface in the Identify list for a recipient). This overrides any default authentication setting.<br/><br/>_Example_:<br/> Your account has ID Check and SMS Authentication available and in the web console Identify list these appear as 'ID Check $' and 'SMS Auth $'. To use ID check in an template, the `idCheckConfigurationName` property must be  set to `ID Check $`. To use SMS, it must be set to `SMS Auth $` and you must add phone number information to the `smsAuthentication` node.|\n| iDCheckInformationInput | No | IdCheckInformationInput | This complex element contains input information related to a recipient ID check. It can include the following information.<br/><br/>*addressInformationInput*: Used to set recipient address information and consists of:<br/><br/>*addressInformation*: consists of six elements, with street2 and zipPlus4 being optional. The elements are: street1, street2, city, state, zip, zipPlus4\\. The maximum number of characters in each element are: street1/street2 = 150 characters, city = 50 characters, state = 2 characters, and zip/zipPlus4 = 20 characters.<br/><br/>displayLevelCode: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*dobInformationInput*: Used to set recipient date of birth information and consists of:<br/><br/>*dateOfBirth*: Specifies the recipient's date, month and year of birth.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn4InformationInput*: Used to set the last four digits of the recipient's SSN information and consists of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies if the information needs to be returned in the response.<br/><br/>*ssn9InformationInput*: Used to set the recipient's SSN information. Note that the ssn9 information can never be returned in the response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*: Specifies the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay. |\n| inheritEmailNotificationConfiguration | No | Boolean | Optional element. If true and the template recipient creates a DocuSign account after signing, the Manage Account Email Notification settings are used as the default settings for the recipient's account. |\n| note | No | String | A note that is unique to this recipient. This note is sent to the recipient via the signing email. The note displays in the signing UI near the upper left corner of the document on the signing screen.<br/>Maximum Length: 1000 characters. |\n| phoneAuthentication | No | RecipientPhoneAuthentication | Optional element. Contains the elements: <br/><br/> *recipMayProvideNumber*:Boolean. When set to **true** thenrecipient can use whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*: ArrayOfString. A list of phone numbers the recipient can use. <br/><br/>*recordVoicePrint* - Reserved <br/><br/>*validateRecipProvidedNumber* - Reserved| |\n| recipientAttachment | No | Attachment | Reserved |\n| recipientId | No | String | Unique for the recipient. It is used by the tab element to indicate which recipient is to sign the Document. |\n| requireIdLookup | No | Boolean | When set to **true**, the recipient is required to use the specified ID check method (including Phone and SMS authentication) to validate their identity. |\n| roleName | No* | String | Optional element. Specifies the role name associated with the recipient.<br/><br/>This is required when working with template recipients. |\n| routingOrder | Yes | String | This element specifies the routing order of the recipient in the template. |\n| samlAuthentication | No | samlAssertionAttributes | Optional element, account must be set up to use SSO to use this. Contains the name/value pair information for the SAML assertion attributes:<br/><br/>*name*: The name of the SAML assertion attribute.<br/><br/>*value*: The value associated with the named SAML assertion attribute. |\n| smsAuthentication | No | senderProvidedNumbers | Optional element. Contains the element:<br/><br/>*senderProvidedNumbers*: Array that contains a list of phone numbers the recipient can use for SMS text authentication. |\n| socialAuthentications | No | Boolean | Lists the social ID type that can be used for recipient authentication. |\n| templateAccessCodeRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true** and the `TemplateLocked` parameter is set to **true**, the sender must enter an access code. |\n| templateLocked | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**, the sender cannot change any attributes of the recipient. |\n| templateRequired | No | Boolean | Optional element. Used only when working with template recipients. When set to **true**,  the sender may not remove the recipient. |\n\n\nThis recipient can add name and email information for recipients that appear after the recipient in routing order.\n\n\n```\n\"agents\": [{\n <core parameters>\n  \"canEditRecipientEmails\": false,\n  \"canEditRecipientNames\": false\n}],\n```\n\nThe additional parameters for Agents recipient are shown below:\n\n| Name | Required? | Schema Type | Description |\n| --- | --- | --- | --- |\n| canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |\n| canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Agents Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |\n\n\nUse this type if the recipient should get a copy of the template, but the recipient does not need to sign, initial, date, or add information to any of the documents. This type of recipient can be placed in any order in the recipient list. The recipient receives a copy of the template when the template reaches the recipient's order in the process flow and when the template is completed.\n\n\n```\n\"carbonCopies\": [{\n <core parameters>\n```\n\nThe Carbon Copies recipient uses only the core parameters.\n\n\nUse this action if the recipient must receive the completed documents for the template to be completed, but the recipient does not need to sign, initial, date, or add information to any of the documents.\n\n\n```\n\"certifiedDeliveries\": [{\n<core parameters>\n}],\n```\nThe Certified Deliveries recipient uses only the core parameters.\n\n\nThis recipient has the same management and access rights for the template as the sender and can make changes to the template as if they were using the Advanced Correct feature. This recipient can add name and email information, add or change the routing order and set authentication options for the remaining recipients. Additionally, this recipient can edit signature/initial tabs and data fields for the remaining recipients. The recipient must have a DocuSign account to be an editor.\n\n\n```\n\"editors\": [{\n <core parameters>\n  \"canEditRecipientEmails\": false,\n  \"canEditRecipientNames\": false\n}],\n```\n\nThe additional parameters for Editors recipient are shown below:\n\n| Name | Required? | Schema Type | Description |\n| --- | --- | --- | --- |\n| canEditRecipientEmails | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this Recipient can change the Recipient's pre-populated Email address. This element is only active if enabled for the account. |\n| canEditRecipientNames | No | Boolean | Optional element. When set to **true**, the Editors Recipient associated with this recipient can change the recipient's pre-populated name (`UserName`). This element is only active if enabled for the account. |\n\n\nUse this type if the signer is in the same physical location as a DocuSign user who will act as a Signing Host for the transaction. The recipient added is the Signing Host and new separate Signer Name field appears after Sign in person is selected.\n\n\n```\n\"inPersonSigners\": [{\n  \"hostEmail\": \"signing.host@company.com\",\n  \"hostName\": \"Mike Host\",\n <core parameters>\n  \"autoNavigation\": false,\n  \"defaultRecipient\": false,\n  \"signInEachLocation\": false,\n  \"signatureInfo\": null,\n  \"signerEmail\": \"signer.name@company.com\",\n  \"signerName\": \"MC Clap Your Hands\",\n  \"tabs\": {\n    \"approveTabs\": null,\n    \"checkboxTabs\": null,\n    \"companyTabs\": null,\n    \"dateSignedTabs\": null,\n    \"dateTabs\": null,\n    \"declineTabs\": null,\n    \"emailTabs\": null,\n    \"templateIdTabs\": null,\n    \"fullNameTabs\": null,\n    \"initialHereTabs\": null,\n    \"listTabs\": null,\n    \"noteTabs\": null,\n    \"numberTabs\": null,\n    \"radioGroupTabs\": null,\n    \"signHereTabs\": [{\n    \"signerAttachmentTabs\": null,\n    \"ssnTabs\": null,\n    \"textTabs\": null,\n    \"titleTabs\": null,\n    \"zipTabs\": null\n  }\n}],\n```\n\nThe additional and changed parameters for In Person Signers recipient are shown below:\n\n| Name | Required? | Schema Type | Description |\n| --- | --- | --- | --- |\n| hostEmail | Yes | Email | Required element for In Person Signers recipient Type.<br/>Maximum Length: 100 characters.<br/><br/>Specifies the email for the signing host. |\n| hostName | Yes | String | Required element for In Person Signers recipient Type.<br/>Maximum Length: 100 characters.<br/><br/>Specifies the email for the signing host.|\n| autoNavigation | No | Boolean | Specifies whether auto navigation is set for the recipient.|\n| defaultRecipient | No | Boolean | When set to **true**, this is the default recipient for the templa
[...]
