{
  "swagger": "2.0",
  "schemes": ["https"],
  "host": "api.github.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "description": "Powerful collaboration, code review, and code management for open source and private projects.\n",
    "termsOfService": "https://help.github.com/articles/github-terms-of-service/#b-api-terms",
    "title": "GitHub",
    "version": "v3",
    "x-apisguru-categories": ["collaboration", "developer_tools"],
    "x-logo": {
      "url": "http://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "github.com",
    "x-unofficialSpec": true
  },
  "externalDocs": {
    "url": "https://developer.github.com/v3/"
  },
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "oauth_2_0": {
      "authorizationUrl": "https://github.com/login/oauth/authorize",
      "description": "OAuth2 is a protocol that lets external apps request authorization to private\ndetails in a user's GitHub account without getting their password. This is\npreferred over Basic Authentication because tokens can be limited to specific\ntypes of data, and can be revoked by users at any time.\n",
      "flow": "accessCode",
      "scopes": {
        "admin:org": "",
        "admin:org_hook": "",
        "admin:public_key": "",
        "admin:repo_hook": "",
        "delete_repo": "",
        "gist": "",
        "notifications": "",
        "public_repo": "",
        "read:org": "",
        "read:public_key": "",
        "read:repo_hook": "",
        "repo": "",
        "repo:status": "",
        "repo_deployment": "",
        "user": "",
        "user:email": "",
        "user:follow": "",
        "write:org": "",
        "write:public_key": "",
        "write:repo_hook": ""
      },
      "tokenUrl": "https://github.com/login/oauth/access_token",
      "type": "oauth2"
    }
  },
  "paths": {
    "/emojis": {
      "get": {
        "description": "Lists all the emojis available to use on GitHub.",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/emojis"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/events": {
      "get": {
        "description": "List public events.",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/feeds": {
      "get": {
        "description": "List Feeds.\nGitHub provides several timeline resources in Atom format. The Feeds API\n lists all the feeds available to the authenticating user.\n",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/feeds"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists": {
      "get": {
        "description": "List the authenticated user's gists or if called anonymously, this will\nreturn all public gists.\n",
        "parameters": [
          {
            "description": "Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.\nOnly gists updated at or after this time are returned.\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gists"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "post": {
        "description": "Create a gist.",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postGist"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/gist"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/public": {
      "get": {
        "description": "List all public gists.",
        "parameters": [
          {
            "description": "Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.\nOnly gists updated at or after this time are returned.\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gists"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/starred": {
      "get": {
        "description": "List the authenticated user's starred gists.",
        "parameters": [
          {
            "description": "Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.\nOnly gists updated at or after this time are returned.\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gists"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/{id}": {
      "delete": {
        "description": "Delete a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.\n"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Get a single gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gist"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "patch": {
        "description": "Edit a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchGist"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gist"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/{id}/comments": {
      "get": {
        "description": "List comments on a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/comments"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "post": {
        "description": "Create a commen",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/commentBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/{id}/comments/{commentId}": {
      "delete": {
        "description": "Delete a comment.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Id of comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.\n"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Get a single comment.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Id of comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "patch": {
        "description": "Edit a comment.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Id of comment.",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/comment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/comment"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gists/{id}/forks": {
      "post": {
        "description": "Fork a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Exists."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          },
          "404": {
            "description": "Not exists."
          }
        }
      }
    },
    "/gists/{id}/star": {
      "delete": {
        "description": "Unstar a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Item removed."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Check if a gist is starred.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Exists."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          },
          "404": {
            "description": "Not exists."
          }
        }
      },
      "put": {
        "description": "Star a gist.",
        "parameters": [
          {
            "description": "Id of gist.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Starred."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gitignore/templates": {
      "get": {
        "description": "Listing available templates.\nList all templates available to pass as an option when creating a repository.\n",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gitignore"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/gitignore/templates/{language}": {
      "get": {
        "description": "Get a single template.",
        "parameters": [
          {
            "in": "path",
            "name": "language",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/gitignore-lang"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/issues": {
      "get": {
        "description": "List issues.\nList all issues across all the authenticated user's visible repositories.\n",
        "parameters": [
          {
            "default": "all",
            "description": "Issues assigned to you / created by you / mentioning you / you're\nsubscribed to updates for / All issues the authenticated user can see\n",
            "enum": ["assigned", "created", "mentioned", "subscribed", "all"],
            "in": "query",
            "name": "filter",
            "required": true,
            "type": "string"
          },
          {
            "default": "open",
            "enum": ["open", "closed"],
            "in": "query",
            "name": "state",
            "required": true,
            "type": "string"
          },
          {
            "description": "String list of comma separated Label names. Example - bug,ui,@high.",
            "in": "query",
            "name": "labels",
            "required": true,
            "type": "string"
          },
          {
            "default": "created",
            "enum": ["created", "updated", "comments"],
            "in": "query",
            "name": "sort",
            "required": true,
            "type": "string"
          },
          {
            "default": "desc",
            "enum": ["asc", "desc"],
            "in": "query",
            "name": "direction",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.\nOnly issues updated at or after this time are returned.\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/issues"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/legacy/issues/search/{owner}/{repository}/{state}/{keyword}": {
      "get": {
        "description": "Find issues by state and keyword.",
        "parameters": [
          {
            "description": "The search term.",
            "in": "path",
            "name": "keyword",
            "required": true,
            "type": "string"
          },
          {
            "description": "Indicates the state of the issues to return. Can be either open or closed.",
            "enum": ["open", "closed"],
            "in": "path",
            "name": "state",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "repository",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/search-issues-by-keyword"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/legacy/repos/search/{keyword}": {
      "get": {
        "description": "Find repositories by keyword. Note, this legacy method does not follow the v3 pagination pattern. This method returns up to 100 results per page and pages can be fetched using the start_page parameter.",
        "parameters": [
          {
            "description": "The search term",
            "in": "path",
            "name": "keyword",
            "required": true,
            "type": "string"
          },
          {
            "default": "desc",
            "description": "The sort field. if sort param is provided. Can be either asc or desc.",
            "enum": ["desc", "asc"],
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "Filter results by language",
            "in": "query",
            "name": "language",
            "type": "string"
          },
          {
            "description": "The page number to fetch",
            "in": "query",
            "name": "start_page",
            "type": "string"
          },
          {
            "description": "The sort field. One of stars, forks, or updated. Default: results are sorted by best match.",
            "enum": ["updated", "stars", "forks"],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/search-repositories-by-keyword"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/legacy/user/email/{email}": {
      "get": {
        "description": "This API call is added for compatibility reasons only.",
        "parameters": [
          {
            "description": "The email address",
            "in": "path",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/search-user-by-email"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/legacy/user/search/{keyword}": {
      "get": {
        "description": "Find users by keyword.",
        "parameters": [
          {
            "description": "The search term",
            "in": "path",
            "name": "keyword",
            "required": true,
            "type": "string"
          },
          {
            "default": "desc",
            "description": "The sort field. if sort param is provided. Can be either asc or desc.",
            "enum": ["desc", "asc"],
            "in": "query",
            "name": "order",
            "type": "string"
          },
          {
            "description": "The page number to fetch",
            "in": "query",
            "name": "start_page",
            "type": "string"
          },
          {
            "description": "The sort field. One of stars, forks, or updated. Default: results are sorted by best match.",
            "enum": ["updated", "stars", "forks"],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/search-users-by-keyword"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/markdown": {
      "post": {
        "description": "Render an arbitrary Markdown document",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/markdown"
            }
          }
        ],
        "produces": ["text/html"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/markdown/raw": {
      "post": {
        "consumes": ["text/plain"],
        "description": "Render a Markdown document in raw mode",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "produces": ["text/html"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/meta": {
      "get": {
        "description": "This gives some information about GitHub.com, the service.",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/meta"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/networks/{owner}/{repo}/events": {
      "get": {
        "description": "List public events for a network of repositories.",
        "parameters": [
          {
            "description": "Name of the owner.",
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of repository.",
            "in": "path",
            "name": "repo",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "description": "List your notifications.\nList all notifications for the current user, grouped by repository.\n",
        "parameters": [
          {
            "description": "True to show notifications marked as read.",
            "in": "query",
            "name": "all",
            "type": "boolean"
          },
          {
            "description": "True to show only notifications in which the user is directly participating\nor mentioned.\n",
            "in": "query",
            "name": "participating",
            "type": "boolean"
          },
          {
            "description": "The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.\nExample: \"2012-10-09T23:39:01Z\".\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/notifications"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "put": {
        "description": "Mark as read.\nMarking a notification as \"read\" removes it from the default view on GitHub.com.\n",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/notificationMarkRead"
            }
          }
        ],
        "responses": {
          "205": {
            "description": "Marked as read."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/notifications/threads/{id}": {
      "get": {
        "description": "View a single thread.",
        "parameters": [
          {
            "description": "Id of thread.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/notifications"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "patch": {
        "description": "Mark a thread as read",
        "parameters": [
          {
            "description": "Id of thread.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "205": {
            "description": "Thread marked as read."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/notifications/threads/{id}/subscription": {
      "delete": {
        "description": "Delete a Thread Subscription.",
        "parameters": [
          {
            "description": "Id of thread.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content\n"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Get a Thread Subscription.",
        "parameters": [
          {
            "description": "Id of thread.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "put": {
        "description": "Set a Thread Subscription.\nThis lets you subscribe to a thread, or ignore it. Subscribing to a thread\nis unnecessary if the user is already subscribed to the repository. Ignoring\na thread will mute all future notifications (until you comment or get @mentioned).\n",
        "parameters": [
          {
            "description": "Id of thread.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}": {
      "get": {
        "description": "Get an Organization.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "patch": {
        "description": "Edit an Organization.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchOrg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/organization"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/events": {
      "get": {
        "description": "List public events for an organization.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/issues": {
      "get": {
        "description": "List issues.\nList all issues for a given organization for the authenticated user.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "default": "all",
            "description": "Issues assigned to you / created by you / mentioning you / you're\nsubscribed to updates for / All issues the authenticated user can see\n",
            "enum": ["assigned", "created", "mentioned", "subscribed", "all"],
            "in": "query",
            "name": "filter",
            "required": true,
            "type": "string"
          },
          {
            "default": "open",
            "enum": ["open", "closed"],
            "in": "query",
            "name": "state",
            "required": true,
            "type": "string"
          },
          {
            "description": "String list of comma separated Label names. Example - bug,ui,@high.",
            "in": "query",
            "name": "labels",
            "required": true,
            "type": "string"
          },
          {
            "default": "created",
            "enum": ["created", "updated", "comments"],
            "in": "query",
            "name": "sort",
            "required": true,
            "type": "string"
          },
          {
            "default": "desc",
            "enum": ["asc", "desc"],
            "in": "query",
            "name": "direction",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.\nOnly issues updated at or after this time are returned.\n",
            "in": "query",
            "name": "since",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/issues"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/members": {
      "get": {
        "description": "Members list.\nList all users who are members of an organization. A member is a user tha\nbelongs to at least 1 team in the organization. If the authenticated user\nis also an owner of this organization then both concealed and public members\nwill be returned. If the requester is not an owner of the organization the\nquery will be redirected to the public members list.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/users"
            }
          },
          "302": {
            "description": "Response if requester is not an organization member."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/members/{username}": {
      "delete": {
        "description": "Remove a member.\nRemoving a user from this list will remove them from all teams and they\nwill no longer have any access to the organization's repositories.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the user.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No content.\n"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Check if a user is, publicly or privately, a member of the organization.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the user.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "No content. Response if requester is an organization member and user is a member\n"
          },
          "302": {
            "description": "Found. Response if requester is not an organization member\n"
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          },
          "404": {
            "description": "Not Found.\na. Response if requester is an organization member and user is not a member\nb. Response if requester is not an organization member and is inquiring about themselves\n"
          }
        }
      }
    },
    "/orgs/{org}/public_members": {
      "get": {
        "description": "Public members list.\nMembers of an organization can choose to have their membership publicized\nor not.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/users"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/public_members/{username}": {
      "delete": {
        "description": "Conceal a user's membership.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the user.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Concealed."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Check public membership.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the user.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "User is a public member."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          },
          "404": {
            "description": "User is not a public member."
          }
        }
      },
      "put": {
        "description": "Publicize a user's membership.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the user.",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Publicized."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/repos": {
      "get": {
        "description": "List repositories for the specified org.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "default": "all",
            "enum": ["all", "public", "private", "forks", "sources", "member"],
            "in": "query",
            "name": "type",
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/repos"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "post": {
        "description": "Create a new repository for the authenticated user. OAuth users must supply\nrepo scope.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postRepo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/repos"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/orgs/{org}/teams": {
      "get": {
        "description": "List teams.",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/teams"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "post": {
        "description": "Create team.\nIn order to create a team, the authenticated user must be an owner of organization.\n",
        "parameters": [
          {
            "description": "Name of organisation.",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orgTeamsPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/team"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/rate_limit": {
      "get": {
        "description": "Get your current rate limit status\nNote: Accessing this endpoint does not count against your rate limit.\n",
        "parameters": [
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/rate_limit"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "delete": {
        "description": "Delete a Repository.\nDeleting a repository requires admin access. If OAuth is used, the delete_repo\nscope is required.\n",
        "parameters": [
          {
            "description": "Name of repository owner.",
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of repository.",
            "in": "path",
            "name": "repo",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Item removed."
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "get": {
        "description": "Get repository.",
        "parameters": [
          {
            "description": "Name of repository owner.",
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of repository.",
            "in": "path",
            "name": "repo",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/repo"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      },
      "patch": {
        "description": "Edit repository.",
        "parameters": [
          {
            "description": "Name of repository owner.",
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of repository.",
            "in": "path",
            "name": "repo",
            "required": true,
            "type": "string"
          },
          {
            "description": "You can check the current version of media type in responses.\n",
            "in": "header",
            "name": "X-GitHub-Media-Type",
            "type": "string"
          },
          {
            "description": "Is used to set specified media type.",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Limit",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Remaining",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-RateLimit-Reset",
            "type": "integer"
          },
          {
            "in": "header",
            "name": "X-GitHub-Request-Id",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/repoEdit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/repo"
            }
          },
          "403": {
            "description": "API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting\nfor details.\n"
          }
        }
      }
    },
    "/repos/{owner}/{repo}/assignees": {
      "get": {
        "description": "List assignees.\nThis call lists all the available assignees (owner + collaborators) to which\nissues may be assigned.\n",
        "parameters": [
          {
            "description": "Name of repository owner.",
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of repository.",
            "in": "path",
            "name": "repo",
            "required": true,
            "type": "string"
          },
          {
[...]
