{
  "openapi": "3.0.0",
  "info": { "title": "Trello REST API", "version": "0.0.1" },
  "servers": [{ "url": "https://api.trello.com/1" }],
  "components": {
    "securitySchemes": {
      "APIKey": { "type": "apiKey", "in": "query", "name": "key" },
      "APIToken": { "in": "query", "name": "token", "type": "apiKey" }
    },
    "schemas": {
      "posStringOrNumber": {
        "oneOf": [
          { "type": "string", "enum": ["top", "bottom"] },
          { "type": "number", "format": "float", "example": 1293.5 }
        ]
      },
      "APIKey": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{32}$",
        "example": "0471642aefef5fa1fa76530ce1ba4c85"
      },
      "APIToken": {
        "type": "string",
        "example": "9eb76d9a9d02b8dd40c2f3e5df18556c831d4d1fadbe2c45f8310e6c93b5c548"
      },
      "ActionFields": {
        "type": "string",
        "enum": [
          "id",
          "idMemberCreator",
          "data",
          "type",
          "date",
          "limits",
          "display",
          "memberCreator"
        ]
      },
      "Action": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "$ref": "#/components/schemas/TrelloID" },
          "idMemberCreator": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID"
          },
          "data": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "example": "Can never go wrong with bowie"
              },
              "card": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "$ref": "#/components/schemas/TrelloID"
                  },
                  "name": { "type": "string", "example": "Bowie" },
                  "idShort": { "type": "integer", "example": 7 },
                  "shortLink": { "type": "string", "example": "3CsPkqOF" }
                }
              },
              "board": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "$ref": "#/components/schemas/TrelloID"
                  },
                  "name": { "type": "string", "example": "Mullets" },
                  "shortLink": { "type": "string", "example": "3CsPkqOF" }
                }
              },
              "list": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "$ref": "#/components/schemas/TrelloID"
                  },
                  "name": { "type": "string", "example": "Amazing" }
                }
              }
            }
          },
          "type": { "type": "string", "example": "commentCard" },
          "date": {
            "type": "string",
            "format": "date-time",
            "example": "2020-03-09T19:41:51.396Z"
          },
          "limits": {
            "type": "object",
            "properties": {
              "reactions": {
                "type": "object",
                "properties": {
                  "perAction": {
                    "type": "object",
                    "properties": {
                      "status": { "type": "string", "example": "ok" },
                      "disableAt": { "type": "number", "example": 1000 },
                      "warnAt": { "type": "number", "example": 900 }
                    }
                  },
                  "uniquePerAction": {
                    "type": "object",
                    "properties": {
                      "status": { "type": "string", "example": "ok" },
                      "disableAt": { "type": "number", "example": 1000 },
                      "warnAt": { "type": "number", "example": 900 }
                    }
                  }
                }
              }
            }
          },
          "display": {
            "type": "object",
            "properties": {
              "translationKey": {
                "type": "string",
                "example": "action_comment_on_card"
              },
              "entities": {
                "type": "object",
                "properties": {
                  "contextOn": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "example": "translatable" },
                      "translationKey": {
                        "type": "string",
                        "example": "action_on"
                      },
                      "hideIfContext": { "type": "boolean" },
                      "idContext": {
                        "type": "string",
                        "$ref": "#/components/schemas/TrelloID"
                      }
                    }
                  },
                  "card": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "example": "card" },
                      "hideIfContext": { "type": "boolean" },
                      "id": {
                        "type": "string",
                        "$ref": "#/components/schemas/TrelloID"
                      },
                      "shortLink": { "type": "string", "example": "3CsPkqOF" },
                      "text": { "type": "string", "example": "Bowie" }
                    }
                  },
                  "comment": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "example": "comment" },
                      "text": {
                        "type": "string",
                        "example": "Can never go wrong with bowie"
                      }
                    }
                  },
                  "memberCreator": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "example": "member" },
                      "id": { "$ref": "#/components/schemas/TrelloID" },
                      "username": { "type": "string", "example": "bobloblaw" },
                      "text": {
                        "type": "string",
                        "example": "Bob Loblaw (World)"
                      }
                    }
                  }
                }
              }
            }
          },
          "memberCreator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "$ref": "#/components/schemas/TrelloID",
                "example": "5b02e7f4e1facdc393169f9d"
              },
              "activityBlocked": { "type": "boolean", "example": false },
              "avatarHash": {
                "type": "string",
                "example": "db2adf80c2e6c26b76e1f10400eb4c45"
              },
              "avatarUrl": {
                "type": "string",
                "format": "url",
                "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45"
              },
              "fullName": {
                "type": "string",
                "example": "Bob Loblaw (Trello)"
              },
              "idMemberReferrer": {
                "type": "string",
                "$ref": "#/components/schemas/TrelloID",
                "nullable": true,
                "example": null
              },
              "initials": { "type": "string", "example": "BL" },
              "username": { "type": "string", "example": "bobloblaw" }
            }
          }
        }
      },
      "AttachmentFields": {
        "type": "string",
        "enum": [
          "id",
          "bytes",
          "date",
          "edgeColor",
          "idMember",
          "isUpload",
          "mimeType",
          "name",
          "previews",
          "url",
          "pos"
        ]
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5bc79d4206526d2279c1e6ea"
          },
          "bytes": { "type": "string", "example": null, "nullable": true },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2018-10-17T19:10:14.808Z"
          },
          "edgeColor": {
            "type": "string",
            "$ref": "#/components/schemas/Color",
            "example": null,
            "nullable": true
          },
          "idMember": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "5bc79d4206526d2279c1e6eb"
          },
          "isUpload": { "type": "boolean", "example": false },
          "mimeType": { "type": "string", "example": "" },
          "name": {
            "type": "string",
            "example": "Deprecation Extension Notice"
          },
          "previews": {
            "type": "array",
            "items": { "type": "string" },
            "example": []
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://admin.typeform.com/form/RzExEM/share#/link"
          },
          "pos": { "type": "number", "format": "float", "example": 1638 }
        }
      },
      "BlockedKey": {
        "type": "string",
        "enum": [
          "notification_comment_card",
          "notification_added_a_due_date",
          "notification_changed_due_date",
          "notification_card_due_soon",
          "notification_removed_from_card",
          "notification_added_attachment_to_card",
          "notification_created_card",
          "notification_moved_card",
          "notification_archived_card",
          "notification_unarchived_card"
        ],
        "example": "notification_comment_card"
      },
      "BoardFields": {
        "type": "string",
        "enum": [
          "id",
          "name",
          "desc",
          "descData",
          "closed",
          "idMemberCreator",
          "idOrganization",
          "pinned",
          "url",
          "shortUrl",
          "prefs",
          "labelNames",
          "starred",
          "limits",
          "memberships",
          "enterpriseOwned"
        ]
      },
      "Board": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "name": {
            "type": "string",
            "description": "The name of the board.",
            "example": "Trello Platform Changes"
          },
          "desc": {
            "type": "string",
            "example": "Track changes to Trello's Platform on this board."
          },
          "descData": { "type": "string" },
          "closed": { "type": "boolean", "example": false },
          "idMemberCreator": { "$ref": "#/components/schemas/TrelloID" },
          "idOrganization": { "$ref": "#/components/schemas/TrelloID" },
          "pinned": { "type": "boolean", "example": false },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://trello.com/b/dQHqCohZ/trello-platform-changelog"
          },
          "shortUrl": {
            "type": "string",
            "format": "url",
            "example": "https://trello.com/b/dQHqCohZ"
          },
          "prefs": { "$ref": "#/components/schemas/Prefs" },
          "labelNames": {
            "type": "object",
            "properties": {
              "green": { "type": "string", "example": "Addition" },
              "yellow": { "type": "string", "example": "Update" },
              "orange": { "type": "string", "example": "Deprecation" },
              "red": { "type": "string", "example": "Deletion" },
              "purple": { "type": "string", "example": "Power-Ups" },
              "blue": { "type": "string", "example": "News" },
              "sky": { "type": "string", "example": "Announcement" },
              "lime": { "type": "string", "example": "Delight" },
              "pink": { "type": "string", "example": "REST API" },
              "black": { "type": "string", "example": "Capabilties" }
            }
          },
          "limits": { "type": "object", "$ref": "#/components/schemas/Limits" },
          "starred": { "type": "boolean" },
          "memberships": { "type": "string" },
          "shortLink": { "type": "string" },
          "subscribed": { "type": "boolean" },
          "powerUps": { "type": "string" },
          "dateLastActivity": { "type": "string", "format": "date" },
          "dateLastView": { "type": "string", "format": "date" },
          "idTags": { "type": "string" },
          "datePluginDisable": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "creationMethod": { "type": "string", "nullable": true },
          "ixUpdate": { "type": "integer" },
          "templateGallery": { "type": "string", "nullable": true },
          "enterpriseOwned": { "type": "boolean" }
        }
      },
      "BoardBackground": {
        "type": "object",
        "properties": { "id": { "$ref": "#/components/schemas/TrelloID" } }
      },
      "BoardStars": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "585063850027165010be15a8"
          },
          "idBoard": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "57f7df684f1ca8c2877162e0"
          },
          "pos": { "type": "integer", "example": 32768 }
        }
      },
      "Channel": { "type": "string", "enum": ["email"], "example": "email" },
      "CheckItem": {
        "type": "object",
        "properties": {
          "idChecklist": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5dc9b507756e182c76007621"
          },
          "state": {
            "type": "string",
            "enum": ["complete", "incomplete"],
            "example": "incomplete"
          },
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5dc9b509f02f4314edc4303a"
          },
          "name": { "type": "string" },
          "nameData": { "type": "string", "nullable": true, "example": null },
          "pos": { "type": "string", "example": 1673 }
        }
      },
      "Checklist": {
        "type": "object",
        "properties": { "id": { "$ref": "#/components/schemas/TrelloID" } }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "address": { "type": "string", "nullable": true },
          "badges": {
            "type": "object",
            "properties": {
              "attachmentsByType": {
                "type": "object",
                "properties": {
                  "trello": {
                    "type": "object",
                    "properties": {
                      "board": { "type": "number" },
                      "card": { "type": "number" }
                    }
                  }
                }
              },
              "location": { "type": "boolean" },
              "votes": { "type": "integer" },
              "viewingMemberVoted": { "type": "boolean", "example": false },
              "subscribed": { "type": "boolean", "example": false },
              "fogbugz": { "type": "string" },
              "checkItems": { "type": "integer", "example": 0 },
              "checkItemsChecked": { "type": "integer", "example": 0 },
              "comments": { "type": "integer", "example": 0 },
              "attachments": { "type": "integer", "example": 0 },
              "description": { "type": "boolean" },
              "due": { "type": "string", "format": "date", "nullable": true },
              "start": { "type": "string", "format": "date", "nullable": true },
              "dueComplete": { "type": "boolean" }
            }
          },
          "checkItemStates": {
            "type": "array",
            "items": { "oneOf": [{ "type": "string" }] }
          },
          "closed": { "type": "boolean" },
          "coordinates": { "type": "string", "nullable": true },
          "creationMethod": { "type": "string", "nullable": true },
          "dateLastActivity": {
            "type": "string",
            "format": "date-time",
            "example": "2019-09-16T16:19:17.156Z"
          },
          "desc": {
            "type": "string",
            "example": "👋Hey there,\n\nTrello's Platform team uses this board to keep developers up-to-date."
          },
          "descData": {
            "type": "object",
            "properties": { "emoji": { "type": "object" } }
          },
          "due": { "type": "string", "format": "date", "nullable": true },
          "dueReminder": { "type": "string", "nullable": true },
          "email": {
            "type": "string",
            "format": "email",
            "example": "bentleycook+2kea95u7kchsvqnxkwe+2q0byi6qv4pt9uc7q5m+25qyyohtzg@boards.trello.com"
          },
          "idBoard": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "5abbe4b7ddc1b351ef961414"
          },
          "idChecklists": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/Checklist" },
                { "$ref": "#/components/schemas/TrelloID" }
              ]
            }
          },
          "idLabels": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/Label" },
                { "$ref": "#/components/schemas/TrelloID" }
              ]
            }
          },
          "idList": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "5abbe4b7ddc1b351ef961415"
          },
          "idMembers": {
            "type": "array",
            "items": { "oneOf": [{ "$ref": "#/components/schemas/TrelloID" }] }
          },
          "idMembersVoted": {
            "type": "array",
            "items": { "oneOf": [{ "$ref": "#/components/schemas/TrelloID" }] }
          },
          "idShort": { "type": "integer" },
          "idAttachmentCover": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "5abbe4b7ddc1b351ef961415",
            "nullable": true
          },
          "labels": {
            "type": "array",
            "items": { "oneOf": [{ "$ref": "#/components/schemas/TrelloID" }] }
          },
          "limits": { "type": "object", "$ref": "#/components/schemas/Limits" },
          "locationName": { "type": "string", "nullable": true },
          "manualCoverAttachment": { "type": "boolean", "example": false },
          "name": { "type": "string", "example": "👋 What? Why? How?" },
          "pos": { "type": "number", "format": "float", "example": 65535 },
          "shortLink": { "type": "string", "example": "H0TZyzbK" },
          "shortUrl": {
            "type": "string",
            "format": "url",
            "example": "https://trello.com/c/H0TZyzbK"
          },
          "subscribed": { "type": "boolean", "example": false },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://trello.com/c/H0TZyzbK/4-%F0%9F%91%8B-what-why-how"
          },
          "cover": {
            "type": "object",
            "properties": {
              "idAttachment": {
                "type": "string",
                "$ref": "#/components/schemas/TrelloID",
                "nullable": true
              },
              "color": {
                "$ref": "#/components/schemas/Color",
                "nullable": true
              },
              "idUploadedBackground": { "type": "boolean", "nullable": true },
              "size": { "type": "string", "enum": ["normal"] },
              "brightness": { "type": "string", "enum": ["light", "dark"] },
              "isTemplate": { "type": "boolean", "example": false }
            }
          }
        }
      },
      "CardFields": {
        "type": "string",
        "enum": [
          "id",
          "address",
          "badges",
          "checkItemStates",
          "closed",
          "coordinates",
          "creationMethod",
          "dueComplete",
          "dateLastActivity",
          "desc",
          "descData",
          "due",
          "dueReminder",
          "email",
          "idBoard",
          "idChecklists",
          "idLabels",
          "idList",
          "idMembers",
          "idMembersVoted",
          "idShort",
          "idAttachmentCover",
          "labels",
          "limits",
          "locationName",
          "manualCoverAttachment",
          "name",
          "pos",
          "shortLink",
          "shortUrl",
          "subscribed",
          "url",
          "cover",
          "isTemplate"
        ],
        "description": "The fields on a Card."
      },
      "ClaimableOrganizations": {
        "type": "object",
        "properties": {
          "organizations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string", "example": "organization_name" },
                "displayName": {
                  "type": "string",
                  "example": "Organization Name"
                },
                "activeMembershipCount": { "type": "number", "example": 5 },
                "idActiveAdmins": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TrelloID" }
                },
                "products": {
                  "type": "array",
                  "items": { "type": "number", "format": "integer" }
                },
                "id": {
                  "type": "string",
                  "$ref": "#/components/schemas/TrelloID",
                  "example": "617abd5995eae45169a11059"
                },
                "logoUrl": {
                  "type": "string",
                  "nullable": true,
                  "example": null
                },
                "dateLastActive": {
                  "type": "string",
                  "nullable": true,
                  "example": "2019-08-22T18:15:53.546Z",
                  "format": "date",
                  "description": "The date of the most recent activity on any of the boards in the workspace. If the workspace has no boards, or the boards have no activity, this value will be null."
                }
              }
            }
          },
          "claimableCount": { "type": "number", "example": 2 }
        }
      },
      "CustomEmoji": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5900ac11ed55d6d2c355c5d6"
          },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://trello-emoji.s3.amazonaws.com/5589c3ea49b40cedc28cf70e/b40d9925f4e75495104b5e560881d8e4/chorizo.png"
          },
          "name": { "type": "string", "example": "chorizo" }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5ab10be237846c43015f108e"
          },
          "idModel": {
            "type": "string",
            "example": "586e8f681d4fe9b06a928307"
          },
          "modelType": {
            "type": "string",
            "enum": ["card", "board", "member"],
            "example": "board"
          },
          "fieldGroup": {
            "type": "string",
            "example": "f6177ba6839d6fff0f73922c1cea105e793fda8a1433d466104dacc0b7c56955"
          },
          "display": {
            "type": "object",
            "properties": {
              "cardFront": { "type": "boolean", "example": true },
              "name": { "type": "string", "example": "Priority 🏔" },
              "pos": { "type": "string", "example": "98304," },
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/TrelloID",
                      "example": "5ab10be237846c43015f1091"
                    },
                    "idCustomField": {
                      "$ref": "#/components/schemas/TrelloID",
                      "example": "5ab10be237846c43015f108e"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "text": { "type": "string", "example": "High" }
                      }
                    },
                    "color": { "type": "string", "example": "red" },
                    "pos": { "type": "number", "example": 16384 }
                  }
                }
              }
            }
          },
          "type": { "type": "string", "example": "list" }
        }
      },
      "CustomFieldItems": {
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "value": {
            "type": "object",
            "properties": { "checked": { "type": "string", "example": "true" } }
          },
          "idCustomField": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5b080fd8017bd1653b5480fa"
          },
          "idModel": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5b080ff194611b41aaaa9570"
          },
          "modelType": {
            "type": "string",
            "enum": ["card", "board", "member"],
            "example": "card"
          }
        }
      },
      "CustomSticker": {
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "url": { "type": "string", "format": "url" },
          "scaled": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "$ref": "#/components/schemas/TrelloID" }
              }
            }
          }
        }
      },
      "Emoji": {
        "type": "object",
        "properties": {
          "trello": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unified": { "type": "string", "example": "1F600" },
                "name": { "type": "string", "example": "GRINNING FACE" },
                "native": { "type": "string", "example": "😀" },
                "shortName": { "type": "string", "example": "grinning" },
                "shortNames": {
                  "type": "array",
                  "items": { "type": "string", "example": "grinning\"" }
                },
                "text": { "type": "string", "example": ":)" },
                "texts": {
                  "type": "string",
                  "nullable": true,
                  "example": null
                },
                "category": { "type": "string", "example": "Smileys & People" },
                "sheetX": { "type": "number", "example": 30 },
                "sheetY": { "type": "number", "example": 24 },
                "tts": { "type": "string", "example": "grinning face" },
                "keywords": {
                  "type": "array",
                  "items": { "type": "string", "example": "face" }
                }
              }
            }
          }
        }
      },
      "Enterprise": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "59c15d19566e197b23665901"
          },
          "name": { "type": "string", "example": "bentley_test" },
          "displayName": {
            "type": "string",
            "example": "Bentley's Test Enterprise!"
          },
          "logoHash": { "type": "string", "nullable": true, "example": null },
          "logoUrl": { "type": "string", "nullable": true, "example": null },
          "prefs": {
            "type": "object",
            "properties": {
              "ssoOnly": { "type": "boolean", "example": false },
              "signup": {
                "type": "object",
                "properties": {
                  "banner": { "type": "string" },
                  "bannerHtml": {
                    "type": "string",
                    "example": "<p>Hello</p>\n"
                  }
                }
              },
              "mandatoryTransferDate": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": null
              },
              "brandingColor": { "type": "string" },
              "autoJoinOrganizations": { "type": "boolean", "example": false },
              "notifications": { "type": "object" },
              "maxMembers": {
                "type": "number",
                "nullable": true,
                "example": null
              }
            }
          },
          "organizationPrefs": {
            "type": "object",
            "properties": {
              "boardVisibilityRestrict": { "type": "object" },
              "boardDeleteRestrict": { "type": "object" },
              "attachmentRestrictions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "computer",
                    "trello",
                    "google-drive",
                    "box",
                    "onedrive",
                    "link"
                  ]
                }
              }
            }
          },
          "ssoActivationFailed": { "type": "boolean" },
          "idAdmins": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "enterpriseDomains": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          },
          "isRealEnterprise": { "type": "boolean", "example": true },
          "pluginWhitelistingEnabled": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "idOrganizations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "products": {
            "type": "array",
            "items": { "type": "number", "format": "integer" }
          },
          "licenses": {
            "type": "object",
            "properties": {
              "maxMembers": {
                "type": "number",
                "nullable": true,
                "format": "integer",
                "example": null
              },
              "totalMembers": {
                "type": "number",
                "format": "integer",
                "example": 5
              },
              "relatedEnterprises": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string", "example": "enterprise_name" },
                    "displayName": {
                      "type": "string",
                      "example": "My Test Enterprise!"
                    },
                    "count": {
                      "type": "number",
                      "example": 5,
                      "format": "integer"
                    }
                  }
                }
              }
            }
          },
          "domains": {
            "type": "array",
            "items": { "type": "string", "format": "url" }
          },
          "dateOrganizationPrefsLastUpdated": {
            "type": "string",
            "example": "2019-08-22T18:15:53.546Z",
            "format": "date"
          },
          "idp": {
            "type": "object",
            "properties": {
              "requestSigned": { "type": "boolean", "example": false },
              "certificate": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "loginUrl": {
                "type": "string",
                "format": "url",
                "nullable": true,
                "example": null
              }
            }
          }
        }
      },
      "EnterpriseAdmin": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5dced8665015383ed5ca248c"
          },
          "fullName": { "type": "string", "example": "Bob Loblaw" },
          "username": { "type": "string", "example": "bobloblaw" }
        }
      },
      "EnterpriseAuditLog": {
        "type": "object",
        "properties": {
          "idAction": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5dced8665015383ed5ca248c"
          },
          "type": {
            "type": "string",
            "example": "addOrganizationToEnterprise"
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2018-04-26T17:03:25.155Z"
          },
          "memberCreator": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/TrelloID",
                "example": "5bc79d4206526d2279c1e6ea"
              },
              "username": { "type": "string", "example": "bobloblaw" },
              "fullName": { "type": "string", "example": "Bob Loblaw (Trello)" }
            }
          },
          "organization": {
            "type": "object",
            "properties": {
              "enterpriseJoinRequest": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "idEnterprise": {
                    "$ref": "#/components/schemas/TrelloID",
                    "example": "617ac9070293e6612650e0ca"
                  },
                  "idMember": {
                    "$ref": "#/components/schemas/TrelloID",
                    "example": "5bc79d4206526d2279c1e6ea"
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2018-04-26T17:03:25.155Z"
                  }
                }
              },
              "id": {
                "$ref": "#/components/schemas/TrelloID",
                "example": "617ac9070293e6612650e0ca"
              },
              "name": { "type": "string", "example": "organization name" }
            }
          },
          "member": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/TrelloID",
                "example": "5bc79d4206526d2279c1e6ea"
              },
              "username": { "type": "string", "example": "bentleycook" },
              "fullName": { "type": "string", "example": "Bentley Cook" }
            }
          }
        }
      },
      "Export": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5dced8665015383ed5ca248c"
          },
          "status": {
            "type": "object",
            "properties": {
              "attempts": { "type": "number", "example": 0 },
              "finished": { "type": "boolean", "example": false },
              "stage": { "type": "string", "example": "Export_queued" }
            }
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2019-11-15T16:55:02.000Z"
          },
          "size": { "type": "string", "nullable": true, "example": null },
          "exportUrl": { "type": "string", "nullable": true, "example": null }
        }
      },
      "TrelloID": {
        "type": "string",
        "pattern": "^[0-9a-fA-F]{24}$",
        "example": "5abbe4b7ddc1b351ef961414"
      },
      "ViewFilter": {
        "type": "string",
        "enum": ["all", "closed", "none", "open"]
      },
      "Color": {
        "type": "string",
        "enum": [
          "yellow",
          "purple",
          "blue",
          "red",
          "green",
          "orange",
          "black",
          "sky",
          "pink",
          "lime"
        ],
        "nullable": true
      },
      "CardAging": { "type": "string", "enum": ["pirate", "regular"] },
      "ImageDescriptor": {
        "type": "object",
        "properties": {
          "width": {
            "description": "The width of the image.",
            "type": "integer",
            "example": 100
          },
          "height": {
            "description": "The height of the image.",
            "type": "integer",
            "example": 64
          },
          "url": {
            "description": "The URL of the image.",
            "format": "url",
            "type": "string",
            "example": "https://trello-backgrounds.s3.amazonaws.com/SharedBackground/100x64/abc/photo-123.jpg"
          }
        }
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the label.",
            "type": "string",
            "$ref": "#/components/schemas/TrelloID"
          },
          "idBoard": {
            "type": "string",
            "description": "The ID of the board the label is on.",
            "$ref": "#/components/schemas/TrelloID",
            "example": "5abbe4b7ddc1b351ef961414"
          },
          "name": {
            "type": "string",
            "description": "The name displayed for the label.",
            "example": "Overdue",
            "nullable": true,
            "minLength": 0,
            "maxLength": 16384
          },
          "color": {
            "type": "string",
            "$ref": "#/components/schemas/Color",
            "description": "The color of the label. Null means no color and the label will not be shown on the front of Cards."
          }
        }
      },
      "ListFields": { "type": "string", "enum": ["id"] },
      "TrelloList": {
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "name": {
            "type": "string",
            "description": "The name of the list",
            "example": "Things to buy today"
          },
          "closed": { "type": "boolean" },
          "pos": { "type": "number" },
          "softLimit": { "type": "string" },
          "idBoard": { "type": "string" },
          "subscribed": { "type": "boolean" },
          "limits": { "$ref": "#/components/schemas/Limits" }
        }
      },
      "LimitsObject": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["ok", "warning"] },
          "disableAt": { "type": "number", "example": 36000 },
          "warnAt": { "type": "number", "example": 32400 }
        }
      },
      "Limits": {
        "type": "object",
        "properties": {
          "attachments": {
            "type": "object",
            "properties": {
              "perBoard": {
                "type": "object",
                "$ref": "#/components/schemas/LimitsObject"
              }
            }
          }
        }
      },
      "MemberFields": { "type": "string", "enum": ["id"] },
      "Member": {
        "type": "object",
        "properties": {
          "id": { "$ref": "#/components/schemas/TrelloID" },
          "activityBlocked": { "type": "boolean", "example": false },
          "avatarHash": {
            "type": "string",
            "example": "fc8faaaee46666a4eb8b626c08933e16"
          },
          "avatarUrl": {
            "type": "string",
            "format": "url",
            "example": "https://trello-avatars.s3.amazonaws.com/fc8faaaee46666a4eb8b626c08933e16"
          },
          "bio": {
            "type": "string",
            "example": "👋 I'm a developer advocate at Trello!"
          },
          "bioData": {
            "type": "object",
            "properties": { "emoji": { "type": "object" } }
          },
          "confirmed": { "type": "boolean", "example": true },
          "fullName": { "type": "string", "example": "Bentley Cook" },
          "idEnterprise": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID"
          },
          "idEnterprisesDeactivated": {
            "type": "array",
            "items": { "type": "string" }
          },
          "idMemberReferrer": {
            "$ref": "#/components/schemas/TrelloID",
            "nullable": true,
            "example": null
          },
          "idPremOrgsAdmin": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "initials": { "type": "string", "example": "BC" },
          "memberType": {
            "type": "string",
            "enum": ["normal", "ghost"],
            "example": "normal"
          },
          "nonPublic": {
            "type": "object",
            "description": "Profile data with restricted visibility. These fields are visible only to members of the\nsame organization. The values here (full name, for example) may differ from the values\nat the top level of the response.\n",
            "properties": {
              "fullName": { "type": "string", "example": "Bentley Cook" },
              "initials": { "type": "string", "example": "BC" },
              "avatarUrl": {
                "type": "string",
                "format": "url",
                "example": "https://trello-members.s3.amazonaws.com/5b02e7f4e1facdc393169f9d/db2adf80c2e6c26b76e1f10400eb4c45",
                "description": "A URL that references the non-public avatar for the member"
              },
              "avatarHash": {
                "type": "string",
                "example": "db2adf80c2e6c26b76e1f10400eb4c45"
              }
            }
          },
          "nonPublicAvailable": {
            "type": "boolean",
            "example": false,
            "description": "Whether the response contains non-public profile data for the member"
          },
          "products": { "type": "array", "items": { "type": "integer" } },
          "url": {
            "type": "string",
            "format": "url",
            "example": "https://trello.com/bentleycook"
          },
          "username": { "type": "string", "example": "bentleycook" },
          "status": {
            "type": "string",
            "enum": ["disconnected"],
            "example": "disconnected"
          },
          "aaEmail": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "example": null
          },
          "aaEnrolledDate": {
            "type": "string",
            "example": null,
            "nullable": true
          },
          "aaId": { "type": "string", "example": null, "nullable": true },
          "avatarSource": {
            "type": "string",
            "enum": ["gravatar", "upload"],
            "example": "gravatar"
          },
          "email": { "type": "string", "example": "bcook@atlassian.com" },
          "gravatarHash": {
            "type": "string",
            "example": "0a1e804f6e35a65ae5e1f7ef4c92471c"
          },
          "idBoards": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "idOrganizations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "idEnterprisesAdmin": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TrelloID" }
          },
          "limits": { "$ref": "#/components/schemas/LimitsObject" },
          "loginTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["password", "saml"],
              "example": "password"
            }
          },
          "marketingOptIn": {
            "type": "object",
            "properties": {
              "optedIn": { "type": "boolean", "example": false },
              "date": {
                "type": "string",
                "format": "date",
                "example": "2018-04-26T17:03:25.155Z"
              }
            }
          },
          "messagesDismissed": {
            "type": "object",
            "properties": {
              "name": { "type": "string", "example": "ad-security-features" },
              "count": { "type": "string", "example": 4 },
              "lastDismissed": {
                "type": "string",
                "format": "date",
                "example": "2019-03-11T20:19:46.809Z"
              },
              "_id": {
                "$ref": "#/components/schemas/TrelloID",
                "example": "5995d44573d197eada632a32"
              }
            }
          },
          "oneTimeMessagesDismissed": {
            "type": "array",
            "items": { "type": "string" }
          },
          "prefs": { "$ref": "#/components/schemas/MemberPrefs" },
          "trophies": { "type": "array", "items": { "type": "string" } },
          "uploadedAvatarHash": {
            "type": "string",
            "example": "dac3ad49ff117829dd63a79bb2ea3426"
          },
          "uploadedAvatarUrl": {
            "type": "string",
            "format": "url",
            "example": "https://trello-avatars.s3.amazonaws.com/dac3ad49ff117829dd63a79bb2ea3426"
          },
          "premiumFeatures": { "type": "array", "items": { "type": "string" } },
          "isAaMastered": { "type": "boolean", "example": false },
          "ixUpdate": { "type": "number", "example": "48427" },
          "idBoardsPinned": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/TrelloID" }
          }
        }
      },
      "MemberPrefs": {
        "type": "object",
        "properties": {
          "timezoneInfo": {
            "type": "object",
            "properties": {
              "offsetCurrent": { "type": "integer", "example": 360 },
              "timezoneCurrent": { "type": "string", "example": "CST" },
              "offsetNext": { "type": "integer", "example": 300 },
              "dateNext": {
                "type": "string",
                "format": "date",
                "example": "2020-03-08T08:00:00.000Z"
              },
              "timezoneNext": { "type": "string", "example": "CDT" }
            }
          },
          "privacy": {
            "type": "object",
            "properties": {
              "fullName": {
                "type": "string",
                "enum": ["public", "private", "collaborator"],
                "example": "public"
              },
              "avatar": {
                "type": "string",
                "enum": ["public", "private", "collaborator"],
                "example": "public"
              }
            }
          },
          "sendSummaries": { "type": "boolean", "example": true },
          "minutesBetweenSummaries": { "type": "integer", "example": 60 },
          "minutesBeforeDeadlineToNotify": {
            "type": "integer",
            "example": 1440
          },
          "colorBlind": { "type": "boolean", "example": true },
          "locale": { "type": "string", "example": "en-AU" },
          "timezone": { "type": "string", "example": "America/Chicago" },
          "twoFactor": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean", "example": true },
              "needsNewBackups": { "type": "boolean", "example": false }
            }
          }
        }
      },
      "Memberships": {
        "type": "object",
        "description": "",
        "properties": { "id": { "$ref": "#/components/schemas/TrelloID" } }
      },
      "NotificationFields": {
        "type": "string",
        "enum": [
          "id",
          "unread",
          "type",
          "date",
          "dateRead",
          "data",
          "card",
          "board",
          "idMemberCreator",
          "idAction",
          "reactions"
        ]
      },
      "Notification": {
        "properties": {
          "id": { "type": "string", "example": "5dc591ac425f2a223aba0a8e" },
          "unread": { "type": "boolean", "example": true },
          "type": {
            "type": "string",
            "enum": ["cardDueSoon"],
            "example": "cardDueSoon"
          },
          "date": { "type": "string", "example": "2019-11-08T16:02:52.763Z" },
          "dateRead": { "type": "string", "example": null },
          "data": { "type": "string", "example": null },
          "card": { "type": "object", "$ref": "#/components/schemas/Card" },
          "board": { "type": "object", "$ref": "#/components/schemas/Board" },
          "idMemberCreator": {
            "$ref": "#/components/schemas/TrelloID",
            "nullable": true,
            "example": null
          },
          "idAction": {
            "$ref": "#/components/schemas/TrelloID",
            "nullable": true,
            "example": null
          },
          "reactions": { "type": "array", "example": [] }
        }
      },
      "NotificationChannelSettings": {
        "properties": {
          "id": { "type": "string", "example": "5dc591ac425f2a223aba0a8e" },
          "idMember": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5589c3ea49b40cedc28cf70e"
          },
          "blockedKeys": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BlockedKey" }
          },
          "channel": { "$ref": "#/components/schemas/Channel" }
        }
      },
      "OrganizationFields": { "type": "string", "enum": ["id", "name"] },
      "Organization": {
        "type": "object",
        "properties": { "id": { "$ref": "#/components/schemas/TrelloID" } }
      },
      "PendingOrganizations": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "$ref": "#/components/schemas/TrelloID",
            "example": "617ac9070293e6612650e0ca"
          },
          "idMember": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5589c3ea49b40cedc28cf70e"
          },
          "memberRequestor": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "$ref": "#/components/schemas/TrelloID",
                "example": "59cd149051aa57a706962996"
              },
              "fullName": { "type": "string", "example": "Bob Loblaw (Trello)" }
            }
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2018-10-17T19:10:14.808Z"
          },
          "displayName": { "type": "string", "example": "Organization Name" },
          "membershipCount": { "type": "number", "example": 2 },
          "logoUrl": { "type": "string", "nullable": true, "example": null },
          "transferability": {
            "type": "object",
            "properties": {
              "transferrable": { "type": "boolean", "example": true },
              "newBillableMembers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/TrelloID",
                      "example": "5ab10be237846c43015f1091"
                    },
                    "fullName": { "type": "string", "example": "Bob Loblaw" },
                    "username": { "type": "string", "example": "bobloblaw" },
                    "initials": { "type": "string", "example": "BL" },
                    "avatarHash": {
                      "type": "string",
                      "example": "fc8faaaee46666a4eb8b626c08933e16"
                    }
                  }
                }
              },
              "restrictedMembers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/TrelloID",
                      "example": "5ab10be237846c43015f1091"
                    },
                    "fullName": { "type": "string", "example": "Bob Loblaw" },
                    "username": { "type": "string", "example": "bobloblaw" },
                    "initials": { "type": "string", "example": "BL" },
                    "avatarHash": {
                      "type": "string",
                      "example": "fc8faaaee46666a4eb8b626c08933e16"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Plugin": {
        "type": "object",
        "properties": { "id": { "$ref": "#/components/schemas/TrelloID" } }
      },
      "PluginData": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5c487f39294cab6ac1d6b305"
          },
          "idPlugin": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "55a5d915446f517774210003"
          },
          "scope": {
            "type": "string",
            "enum": ["member", "board", "organization", "card"],
            "example": "organization"
          },
          "idModel": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "586e8d7b1af892b26d5b76b1"
          },
          "value": {
            "type": "string",
            "example": "{\"token\":\"S=s458:U=bda7cda:E=16fd2e21f55:C=1687b30f2c0:P=185:A=it-team-0604:V=2:H=3b0f3bac9c2a2af766202ebb9530a4a5\"}"
          },
          "access": {
            "type": "string",
            "enum": ["private", "shared"],
            "example": "private"
          }
        }
      },
      "PluginListing": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5a7cd2f8f99c517f58da1579"
          },
          "name": { "type": "string", "example": "Attachment Section Example" },
          "locale": { "type": "string", "example": "en-US" },
          "description": {
            "type": "string",
            "example": "The [Glitch](https://glitch.com) Power-Up allows you to..."
          },
          "overview": { "type": "string", "example": "" }
        }
      },
      "Prefs": {
        "type": "object",
        "properties": {
          "permissionLevel": { "type": "string", "enum": ["org", "board"] },
          "hideVotes": { "type": "boolean" },
          "voting": { "type": "string", "enum": ["disabled", "enabled"] },
          "comments": { "type": "string" },
          "invitations": { "enum": ["admins", "members"] },
          "selfJoin": { "type": "boolean" },
          "cardCovers": { "type": "boolean" },
          "isTemplate": { "type": "boolean" },
          "cardAging": { "$ref": "#/components/schemas/CardAging" },
          "calendarFeedEnabled": { "type": "boolean" },
          "background": { "$ref": "#/components/schemas/TrelloID" },
          "backgroundImage": { "type": "string", "format": "uri" },
          "backgroundImageScaled": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ImageDescriptor" }
          },
          "backgroundTile": { "type": "boolean" },
          "backgroundBrightness": { "type": "string", "example": "dark" },
          "backgroundBottomColor": { "type": "string", "example": "#1e2e00" },
          "backgroundTopColor": { "type": "string", "example": "#ffffff" },
          "canBePublic": { "type": "boolean" },
          "canBeEnterprise": { "type": "boolean" },
          "canBeOrg": { "type": "boolean" },
          "canBePrivate": { "type": "boolean" },
          "canInvite": { "type": "boolean" }
        }
      },
      "SavedSearch": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5589b47349b40cedc28ceae2"
          },
          "name": { "type": "string", "example": "My Cards" },
          "query": { "type": "string", "example": "@me" },
          "pos": {
            "$ref": "#/components/schemas/posStringOrNumber",
            "example": 1638
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "58dd6dcaf8b86744d3cb4cde"
          },
          "name": { "type": "string", "example": "My Collection" }
        }
      },
      "TokenPermission": {
        "type": "object",
        "properties": {
          "idModel": {
            "oneOf": [
              { "$ref": "#/components/schemas/TrelloID" },
              { "type": "string", "enum": ["*"] }
            ]
          },
          "modelType": {
            "type": "string",
            "enum": ["board", "member", "organization", "enterprise"]
          },
          "read": { "type": "boolean" },
          "write": { "type": "boolean" }
        }
      },
      "TokenFields": {
        "type": "string",
        "enum": [
          "identifier",
          "idMember",
          "dateCreated",
          "dateExpires",
          "permissions"
        ]
      },
      "Token": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5da728c55235b443c5b97181"
          },
          "identifier": { "type": "string", "example": "App Name" },
          "idMember": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "5589c3ea49b40cedc28cf70e"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "example": "2019-10-16T14:27:17.304Z"
          },
          "dateExpires": {
            "type": "string",
            "format": "date-time",
            "example": null,
            "nullable": true
          },
          "permissions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TokenPermission" }
          }
        }
      },
      "TransferrableOrganization": {
        "type": "object",
        "properties": {
          "transferrable": { "type": "boolean", "example": true },
          "newBillableMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/TrelloID",
                  "example": "5ab10be237846c43015f1091"
                },
                "fullName": { "type": "string", "example": "Bob Loblaw" },
                "username": { "type": "string", "example": "bobloblaw" },
                "initials": { "type": "string", "example": "BL" },
                "avatarHash": {
                  "type": "string",
                  "example": "fc8faaaee46666a4eb8b626c08933e16"
                }
              }
            }
          },
          "restrictedMembers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/TrelloID",
                  "example": "5ab10be237846c43015f1091"
                },
                "fullName": { "type": "string", "example": "Bob Loblaw" },
                "username": { "type": "string", "example": "bobloblaw" },
                "initials": { "type": "string", "example": "BL" },
                "avatarHash": {
                  "type": "string",
                  "example": "fc8faaaee46666a4eb8b626c08933e16"
                }
              }
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "58dd6dcaf8b86744d3cb4cde"
          },
          "description": { "type": "string", "example": "Board Webhook" },
          "idModel": {
            "$ref": "#/components/schemas/TrelloID",
            "example": "59cd149051aa57a706962996"
          },
          "callbackURL": {
            "type": "string",
            "format": "url",
            "example": "https://mywebhookurl.com/?type=board"
          },
          "active": { "type": "boolean", "example": true },
          "consecutiveFailures": { "type": "number", "example": 0 },
          "firstConsecutiveFailDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": null
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" }
        },
        "required": ["code", "message"]
      },
      "CFValue": {
        "type": "object",
        "properties": { "number": { "type": "string" } }
      },
      "customFieldItemValue": {
        "type": "object",
        "properties": { "value": { "type": "object" } }
      }
    },
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "security": [{ "APIKey": [], "APIToken": [] }],
  "paths": {
    "/actions/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the Action",
          "required": true,
          "schema": { "$ref": "#/components/schemas/TrelloID" }
        }
      ],
      "get": {
        "tags": [],
        "summary": "Get an Action",
        "description": "Get an Action",
        "operationId": "get-actions-id",
        "parameters": [
          {
            "name": "display",
            "in": "query",
            "description": "",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "entities",
            "in": "query",
            "description": "",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of action [fields](/cloud/trello/guides/rest-api/object-definitions/#action-object)",
            "required": false,
            "schema": { "type": "string", "default": "all" }
          },
          {
            "name": "member",
            "in": "query",
            "description": "",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "avatarHash,fullName,initials,username"
            }
          },
          {
            "name": "memberCreator",
            "in": "query",
            "description": "Whether to include the member object for the creator of the action",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "memberCreator_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "avatarHash,fullName,initials,username"
            }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      },
      "put": {
        "tags": [],
        "summary": "Update an Action",
        "description": "Update a specific Action. Only comment actions can be updated. Used to edit the content of a comment.",
        "operationId": "put-actions-id",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "The new text for the comment",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": [],
        "summary": "Delete an Action",
        "description": "Delete a specific action. Only comment actions can be deleted.",
        "operationId": "delete-actions-id",
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/actions/{id}/{field}": {
      "get": {
        "tags": [],
        "summary": "Get a specific field on an Action",
        "description": "Get a specific property of an action",
        "operationId": "get-actions-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "field",
            "in": "path",
            "description": "An action field",
            "required": true,
            "schema": { "$ref": "#/components/schemas/ActionFields" }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Action" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/board": {
      "get": {
        "tags": [],
        "summary": "Get the Board for an Action",
        "description": "Get the Board for an Action",
        "operationId": "get-actions-id-board",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of board fields",
            "required": false,
            "schema": { "$ref": "#/components/schemas/BoardFields" }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Board" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/card": {
      "get": {
        "tags": [],
        "summary": "Get the Card for an Action",
        "description": "Get the card for an action",
        "operationId": "get-actions-id-card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of card fields",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CardFields",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Card" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/list": {
      "get": {
        "tags": [],
        "summary": "Get the List for an Action",
        "description": "Get the List for an Action",
        "operationId": "get-actions-id-list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of list fields",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListFields",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrelloList" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/member": {
      "get": {
        "tags": [],
        "summary": "Get the Member of an Action",
        "description": "Gets the member of an action (not the creator)",
        "operationId": "get-actions-id-member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member fields",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MemberFields",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Member" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/memberCreator": {
      "get": {
        "tags": [],
        "summary": "Get the Member Creator of an Action",
        "description": "Get the Member who created the Action",
        "operationId": "get-actions-id-membercreator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member fields",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/MemberFields",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Member" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/organization": {
      "get": {
        "tags": [],
        "summary": "Get the Organization of an Action",
        "description": "Get the Organization of an Action",
        "operationId": "get-actions-id-organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of organization fields",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrganizationFields",
              "default": "all"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Organization" }
              }
            }
          }
        }
      }
    },
    "/actions/{id}/text": {
      "put": {
        "tags": [],
        "summary": "Update a Comment Action",
        "description": "Update a comment action",
        "operationId": "put-actions-id-text",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action to update",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "value",
            "in": "query",
            "description": "The new text for the comment",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/actions/{idAction}/reactions": {
      "parameters": [
        {
          "name": "idAction",
          "in": "path",
          "description": "The ID of the action",
          "required": true,
          "schema": { "$ref": "#/components/schemas/TrelloID" }
        }
      ],
      "get": {
        "tags": [],
        "summary": "Get Action's Reactions",
        "description": "List reactions for an action",
        "operationId": "get-actions-idaction-reactions",
        "parameters": [
          {
            "name": "member",
            "in": "query",
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "emoji",
            "in": "query",
            "description": "Whether to load the emoji as a nested resource.",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      },
      "post": {
        "tags": [],
        "summary": "Create Reaction for Action",
        "description": "Adds a new reaction to an action",
        "operationId": "post-actions-idaction-reactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shortName": {
                    "type": "string",
                    "description": "The primary `shortName` of the emoji to add. See [/emoji](#emoji)"
                  },
                  "skinVariation": {
                    "type": "string",
                    "description": "The `skinVariation` of the emoji to add. See [/emoji](#emoji)"
                  },
                  "native": {
                    "type": "string",
                    "description": "The emoji to add as a native unicode emoji. See [/emoji](#emoji)"
                  },
                  "unified": {
                    "type": "string",
                    "description": "The `unified` value of the emoji to add. See [/emoji](#emoji)"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/actions/{idAction}/reactions/{id}": {
      "parameters": [
        {
          "name": "idAction",
          "in": "path",
          "description": "The ID of the Action",
          "required": true,
          "schema": { "$ref": "#/components/schemas/TrelloID" }
        },
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the reaction",
          "required": true,
          "schema": { "$ref": "#/components/schemas/TrelloID" }
        }
      ],
      "get": {
        "tags": [],
        "summary": "Get Action's Reaction",
        "description": "Get information for a reaction",
        "operationId": "get-actions-idaction-reactions-id",
        "parameters": [
          {
            "name": "member",
            "in": "query",
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "emoji",
            "in": "query",
            "description": "Whether to load the emoji as a nested resource.",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": [],
        "summary": "Delete Action's Reaction",
        "description": "Deletes a reaction",
        "operationId": "delete-actions-idaction-reactions-id",
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/actions/{idAction}/reactionsSummary": {
      "get": {
        "tags": [],
        "summary": "List Action's summary of Reactions",
        "description": "List a summary of all reactions for an action",
        "operationId": "get-actions-idaction-reactionsummary",
        "parameters": [
          {
            "name": "idAction",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/applications/{key}/compliance": {
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "tags": [],
        "summary": "Get Application's compliance data",
        "description": "",
        "operationId": "applications-key-compliance",
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/batch": {
      "get": {
        "tags": [],
        "summary": "Batch Requests",
        "description": "Make up to 10 GET requests in a single, batched API call.",
        "operationId": "get-batch",
        "parameters": [
          {
            "name": "urls",
            "in": "query",
            "description": "A list of API routes. Maximum of 10 routes allowed. The routes should begin with a forward slash and should not include the API version number - e.g. \"urls=/members/trello,/cards/[cardId]\"",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/boards/{id}/memberships": {
      "get": {
        "tags": [],
        "summary": "Get Memberships of a Board",
        "description": "Get information about the memberships users have to the board.",
        "operationId": "get-boards-id-memberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "One of `admins`, `all`, `none`, `normal`",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": ["admins", "all", "none", "normal"]
            }
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Works for premium organizations only.",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "orgMemberType",
            "in": "query",
            "description": "Shows the type of member to the org the user is. For instance, an org admin will have a `orgMemberType` of `admin`.",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "member",
            "in": "query",
            "description": "Determines whether to include a [nested member object](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "Fields to show if `member=true`. Valid values: [nested member resource fields](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/MemberFields",
              "default": "fullname,username"
            }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Memberships" }
              }
            }
          }
        }
      }
    },
    "/boards/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": { "$ref": "#/components/schemas/TrelloID" }
        }
      ],
      "get": {
        "tags": [],
        "summary": "Get a Board",
        "description": "Request a single board.",
        "operationId": "get-boards-id",
        "parameters": [
          {
            "name": "actions",
            "in": "query",
            "description": "This is a nested resource. Read more about actions as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "all" }
          },
          {
            "name": "boardStars",
            "in": "query",
            "description": "Valid values are one of: `mine` or `none`.",
            "required": false,
            "schema": { "type": "string", "default": "none" }
          },
          {
            "name": "cards",
            "in": "query",
            "description": "This is a nested resource. Read more about cards as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "none" }
          },
          {
            "name": "card_pluginData",
            "in": "query",
            "description": "Use with the `cards` param to include card pluginData with the response",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "This is a nested resource. Read more about checklists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "none" }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "This is a nested resource. Read more about custom fields as nested resources [here](#custom-fields-nested-resource).",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields of the board to be included in the response. Valid values: all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name,desc,descData,closed,idOrganization,pinned,url,shortUrl,prefs,labelNames"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "description": "This is a nested resource. Read more about labels as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "lists",
            "in": "query",
            "description": "This is a nested resource. Read more about lists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "open" }
          },
          {
            "name": "members",
            "in": "query",
            "description": "This is a nested resource. Read more about members as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "none" }
          },
          {
            "name": "memberships",
            "in": "query",
            "description": "This is a nested resource. Read more about memberships as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "string", "default": "none" }
          },
          {
            "name": "pluginData",
            "in": "query",
            "description": "Determines whether the pluginData for this board should be returned. Valid values: true or false.",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "This is a nested resource. Read more about organizations as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "organization_pluginData",
            "in": "query",
            "description": "Use with the `organization` param to include organization pluginData with the response",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "myPrefs",
            "in": "query",
            "description": "",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Also known as collections, tags, refer to the collection(s) that a Board belongs to.",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Board" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "put": {
        "tags": [],
        "summary": "Update a Board",
        "description": "Update an existing board by id",
        "operationId": "put-boards-id",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The new name for the board. 1 to 16384 characters long.",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "A new description for the board, 0 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "closed",
            "in": "query",
            "description": "Whether the board is closed",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Whether the acting user is subscribed to the board",
            "required": false,
            "explode": false,
            "style": "form",
            "schema": { "$ref": "#/components/schemas/TrelloID" }
          },
          {
            "name": "idOrganization",
            "in": "query",
            "description": "The id of the Workspace the board should be moved to",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/permissionLevel",
            "in": "query",
            "description": "One of: org, private, public",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/selfJoin",
            "in": "query",
            "description": "Whether Workspace members can join the board themselves",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "prefs/cardCovers",
            "in": "query",
            "description": "Whether card covers should be displayed on this board",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "prefs/hideVotes",
            "in": "query",
            "description": "Determines whether the Voting Power-Up should hide who voted on cards or not.",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "prefs/invitations",
            "in": "query",
            "description": "Who can invite people to this board. One of: admins, members",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/voting",
            "in": "query",
            "description": "Who can vote on this board. One of disabled, members, observers, org, public",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/comments",
            "in": "query",
            "description": "Who can comment on cards on this board. One of: disabled, members, observers, org, public",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/background",
            "in": "query",
            "description": "The id of a custom background or one of: blue, orange, green, red, purple, pink, lime, sky, grey",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/cardAging",
            "in": "query",
            "description": "One of: pirate, regular",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "prefs/calendarFeedEnabled",
            "in": "query",
            "description": "Determines whether the calendar feed is enabled or not.",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "labelNames/green",
            "in": "query",
            "description": "Name for the green label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "labelNames/yellow",
            "in": "query",
            "description": "Name for the yellow label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "labelNames/orange",
            "in": "query",
            "description": "Name for the orange label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "labelNames/red",
            "in": "query",
            "description": "Name for the red label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "labelNames/purple",
            "in": "query",
            "description": "Name for the purple label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "labelNames/blue",
            "in": "query",
            "description": "Name for the blue label. 1 to 16384 characters long",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      },
      "delete": {
        "tags": [],
        "summary": "Delete a Board",
        "description": "Delete a board.",
        "operationId": "delete-boards-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to delete",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/boards/{id}/{field}": {
      "get": {
        "tags": [],
        "summary": "Get a field on a Board",
        "description": "Get a single, specific field on a board",
        "operationId": "get-boards-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "field",
            "in": "path",
            "description": "The field you'd like to receive. Valid values: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/boards/{boardId}/actions": {
      "get": {
        "tags": [],
        "summary": "Get Actions of a Board",
        "description": "",
        "operationId": "get-boards-id-actions",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A comma-separated list of [action types](https://developer.atlassian.com/cloud/trello/guides/rest-api/action-types/).",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/boards/{id}/cards/{idCard}": {
      "get": {
        "tags": [],
        "summary": "Get a Card on a Board",
        "description": "Get a single Card on a Board.",
        "operationId": "get-boards-id-cards-idcard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "idCard",
            "in": "path",
            "description": "The id the card to retrieve.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/boards/{boardId}/boardStars": {
      "get": {
        "tags": [],
        "summary": "Get boardStars on a Board",
        "description": "",
        "operationId": "get-boards-id-boardstars",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Valid values: mine, none",
            "required": false,
            "schema": { "type": "string", "default": "mine" }
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [{ "$ref": "#/components/schemas/BoardStars" }]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/boards/{id}/checklists": {
      "get": {
        "tags": [],
        "summary": "Get Checklists on a Board",
        "description": "Get all of the checklists on a Board.",
        "operationId": "boards-id-checklists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "deprecated": false,
[...]
