@import "../../../Common/Common.scss";
.container {
  padding: 0;
}

.migration_disclaimer {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgb(236, 61, 61);
}
.tableContainer {
  overflow: auto;
  //margin-top: 25px;
}

.schemaWrapper {
  background: #FFF3D5;
  width: 100%;
  .schemaSidebarSection {
    display: inline-block;
    width: 60%;
  }
}

.aceBlock {
  max-height: 300px;
  position: relative;
  margin-top: 10px;
}

.aceBlockExpand {
  position: absolute;
  top: -25px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

.viewRowsContainer {
  border-left: 1px solid #ddd;
}

.cellExpand {
  transform: rotate(-45deg);
  cursor: pointer;
  top: -5px;
  left: 0px;
  right: 0px;
}

.cellCollapse {
  cursor: pointer;
  top: -5px;
  left: 0px;
  right: 0px;
  padding-right: 5px;
}

.insertContainer {
  button {
    margin: 0 10px;
  }
  label.radioLabel {
    padding-top: 0;
    input[type="radio"] {
      margin-top: 10px;
    }
  }
  span.radioSpan {
    line-height: 34px;
  }
}

.table {
  width: auto;
  thead {
    background: #333;
    color: #ddd;
  }
  th {
    min-width: 100px;
    font-weight: 300;
  }
  td {
    max-width: 300px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.expandable {
  color: #779ecb;
  text-decoration: underline;
}

a.expanded {
  color: red;
}

.expandable:hover {
  background: #eee;
  transition: 0.2s;
  cursor: pointer;
}

.tableNameInput {
  width: 300px;
}
.addCol {
  .input {
    width: 300px;
    display: inline-block;
  }
  .inputCheckbox {
    width: auto;
    display: inline-block;
    padding-left: 20px;
    margin: 0px 20px;
    box-shadow: none;
  }
  .inputDefault
  {
    width: 150px;
    margin: 0px 20px;
    display: inline-block;
  }
  .remove_ul_left
  {

  }
  .select {
    display: inline-block;
    width: 300px;
    height: 34px;
  }
  .selectWidth {
    width: 200px;
  }
  .defaultWidth {
    width: 200px;
    margin-right: 0px;
  }
  i:hover {
    cursor: pointer;
    color: #B85C27;
    transition: 0.2s;
  }
}

.insertBox {
  min-width: 270px;
}

.insertBoxLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sqlBody {
}

.tablesBody {
  padding-top: 20px;
}

.count {
  margin-top: 15px;
}

.addTablesBody {
  padding-top: 20px;
  padding-bottom: 30px;
}

.dataBreadCrumb {
  padding-bottom: 10px;
}

.tableCellCenterAligned {
  text-align: center;
}

.tableCellCenterAlignedExpanded {
  text-align: center;
  white-space: normal;
}
