# Direct dependencies go here.
# Regenerate requirements.txt by running `make server/tests-py/requirements.txt`.

croniter
cryptography == 3.*  # later versions require Rust support
graphene == 2.*  # v3 has changed the API
graphql-core
jsondiff
psycopg2-binary
PyJWT == 2.3.*  # v2.4 disallows the key format we use
pytest == 6.2.5
pytest-durations
pytest-fixture-order
pytest-xdist
PyYAML
redis
requests
ruamel.yaml
sqlalchemy == 1.*  # v2 changes the API
websocket-client == 0.56.0  # 0.58.0 and above changed the function signatures of callbacks
