aniso8601==3.0.2
apipkg==1.5
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
execnet==1.6.0
graphene==2.1.3
graphql-core==2.1
graphql-relay==0.4.5
idna==2.8
importlib-metadata==0.17
jsondiff==1.1.2
more-itertools==7.0.0
pluggy==0.12.0
promise==2.2.1
psycopg2-binary==2.8.2
py==1.8.0
pycparser==2.19
PyJWT==1.7.1
pytest==4.5.0
pytest-forked==1.0.2
pytest-xdist==1.28.0
PyYAML==5.1
requests==2.22.0
Rx==1.6.1
six==1.12.0
SQLAlchemy==1.3.4
urllib3==1.25.3
wcwidth==0.1.7
websocket-client==0.56.0
zipp==0.5.1
