.title {
  padding: 24px;
}

.max_width_80 {
  max-width: 80%;
}
.max_width_90 {
  max-width: 90%;
}

.top {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  h5 {
    margin-left: 20px;
    font-weight: 700;
  }
}

.form_section {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  form {
    padding: 0 20px 20px;
  }
}

.form_group {
  margin-bottom: 20px;
  .form_container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    .disabled_cover {
      position: absolute;
      content: '';
      background-color: #838282;
      z-index: 1;
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
      padding: 10px;
      display: block;
      cursor: not-allowed;
    }
  }
  .disabled_text {
    color: red;
    margin-top: 5px;
    text-align: right;
  }
}

.left {
  h5 {
    font-weight: 700;
  }
}

.right {
  display: grid;
  .radio_group {
    display: flex;
    justify-content: flex-end;
    & > * {
      margin-right: 20px;
    }

    input[type='radio'] {
      margin-right: 4px;
      margin-top: 0;
    }
  }
}

.hiddenInput {
  display: none;
}

.legend {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 8px;
  padding-left: 0px;
}

.special_input {
  width: unset;
  justify-self: flex-end;
}

.margin_right {
  margin-right: 8px;
}

.unique_params {
  display: grid;
  margin-top: 8px;
}

.enable_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

.padding_left_sm {
  padding-left: 10px;
}

.form_footer {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.form_justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox_group {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;

  input[type='checkbox'] {
    margin: 0;
  }
}
