@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../Common/Common.scss';

@font-face {
  font-family: arcadeClassic;
  src: url(https://storage.googleapis.com/hasura-graphql-engine/console/assets/ARCADECLASSIC.ttf);
}

.container {
  position: relative;
}

.phantom {
  display: block;
  padding: 14.5px 10px;
  height: 17.5px;
  width: 100%;
}

.updateBannerWrapper {
  position: fixed;
  right: 0;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  text-align: center;
  background-color: #ffc627;
  color: #43495a;
  padding: 14.5px 10px;

  .updateBanner {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #43495a;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .updateBannerClose {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

  .versionUpdateText {
    font-weight: bold;
    padding: 0px 5px;
  }

  .updateLink {
    font-weight: bold;
  }

  .middot {
    line-height: 0;
    font-size: 20px;
    padding: 0px 10px;
  }
}

.header_logo_wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  border-right: 1px solid #788095;
  width: 20%;
  height: 100%;

  .logoParent {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    .logo {
      display: inline-block;
      // margin-right: 6px;

      a {
        img {
          width: 100px;
        }
      }
    }

    &.collapsed {
      padding: 10px 10px !important;
    }
  }
}

.project_version {
  font-family: Gudea;
  color: #fff;
  text-transform: lowercase;
  display: inline-block;
  padding-left: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  padding-top: 6px;
}

.clusterInfoWrapper {
  width: auto;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}

.clusterInfoWrapper {
  .dropdown_menu {
    left: inherit;
    right: 0;

    li {
      a {
        padding: 6px 15px;
      }
    }

    hr {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

.sidebar {
  color: #dedede;
  background-color: #43495a;
  font-family: 'Gudea';
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  min-width: $minContainerWidth;
  z-index: 100;

  hr {
    margin: 0 auto;
    width: 80%;
    border-top-color: #aaa;
    opacity: 0.8;
  }

  .navigation_wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebarItems {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    width: auto;
    padding-top: 5px;

    a,
    a:visited {
      color: #dedede;
    }

    li {
      transition: color 0.5s;
      font-size: 14px;
      letter-spacing: 1px;
      height: 100%;
      margin-left: 20px;

      p {
        padding-left: 5px;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0 0 0px;
        line-height: 1;
      }

      a {
        margin: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 4px solid transparent;
        padding: 0 10px;
        height: 100%;
        text-decoration: none;
      }
    }

    .navSideBarActive {
      border-bottom: 4px solid #ffc627;

      svg,
      p {
        color: #ffc627;
      }
    }

    li:hover {
      // color: $navbar-inverse-link-hover-color;
      // background: #444;
      transition: color 0.5s;
      cursor: pointer;
    }
  }
}

.main {
  padding: 0;
  // width: 100vw;
  min-width: $minContainerWidth;
  background-color: #f8fafb;
  clear: both;
  font-family: 'Gudea';
  // color: #767E93;
  color: #4d4d4d;
  padding-top: 50px;
}

.borderBottom {
  border-bottom: 1px solid #788095;
}

.supportSection {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;

  .helpSection {
    &:hover {
      opacity: 0.7;
      font-weight: 600;
    }
  }
}

.helpSection {
  display: flex;
  align-items: center;
  // background-color: #22283b;
  padding: 0 15px;
  position: relative;

  .selected {
    bottom: 0;
    background: #ffc627;
    position: absolute;
    z-index: 999999999;
    height: 4px;
    width: 100%;
    left: 0px;
  }
}

.settingsIcon {
  // background: #5668a4;
  height: 100%;

  a {
    text-decoration: none;
  }
}

.shareSection {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 23px;
  }
}

.pixelText {
  font-family: arcadeClassic;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 1px;

  padding-top: 0;
  color: #606060;
  font-size: 15px;
}

.pixelText1 {
  font-family: arcadeClassic;
  font-size: 14px;
  padding-left: 0px !important;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: left;
  line-height: 1.8;
  letter-spacing: 1px;
}

.help_dropdown_menu {
  top: 43px;
  right: 53px;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  .help_dropdown_menu_container {
    width: 300px;
    float: right;
    background-color: #43495a;
    padding: 15px;
    position: relative;
  }

  li {
    display: block;
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    color: #fff;
    padding: 5px 0;

    .displayBlock {
      display: inline-block !important;
    }

    a {
      color: #fff;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
      }
    }

    a:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

.help_dropdown_menu_heart_dismissed {
  right: 0;
}

.dropdown_menu {
  top: 43px;
  right: 0px;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  .dropdown_menu_container {
    width: 490px;
    float: right;

    // background-color: #0038d5;
    background-color: #fff;
    border: #43495a 2px dashed;
    border-top: 0;
    border-right: 0;
    color: #f24444;

    padding: 25px;
    position: relative;
  }

  .displayFlex {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  li {
    display: block;
    color: #f24444;
    text-transform: none;
    padding: 0px 15px;
    display: inline-block;
    padding-bottom: 0;
    font-weight: 300;

    a {
      color: #fff;
    }

    a:hover {
      color: #fff;
    }

    .socialIcon {
      width: 90px;
      height: 90px;
      border: 2px solid #fff;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .gitHubBtn {
      height: 20px;
    }
  }
}

.overlappingExclamation {
  position: relative;
  font-size: 12px;
  bottom: 5px;
  right: 2px;
  color: #d9534f;
}

.iconWhiteBackground {
  width: 5px;
  background-color: #dedede;
  height: 7px;
  position: absolute;
  top: 2px;
  left: 4px;
  z-index: -1;
}
/* PRO popup section */
.proWrapper {
  position: relative;
  .proName,
  .proNameClicked {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .proName {
    color: #1cd3c6;
  }
  .proNameClicked {
    color: #fff;
  }
  .proPopUpWrapper {
    position: absolute;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    position: absolute;
    width: 540px;
    z-index: 1;
    top: 60px;
    right: -35px;
    text-transform: none;
    overflow: auto;
    max-height: calc(100vh - 80px);
    .popUpHeader {
      font-size: 20px;
      font-weight: bold;
      color: #001934;
      background-color: #f8f8f8;
      padding: 20px 24px;
      border-bottom: 1px solid #ddd;
      span {
        color: #1cd3c6;
      }
      .popUpClose {
        position: absolute;
        top: 28px;
        right: 24px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .popUpBodyWrapper {
      padding: 24px 24px;
      padding-bottom: 0;
      .featuresDescription {
        padding-bottom: 24px;
        font-size: 15px;
        color: #303030;
        font-weight: normal;
      }
      .proFeaturesList {
        display: flex;
        .featuresImg {
          padding-right: 14px;
        }
        .featuresList {
          .featuresTitle {
            font-size: 15px;
            font-weight: bold;
            color: #303030;
            padding-bottom: 8px;
          }
          .featuresDescription {
            opacity: 0.6;
          }
        }
      }
    }
    .popUpFooter {
      border-top: 1px solid #ddd;
      padding: 20px 24px;

      a {
        color: #ff3264;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #ff3264;
        }
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }
      .arrow {
        margin-left: 8px;
        margin-top: -2px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .helpSection {
    font-size: 12px;
  }

  .proWrapper {
    .proName,
    .proNameClicked {
      font-size: 12px;
    }
  }
}

@media (max-width: 1350px) {
  .sidebar {
    .sidebarItems {
      li {
        margin-left: 15px;

        a {
          padding: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .updateBannerWrapper {
    p,
    i,
    span,
    a {
      font-size: 12px;
      padding-bottom: 0;
    }

    #server-version {
      padding-bottom: 0;
    }
  }
}
