@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../Common/Common.scss";

@font-face {
    font-family: arcadeClassic;
    src: url(https://storage.googleapis.com/hasura-graphql-engine/console/assets/ARCADECLASSIC.ttf);
}

.container {
  position: relative;
}

.flexRow {
  // display: flex;
}

.phantom {
  display: block;
  padding: 14.5px 10px;
  height: 17.5px;
  width: 100%;
}

.updateBannerWrapper {
    position: fixed;
    right: 0;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    text-align: center;
    background-color: #FFC627;
    color: #43495a;
    padding: 14.5px 10px;

  .updateBanner {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #43495a;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .updateBannerClose {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

  .versionUpdateText {
    font-weight: bold;
    padding: 0px 5px;
  }

  .updateLink {
    font-weight: bold;
  }

  .middot {
    line-height: 0;
    font-size: 20px;
    padding: 0px 10px;
  }
}

.add_btn {
  margin: 10px 0;
}

.account {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 26px;
}

.serviceIcon {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

.header_items {
  width: 50%;
}

.header_logo_wrapper {
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid #788095;
  display: inline-block;
  width: 20%;

  .logoParent {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    .logo {
      display: inline-block;
      // margin-right: 6px;

      a {
        img {
          width: 100px;
        }
      }
    }

    &.collapsed {
      padding: 10px 10px !important;
    }
  }
}

.project_version {
  font-family: Gudea;
  color: #fff;
  text-transform: lowercase;
  display: inline-block;
  padding-left: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 300;
  padding-top: 6px;
}

.toggleSidebar {
  position: absolute;
  color: #fff;
  background-color: #43495a;
  right: -25px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #43495a;
  z-index: 1;
}

.clusterInfoWrapper {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  position: relative;

  .clusterBtn {
    background-color: transparent;
    color: #DEDEDE;
    font-weight: 700;
    pointer-events: none;

    .caret {
      margin-left: 15px;
      border-top: 6px dashed;
      border-top: 6px solid \9;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
  }

  .clusterInfoMenu {
    min-width: 250px;
    right: 0;
    left: unset;
    top: 38px;

    li {
      text-transform: none;
      padding: 6px 15px;
      color: #333;
      font-weight: 400;
    }
  }
}

.setting_wrapper {
  position: fixed;
  right: 20px;
  cursor: pointer;
  z-index: 101;
}

.setting_wrapper, .clusterInfoWrapper {
  .setting_dropdown {
    .dropdown_menu {
      left: inherit;
      right: 0;

      li {
        a {
          padding: 6px 15px;
        }
      }

      hr {
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
}

.bubble {
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 15px 60px;
    color: #fff;
    background-color: #FEC53D;
    -webkit-animation: pulse 1s ease infinite;
    -moz-animation: pulse 1s ease infinite;
    -ms-animation: pulse 1s ease infinite;
    -o-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
}

.onBoardingHighlight {
  position: absolute;
  z-index: 1001;

  .focusDiv {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-weight: bold;
  }

  .onBoardingHighlightCallOut {
    position: absolute;
    width: 21px;
    height: 21px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #4D4D4D;
  }

  .onBoardingDataFocus {
    top: -5%;
    left: 15%;
  }

  .onBoardingAuthFocus {
    top: -5%;
    left: 15%;
  }

  .onBoardingAuthUserFocus {
    bottom: -5%;
    left: 15%;
  }

  .onBoardingTableFocus {
    top: 10%;
    left: -5px;
  }

  .onBoardingPanelFocus {
    top: 15%;
    left: -3%;
  }

  .onBoardingBuilderFocus {
    top: 93%;
    left: 15%;
  }

  .onBoardingSendFocus {
    top: -5%;
    left: 19%;
  }

  .onBoardingCodeFocus {
    bottom: -7%;
    left: 15%;
  }

  .onBoardingNoFocus {
    top: 10px;
    left: 10px;
  }

  .onBoardingDocsLink {
    a {
      color: #fff;
    }
  }

  .onBoardingHighlightInterior {
    background-color: #4D4D4D;
    position: relative;
    width: 300px;
    border-radius: 5px;
    padding: 15px;
    color: #fff;
  }
}

.onBoardingPanelPosition {
  left: 20%;
  top: 126px;
}

.onBoardingBuilderPosition{
  left: 45%;
  top: 320px;
}

.onBoardingSendPosition {
  left: 26%;
  top: 450px;
}

.onBoardingCodePosition {
  left: 63%;
  top: 230px;
}

.onBoardingNoFocusPosition {
  left: 80%;
  top: 80%;
}

.mainBox {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50%;
  min-width: 720px;
  left: 50%;
  // border: 1px solid black;
  border-radius: 2px;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

  .yellow_button {
    padding: 15px 60px;
    font-size: 15px;
    font-weight: 600;
  }

  .subheading_text {
    font-size: 45px;
    font-family: 'Gudea';
    font-weight: 400;
  }

  .description {
    font-size: 16px;
    font-family: 'Gudea';
    font-weight: 400;
    padding-bottom: 10px;
  }

  .welcomeText {
    font-size: 25px;
    font-family: 'Gudea';
    font-weight: 400;
    color: #FEC53D;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .welcomeSubText {
    padding-bottom: 10px;
    text-align: left;
  }

  .smallDescription {
    font-size: 12px;
    font-family: 'Gudea';
    font-weight: 400;
    padding-bottom: 20px;

    a {
      cursor: pointer;
    }
  }

  .mainBoxListWrapper {
    -webkit-padding-start: 0;
    padding-left: 150px;

    li {
      list-style-type: none;
      text-align: left;

      i {
        padding-right: 10px;
      }
    }
  }
}

.headerOnBoarding {
  opacity: 0.1;
  pointer-events: none;
}

.sidebar {
  color: #DEDEDE;
  background-color: #43495a;
  font-family: 'Gudea';
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  min-width: $minContainerWidth;
  z-index: 100;

  hr {
    margin: 0 auto;
    width: 80%;
    border-top-color: #aaa;
    opacity: 0.8;
  }

  .sidebarItems {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 16px;

    a,a:visited {
      color: #DEDEDE;
    }

    a:hover {
      color: #DEDEDE;
    }

    li {
      transition: color 0.5s;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;

      p {
        padding-left: 5px;
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0 0 0px;
      }

      a {
        margin: 0px 0px;
        display: block;
        margin-left: 20px;
        border-bottom: 4px solid transparent;
        padding: 0 10px;
        padding-bottom: 10px;

        .iconCenter {
          display: inline-block;
          width: 20px;
          text-align: center;

          i {
            width: 20px;
            display: inline-block;
          }
        }
      }

      .serviceLink {
        display: inline-block;
        width: 80%;
        margin: 10px 0px;
      }

      .expandArrow {
        text-align: center;
        width: 20%;
        display: inline-block;
        float: right;

        i {
          font-size: 14px;
        }

        a {
          margin: 0 0;
          padding: 10px;
          cursor: pointer;
        }

        .sidebar_dropdown {
          left: -1px;
          right: inherit;
          top: inherit;
          width: 250px;
          box-shadow: none;
          border-radius: 0;
          background-color: #515766;

          li {
              a {
                padding: 6px 15px;
              }
            }

            hr {
              margin-top: 6px;
              margin-bottom: 6px;
            }
        }
      }

      .expandArrow:hover {
        background-color: grey;
      }
    }

    .serviceList {
      display: flex;
      align-items: center;
    }

    .navSideBarActive {
      border-bottom: 4px solid #FFC627;

      i {
        color: #FFC627;
      }

      p {
        color: #FFC627;
      }
    }

    li:hover {
      // color: $navbar-inverse-link-hover-color;
      // background: #444;
      transition: color 0.5s;
      pointer: cursor;
    }
  }
}

.sidebarCollapsed {
  max-width: 50px !important;
  min-width: 50px !important;

  ul {
    li {
      p {
        display: none !important;
      }

      a {
        .iconCenter {
          i {
            font-size: 20px;
            margin-left: -20px;
          }
        }
      }
    }
  }
}

.header {
  background: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  height: 50px;
  text-align: right;
  padding: 0;
  padding-right: 15px;

  img {
    height: 50px;
    float: left;
  }

  .headerItem {
    display: inline-block;
    color: $navbar-inverse-color;
    line-height: 15px;
    font-size: 15px;
    padding: 17.5px 15px;
    cursor: pointer;
  }

  .headerItem:hover {
    display: inline-block;
    color: $navbar-inverse-link-hover-color;
    transition: color 0.5s;
  }

  .headerItem:hover * {
    color: $navbar-inverse-link-hover-color;
    transition: color 0.5s;
  }

  .headerItem * {
    color: $navbar-inverse-color;
  }
}

.main {
  padding: 0;
  // width: 100vw;
  min-width: $minContainerWidth;
  background-color: #f8fafb;
  clear: both;
  font-family: 'Gudea';
  // color: #767E93;
  color: #4D4D4D ;
  padding-top: 50px;
}

.mainCollapsed {
  width: calc(100vw - 50px) !important;
}

.fixBottom {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 10px;
}

.headings {
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projectStatus {
  padding: 15px 0;
  padding-left: 20px;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
}

.statusValue {
  width: 15%;
  display: inline-block;
  cursor: pointer;
}

.statusHeading {
  padding-right: 5px;
  display: inline-block;
}

.detailButton {
  display: inline-block;
  padding-left: 5px;

  button {
    background-color: transparent;
    border-radius: 5px;
    color: #DEDEDE;
    border: 1px solid #DEDEDE;
    padding: 4px 10px;
  }
}

.statusOk {
  color: green;
}

.statusNotOk {
  color: red;
}

.logoHeading {
  display: inline-block;
  float: left;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.separator {
  border-bottom: 1px solid #788095;
}

.exploreContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.exploreBlock {
  border: 1px solid #eee;
  height: auto;
  // margin: 0 12px 24px 12px;

  img {
    width: 100%;
  }

  .exploreHeading {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }

  .exploreText {
    padding: 10px;
  }

  .exploreDocs {
    padding: 10px;
    float: left;
    text-decoration: underline;
  }

  .exploreBtn {
    float: right;
    padding-bottom: 10px;
  }

}

.exploreDisabled {
  // opacity: 0.2;
}

.exploreSidebar {
  box-shadow: -3px 7px 14px 0px rgba(222,222,222,1);
  float: right;
  width: 260px;
  // background: beige;
  background: white;
  color: black;
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  position: fixed;
  right: 0px;
  z-index: 12;
  font-family: 'Gudea';

  p {
    font-size: 16px;
    padding-top: 5px;
    color: #AAAAAA;
  }

  .exploreSidebarHeading {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
  }

  .exploreSidebarTask {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #272B36;
  }

  .exploreSidebarDescription {
    font-size: 16px;
    padding-top: 10px;
    color: #272B36;
    height: calc(100vh - 260px);
    overflow-y: auto;

    ol li {
      padding-bottom: 20px;
    }

    a {
      button {
        width: 105px;
        text-align: center;
        padding: 7px 0;
      }
    }

    button {
      width: 105px;
      text-align: center;
      padding: 7px 0;
    }
  }

  .exploreTaskDisabled {
    // opacity: 0.1;
  }

  .progressBtn {
    float: right;
    padding-top: 10px;

    button {
      width: 105px;
      text-align: center;
      padding: 7px 0;
    }
  }

  .progressText {
    font-weight: bold;
    text-align: center;
  }

  .closeBtn {
    float: right;
    padding: 5px;
    cursor: pointer;

    i {
      color: #AAAAAA;
    }
  }

  .tryOutBtn {
    padding-top: 10px;
    padding-right: 10px;
    display: block;
    float: left;
  }
}

.notificationCount {
    position: absolute;
    top: 0px;
    right: 25px;
    background-color: #FF993A;
    width: 14px;
    font-size: 10px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.exploreSidebar.minimised {
  height: 69px;
  overflow: hidden;
  bottom: 20px;
}

.spreadWord {
  display: flex;
  align-items: center;

  .yellow_button {
    border-radius: 20px;
    margin-right: 20px;

    i {
      padding-top: 0px;
    }
  }
}

.question {
  display: flex;
  color: #fff;
  cursor: pointer;
  align-items: center;
  padding: 3px;
}

.heart {
  display: inline-block;

  i {
    font-size: 20px;
    // color: #fb5f5f;
    color: #fff;
  }
}

.borderBottom {
  border-bottom: 1px solid #788095;
}

.supportSection {
  cursor: pointer;

  .helpSection {
    &:hover {
      opacity: 0.7;
      font-weight: 600;
    }
  }
}

.helpSection {
  display: flex;
  align-items: center;
  // background-color: #22283b;
  padding: 15px;
  position: relative;

  .selected {
    bottom: 0;
    background: #FFC627;
    position: absolute;
    z-index: 999999999;
    height: 4px;
    width: 100%;
    left: 0px;
  }
}

.settingsIcon {
  // background: #5668a4;

  a {
    text-decoration: none;
  }
}

.shareSection {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  img {
    width: 23px;
  }
}

.secureSection {
  // background-color: #545a6c;

  padding: 15px;

  a {
    color: white;
    text-decoration: none;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale( .75 );
  }

  20% {
    transform: scale( 1 );
  }

  40% {
    transform: scale( .75 );
  }

  60% {
    transform: scale( 1 );
  }

  80% {
    transform: scale( .75 );
  }

  100% {
    transform: scale( .75 );
  }
}

.graphqlHeartText {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  text-align: center;
}

.pixelText {
  font-family: arcadeClassic;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
  letter-spacing: 1px;

  padding-top: 0;
  color: #606060;
  font-size: 15px;
}

.pixelText1 {
  font-family: arcadeClassic;
  font-size: 14px;
  padding-left: 0px !important;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: left;
  line-height: 1.8;
  letter-spacing: 1px;
}

.help_dropdown_menu {
  top: 43px;
  right: 53px;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  .help_dropdown_menu_container {
    width: 300px;
    float: right;
    background-color: #43495a;
    padding: 15px;
    position: relative;
  }

  li {
    display: block;
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
    color: #fff;
    padding: 5px 0;

    .displayBlock {
      display: inline-block !important;
    }

    a {
      color: #fff;
      display: flex;
      align-items: center;

      img {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
      }
    }

    a:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
}

.help_dropdown_menu_heart_dismissed {
  right: 0;
}

.dropdown_menu {
  top: 43px;
  right: 0px;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  .dropdown_menu_container {
    width: 490px;
    float: right;

    // background-color: #0038d5;
    background-color: #FFF;
    border: #43495a 2px dashed;
    border-top: 0;
    border-right: 0;
    color: #f24444;

    padding: 25px;
    position: relative;

    .closeDropDown {
      color: #43495a;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 20px;

      img {
        width: 10px;
      }
    }
  }

  .arrow_up_dropdown {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #43495a;
    position: absolute;
    top: -5px;
    right: 10px;
  }

  .displayFlex {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  li {
    display: block;
    color: #f24444;
    text-transform: none;
    padding: 0px 15px;
    display: inline-block;
    padding-bottom: 0;
    font-weight: 300;

    a {
      color: #fff;
    }

    a:hover {
      color: #fff;
    }

    .socialIcon {
      width: 90px;
      height: 90px;
      border: 2px solid #fff;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .gitHubBtn {
      height: 20px;
    }
  }
}

.twitterShare {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  margin-left: 10px;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;

  button {
    background-color: #1b95e0;
    padding: 5px;
    letter-spacing: 0.4px;
    border: 0;
  }
}

.telemetryNotification {
  background-color: red;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 0px;
}

.overlappingExclamation {
  position: relative;
  font-size: 12px;
  bottom: 5px;
  right: 2px;
  color: #d9534f;
}

.iconWhiteBackground {
  width: 5px;
  background-color: #dedede;
  height: 7px;
  position: absolute;
  top: 2px;
  left: 4px;
  z-index: -1;
}
