.ReactTable
{
  border: 0;
}
.ReactTable .-pagination .-btn {
  height: 35px !important;
  width: 40%;
  display: inline-block;
  font-weight: bold;
}
.ReactTable .rt-thead {
  font-size: 16px;
  color: #333;
  background-color: #ddd;
  cursor: pointer;
}
.ReactTable .rt-thead .rt-resizable-header-content {
  font-weight: bold;
}
.ReactTable .rt-thead.-header {
  box-shadow: none;
}
.ReactTable .-pagination {
  box-shadow: none;
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 10px !important;
}

.ReactTable .rt-table .rt-thead .rt-tr .rt-th {
  background-color: #f2f2f2 !important;
  color: #4d4d4d;
  font-weight: 600 !important;
  border-bottom: 2px solid #ddd;
}

.ReactTable .rt-table .rt-thead .rt-tr .rt-th:first-child {
  flex: 24 0 auto !important;
  min-width: 150px;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr.-odd .rt-td:first-child {
  flex: 24 0 auto !important;
  min-width: 150px;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr.-even .rt-td:first-child {
  flex: 24 0 auto !important;
  min-width: 150px;
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr.-odd:hover {
  background-color: #ebf7de;
}

.ReactTable .rt-table .rt-tbody {
  margin-bottom: 10px;
  border: solid 1px rgba(0,0,0,0.05);
  min-width: fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: -webkit-fit-content !important;
  min-width: -o-fit-content !important;
}
.ReactTable .rt-table .rt-thead {
  min-width: fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: -webkit-fit-content !important;
  min-width: -o-fit-content !important;
  border-right: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
}
.ReactTable .rt-tbody .rt-tr-group:last-child {
    border-bottom: solid 1px rgba(0,0,0,0.05);
}

.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr.-even:hover {
  background-color: #ebf7de;
}

.ReactTable .rt-table .rt-tbody {
  overflow-x: hidden !important;
  min-width: fit-content !important;
}

.ReactTable .rt-thead [role='columnheader'] {
  outline: 0;
}
