alabaster==0.7.12
algoliasearch==1.17.0
argh==0.26.2
Babel==2.6.0
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
docutils==0.14
fett==0.3.2
future==0.16.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
livereload==2.5.2
MarkupSafe==1.0
pathtools==0.1.2
port-for==0.4
Pygments==2.2.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-file==1.4.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-autobuild==0.7.1
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-swaggerdoc==0.1.7
sphinxcontrib-websupport==1.1.0
tornado==5.1.1
urllib3==1.23
watchdog==0.9.0
sphinx_tabs==1.1.7
