alabaster==0.7.10
algoliasearch==1.13.0
argh==0.26.2
Babel==2.5.1
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
docutils==0.14
fett==0.3.2
future==0.16.0
idna==2.6
imagesize==0.7.1
Jinja2==2.10.1
livereload==2.5.1
MarkupSafe==1.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.2.0
pytz==2017.2
PyYAML==4.2b1
requests-file==1.4.2
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
sphinx-autobuild==0.7.1
Sphinx==1.6.5
sphinx_tabs==1.1.7
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-swaggerdoc==0.1.7
sphinxcontrib-websupport==1.0.1
sphinxcontrib-images==0.7.0
tornado==4.5.2
urllib3==1.24.2
watchdog==0.8.3
