@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body
{
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}
.app {
  text-align: left;
}

.messageOdd {
  font-size: 30px;
  padding-left: 5px;
}

.messageEven {
  font-size: 30px;
  background-color: #eee;
  padding-left: 5px;
}

.newMessageEven {

  font-size: 30px;
  background-color: #98FB98;
  padding-left: 5px;
}

.newMessageOdd {
  font-size: 30px;
  background-color: #8FBC8F;
  padding-left: 5px;
}
.messageWrapper
{
  padding-bottom: 15px;
}

.messageWrapperNew
{
  padding-bottom: 75px;
}

.banner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: green;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  font-family: 'raleway';
}

.oldNewSeparator {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.chatbox {
  margin: 10px;
  margin-bottom: 5px;
}

.textboxWrapper {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 98%;
  background-color: #eee;
  padding: 1%;
  border-top: 1px solid #ececec;
}

.textbox {

}
.sendButton {
  width: 20%;
}

.login {
  text-align: center;
}

.loginTextbox {
  font-size: 16px;
  height: 43px;
  width: 70%;
  margin-right: 3%;
  font-weight: 300;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 0;
  padding-left: 10px;
  display: inline-block;
}
.loginTextbox:focus
{
  outline: none;
  border-color: #016d95;
}
.loginButton {
  height: 45px;
  width: 20%;
  display: inline-block;
  border-radius: 5px;
  background-color: #e3e3e3;
  cursor: pointer;
  font-size: 16px;
}
.loginButton:hover
{
  background-color: #f6f6f6;
}
.loginHeading {
  text-align: center;
  font-family: 'Raleway';
  margin-top: 0;
  padding-bottom: 20px;
}
.loginWrapper
{
  width: 450px;
  padding: 30px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #f6f6f6;
}
