.helpful-wrapper {
  margin: 40px 0;
}
.helpful-wrapper h4 {
  color: rgb(27, 39, 56);
  text-align: center;
}
.helpful-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}
.helpful-icon-wrapper .helpful-icon {
  margin: 0 12px;
  cursor: pointer;
  display: flex;
}
.helpful-icon-wrapper .helpful-icon.active svg path, .helpful-icon-wrapper .helpful-icon.active svg circle {
  stroke: #0079BD;
}
