.helpful-wrapper {
  margin: 40px 0;

  h4 {
    color: rgb(27, 39, 56);
    text-align: center;
  }
}

.helpful-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;

  .helpful-icon {
    margin: 0 12px;
    cursor: pointer;
    display: flex;

    &.active svg {
      path, circle {
        stroke: #0079BD;
      }
    }
  }
}