.helpful-wrapper {
  margin: 40px 0;

  h4 {
    color: var(--ifm-color-content-secondary);
    text-align: center;
  }
}

.helpful-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;

  .helpful-icon {
    margin: 0 12px;
    display: flex;
    svg {
      path, circle {
        stroke: var(--ifm-color-content-secondary);
      }
    }
    &.active svg {
      path, circle {
        stroke: var(--ifm-link-color);
      }
    }
    &.no_response {
      cursor: pointer;
    }
  }
}
