@import '../../../Common/Common.scss';

.notificationButton {
  border-radius: 2px;
  padding: 6px 20px;
  font-weight: bold;
  margin: 10px 0px 0px;
  border: 0px;
}

.notificationButton__warning {
  @extend .notificationButton;
  background: rgb(235, 173, 26);
  color: rgb(255, 255, 255);
}

.notificationButton__error {
  @extend .notificationButton;
  background: rgb(236, 61, 61);
  color: rgb(255, 255, 255);
}

.notificationButton__info {
  @extend .notificationButton;
  background: rgb(54, 156, 199);
  color: rgb(255, 255, 255);
}

.notificationButton__success {
  @extend .notificationButton;
  background: rgb(94, 164, 0);
  color: rgb(255, 255, 255);
}
