@import url('https://fonts.googleapis.com/css?family=Gudea');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body
{
  font-family: 'Gudea';
  font-size: 16px;
}
p
{
  font-family: 'Gudea';
  font-size: 16px;
}
.head_wrapper
{
  font-family: 'Quicksand';
  font-size: 30px;
}
.body_content
{
  font-family: 'Gudea';
  font-size: 16px;
}
pre.haskell-pre a {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

td div.highlight {
    margin: 0;
}

h3 code {
}

.wy-plain-list-decimal ol,
.rst-content .section ol ol,
.rst-content ol.arabic ol,
article ol ol {
    margin-bottom: 0;
}

/* **** BEGIN landing.html ******************************* */
p
{
  margin-top: 0;
  margin-bottom: 0;
}
.wd_80
{
  margin: 0 auto;
  width: 80%;
}
.hcl_half {
    width: 50%;
    float: left;
}
.box_wrapper
{
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  min-height: 192px;
  padding: 20px 0;
}
.padd_remove
{
  padding-bottom: 0px !important;
}
.box_head
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.box_head img
{
  width: 40px;
  display: inline-block;
  padding-right: 20px;
}
.box_head h3
{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.box_head p
{
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.box_head p img
{
  width: 20px !important;
  padding-right: 0 !important;
}
.referance_wrapper
{
  text-align: left;
  padding-left: 25px;
}
.box_head .referance_wrapper img
{
  width: 40px;
  display: inline-block;
  padding-right: 20px;
}
.referance_wrapper p
{
  display: inline-block;
}
.box_head .referance_wrapper p img
{
  width: 20px !important;
  padding-right: 0 !important;
}
.common_btn
{
  text-align: center;
  padding-bottom: 20px;
}
.common_btn button
{
  padding: 10px 15px;
  background-color: #cc401b;
  color: #fff;
  border: 1px solid #cc401b;
  transition: background-color 0.5s linear;
}

.common_btn button:hover
{
  background-color: #b22509;
}
/* **** END landing.html ******************************* */

/* Common Header CSS */

.header_wrapper {
  width: 100%;
  background-color: white;
  padding: 20px;
}

.header_wrapper .header_main {
  width: 80%;
}

.input_search_box {
  position: relative;
  margin-left: 30px;
  width: 30%;
}

.input_search_box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  color: #A6A6A5;
}

.input_search_box input {
  box-sizing: border-box;
  text-indent: 30px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #A6A6A5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #F7F7F7;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.header_links {
  margin-left: 10px;
}

.link_element {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.img_wrapper {
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid;
  margin-right: 10px;
}

.logo_img {
  width: 100px;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}
