@import url('https://fonts.googleapis.com/css?family=Gudea');
@import url('https://fonts.googleapis.com/css?family=Khula:400,700');

/* Loader */
.loader {
  border: 1px solid #cc401b;
  border-radius: 50%;
  border-top: 2px solid #cc401b;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.overley_wrapper
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  z-index: 100;
}

.body_content_position
{
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  margin-top: -45px;
  font-weight: 500 !important;
}

.subhead_wrapper_loader
{
	color: #4d4d4d;
	font-size: 20px;
	font-family: 'Khula';
	font-weight: 300;
}

/* End of Loading */

/* Search links */

.no_of_results {
  display: inline;
  color: #CF9C0E;
  font-weight: 600;
}
.search_query {
  color: #CF9C0E;
  font-weight: 600
}
.search_results_anchor {
  text-decoration-color: #CF9C0E;
}

.search_results_description {
  width: 60%;
}

.search_wrapper {
  min-height: 76vh;
}

.search_bullets::before {
  color: #788095;
}
.search_bullets {
  list-style-type: disc;
}

.search_heading {
  color: #788095;
}

/* End of it */

.hide {
  display: none !important;
}
body
{
  font-family: 'Gudea' !important;
  font-size: 16px !important;
  color: #788094 !important;
}
.main_wrapper
{
  background-color: #F8FAFB;
  padding-top: 20px;
}
p
{
  font-family: 'Gudea';
  font-size: 16px;
  color: #788094;
}
.docutils
{
  color: #788094;
}
#docs-content a.reference
{
  color: #FEC53D !important;
}
h3
{
  font-weight: 500;
  margin: 0 0 0 !important;
  margin: 0 !important;
}
#docs-content h1, #docs-content h2, #docs-content h3, #docs-content h4, #docs-content h5, #docs-content h6
{
  font-family: 'Khula';
  font-weight: 600;
  color: #788094;
}
.wd_100
{
  width: 100% !important;
}
.wd_50
{
  width: 50%;
  float: left;
}
.display_flex
{
  display: flex;
  align-items: center;
}
.pad_bottom
{
  padding-bottom: 10px;
}
.wd_26
{
  width: 26%;
  float: left;
}
.wd_33
{
  width: 33.333%;
  float: left;
}
.head_wrapper
{
  font-family: 'Khula';
  font-size: 24px;
  font-weight: 600;
}
.subhead_wrapper
{
  font-family: 'Khula';
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.body_content
{
  font-family: 'Gudea';
  font-size: 15px;
  color: #788094;
}
.small_content
{
  font-family: 'Gudea';
  font-size: 14px;
  color: #788094;
}
.extra_small_content
{
  font-family: 'Gudea';
  font-size: 12px;
  color: #788094;
}
pre.haskell-pre a {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

td div.highlight {
    margin: 0;
}

h3 code {
}

.wy-plain-list-decimal ol,
.rst-content .section ol ol,
.rst-content ol.arabic ol,
article ol ol {
    margin-bottom: 0;
}

/* **** BEGIN landing.html ******************************* */
.content_wrapper {
  margin-top: 40px;
}
p
{
  margin-top: 0;
  margin-bottom: 0;
}
.wd_80
{
  margin: 0 auto;
  width: 80%;
}
.hcl_half {
    width: 50%;
    float: left;
}
.box_wrapper
{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  min-height: 240px;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.box_head_wrapper
{
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.box_head
{
  width: 50%;
  display: flex;
  align-items: center;
}
.box_head img
{
  width: 30px;
  display: inline-block;
  padding-right: 15px;
}
.box_head h3
{
  margin: 0 0 0;
  display: inline-block;
  color: #788094;
}
.view_all_wrapper
{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  color: #FEC53D;
  font-weight: 600;
}
.view_all_wrapper img
{
  display: inline-block;
  width: 12px;
  padding-left: 5px;
}
.view_all_wrapper a
{
  color: #FEC53D !important;
  text-decoration: underline;
}
.space_top_bot
{
  padding: 15px 0;
}
.space_wrapper
{
  padding: 15px 15px;
  padding-bottom: 0;
}
.text_left
{
  text-align: left;
}
.common_btn
{
  padding-top: 10px;
}
.common_btn button
{
  padding: 5px 15px;
  background-color: #FEC53D;
  color: #000;
  border-radius: 5px;
  border: 1px solid #FEC53D;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gudea';
}
.sign_in_wrapper1
{
  text-align: left;
}
.sign_in_wrapper1 .get_start
{
  display: inline-block;
  padding-right: 5px;
}
.sign_in_wrapper1 .common_btn
{
  display: inline-block;
}
.sign_in_wrapper
{
    text-align: left;
    display: flex;
    align-items: center;
}
.tutorial_in_wrapper
{
  display: block;
}
.sign_in_wrapper .get_start
{
  display: inline-block;
  padding-right: 5px;
}
.sign_in_wrapper .common_btn
{
  display: inline-block;
}
.get_start img
{
  width: 25px;
}
.docs_link
{
  display: inline;
  color: #FEC53D;
  font-weight: 600;
  text-decoration: underline;
}
.docs_link img
{
  display: inline-block;
  width: 12px;
  padding-left: 5px;
}
.ref_link
{
  display: inline;
  color: #788094;
  font-weight: 600;
}
.ref_link img
{
  display: inline-block;
  width: 12px;
  padding-left: 5px;
}
.tags_wrapper
{
  width: 100%;
  text-align: left;
}
.tags_btn
{
    text-align: left;
}
.tags_wrapper .tags_btn
{
  padding-right: 10px;
  display: inline-block;
}
.tags_btn button
{
  padding: 2px 7px;
  background-color: #FEECC0;
  color: #DFB653;
  border-radius: 5px;
  border: 1px solid #FEECC0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gudea';
}
/* **** END landing.html ******************************* */

/* Common Header CSS */

.header_wrapper {
  font-family: 'Gudea';
  background-color: white;
  padding: 20px;
}

.header_wrapper .header_main {
  width: 90%;
  margin: 0 auto;
}
.header_wrapper .header_main a
{
  text-decoration: none;
  color: #595959;
  font-weight: 600;
}
.header_wrapper .header_main a:hover
{
  color: #414859;
}
.header_wrapper .header_main a:visited
{
  color: #414859;
}
.input_search_box {
  position: relative;
  margin-left: 25px;
  width: 28%;
}

.input_search_box .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  color: #A6A6A5;
}

.input_search_box input {
  box-sizing: border-box;
  text-indent: 30px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #A6A6A5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #F7F7F7;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.header_links {
  margin-left: 10px;
}

.link_element {
  padding: 5px 10px;
  font-size: 14px;
  color: #6F7279;
  border-bottom: 4px solid transparent;
}
.link_element_active
{
  border-bottom: 4px solid #0B0B0B;
}
.link_element a {
  text-decoration: none;
}

.img_wrapper {
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid;
  margin-right: 10px;
}

.logo_img {
  width: 100px;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

.header_buttons {

}

.indiv_btns {
  background-color: #FEC53D;
  color: #000;
  border-radius: 5px;
  border: 1px solid #FEC53D;
  font-size: 14px;
  font-weight: 600;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  margin-left: 10px;
}
.indiv_btns:focus
{
  outline: none;
}
.indiv_btns.black {
  background-color: white;
  border: 1px solid #8F8F8F;
}

.indiv_btns.login {

}

.indiv_btns.signup {
}

/* End of Header block */

/* Guides page starts here */
.guides_page_wrapper
{
  width: 100%;
  float: left;
}
.guide_box_wrapper
{
  width: 90%;
  margin-bottom: 30px;
  text-align: center;
  min-height: 450px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.guide_box_head
{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.search_box_head
{
  display: flex;
  padding-bottom: 20px;
}
.search_box_head h3
{
  margin: 0 0 0 !important;
}
.search_box_head i
{
  color: #36B37E;
  padding-right: 20px;
  font-size: 20px;
}
.guide_box_head h3
{
  margin: 0;
}
.guide_box_head img
{
  width: 30px;
  display: inline-block;
  padding-right: 15px;
}
.thumnail_image img
{
  max-width: 100%;
}
.guides_list_wrapper
{
  padding: 0 15px;
}
.guides_list_wrapper .tags_wrapper
{
  padding-bottom: 15px;
}
.media_wrapper .wd_50
{
  float: none;
}
.share_wrapper
{
  text-align: right;
  float: right;
}
.share_wrapper button
{
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gudea';
}
.share_wrapper .green_btn
{
  background-color: #fff;
  color: #32A061 !important;
  border: 1px solid #32A061 !important;
}
.share_btn
{
  display: flex;
  align-items: center;
}
.share_wrapper button i
{
  padding-left: 10px;
  width: 13px;
}
.media_wrapper
{
  text-align: left;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.details_media
{
  padding-top: 25px;
  padding-bottom: 0;
}
.media_img_circle
{
  display: inline-block;
  padding-right: 20px;
}
.media_img_circle img
{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.media_name_wrapper
{
  display: inline-block;
}
.media_name_wrapper .small_content
{
  font-weight: 600;
}
.float_right
{
  float: right !important;
  width: 40%;
}
.float_left
{
  float: left !important;
  width: 60%;
}
/* Guides page ends here */
/* Reference Page starts here */
.content_wrapper
{
  display: flex;
  font-family: 'Gudea';
}
#sidebar
{
  background-color: #414859;
  width: 20% !important;
}
[parent] {
  background-color: green;
}
.content_inner_wrapper
{
  width: 67% !important;
  margin: 0 auto !important;
}
.back_link
{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.back_link a
{
  text-decoration: none;
  color: #595959;
}
.back_link a:hover
{
  text-decoration: none;
  color: #FEC53D !important;
}
.back_link a i
{
  padding-right: 5px;
}
[role="main"]
{
  width: 94% !important;
}
.version_txt
{
  color: #32A061;
}
#sidebar .sphinxsidebar .sphinxsidebarwrapper h3
{
  padding-top: 30px;
  color: #fff;
  font-family: 'Khula';
}
#sidebar .sphinxsidebar .sphinxsidebarwrapper ul li
{
  list-style-type: none;
  color: #fff;
}
#sidebar .sphinxsidebar .sphinxsidebarwrapper ul li a
{
  color: #fff;
  text-decoration: none;
}
#sidebar .sphinxsidebar .sphinxsidebarwrapper ul li a code
{
  color: #32A061;
  text-decoration: none;
}
/* Reference Page ends here */
